<div [ngStyle]="{'z-index': options.zIndex ?? 'auto'}">
	<div class="modal-header">
		<h5 class="modal-title">{{ options.title }}</h5>
		<button (click)="close()" [attr.aria-label]="'common.close' | i18n" class="btn-close" id="button-close" type="button">
		</button>
	</div>
	<div class="modal-body">
		<p [innerHTML]="options.message | valueToSafeHtml:false" #messageContent></p>
	</div>
	<div class="modal-footer">
		<button
			id="button-copy"
			type="button"
			class="btn btn-secondary"
			pTooltip="{{'webclient.dialog.clipboardCopy' | i18n }}"
			[attr.aria-label]="'webclient.dialog.clipboardCopy' | i18n"
			[tooltipOptions]="tooltipDefaults"
			(click)="copyTextToClipboard()">
			<i class="fa fa-clipboard" aria-hidden="true"></i>
		</button>
		<button
			*ngFor="let buttonOption of buttonOptions"
			id="{{buttonOption.id}}"
			type="button"
			class="btn btn-primary"
			[ngClass]="buttonOption.cssClasses"
			(click)="buttonOption.callback();">
			{{ buttonOption.caption | i18n }}
		</button>
	</div>

</div>
