<div class="ag-floating-filter-body">
	<div class="ag-floating-filter-input">
		<input
			class="form-control form-control-sm"
			type="text"
			id="{{colId}}"
			[ngModel]="model"
			(keydown)="keydown = true;"
			(keyup)="keydown = false; onChangeEvent($event.target.value)">
	</div>
</div>
