:host ::ng-deep .input-group-text {
	font-size: 0.6875rem !important;
}

:host ::ng-deep .custom-select {
	font-size: 0.6875rem !important;
}

:host {
	width: 100%;
}

input {
	text-align: right;
	width: 100%;
	height: 20px;
	min-height: 20px;
}
