:host {
	height: 100%;
	min-height: 20px;   /* Content of this component may overlap with other components, if the container has no min height */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.titled-separator {
	width: 100%;
	border-bottom: 1px solid #A0A0A0;
	text-align: left;
	padding-left: 20px;
	height: 18px;
	margin-bottom: 15px;
}

.titled-separator span {
	line-height: 15px;
	font-size: 0.8rem;
	padding: 0 10px;
	background: #ffffff; /* Color of the element below */
	display: inline-block;
	margin-top: 10px;
	color: #707070;
}
