<div id="list-export-modal">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">{{'webclient.sideview.listexport.title' | i18n}}</h5>
			<button type="button" class="btn-close close" data-dismiss="modal" [attr.aria-label]="'common.close' | i18n" (click)="close()">
			</button>
		</div>
		<div class="modal-body">
			<div>{{'webclient.sideview.listexport.format.title' | i18n}}</div>
			<div>
				<div>
					<div>
						<input type="radio"
						       name="export-format"
						       [(ngModel)]="format"
						       (change)="pageOrientationLandscape = false; exportLink = undefined;"
						       value="pdf" id="listexport-format-pdf">
						<label for="listexport-format-pdf">{{'webclient.sideview.listexport.format.pdf' | i18n}}</label>
					</div>
					<fieldset class="panel" [disabled]="format != 'pdf'">
						<legend class="legendpanel">
							{{'webclient.sideview.listexport.format.pdf.preferences' | i18n}}
						</legend>
						<div class="orientation">
							<div>
								<input type="radio"
								       name="page-orientation"
								       [checked]="!pageOrientationLandscape"
								       (change)="pageOrientationLandscape = false; exportLink = undefined;"
								       value=false id="listexport-pageOrientation-portrait">
								<label for="listexport-pageOrientation-portrait">
									{{'webclient.sideview.listexport.format.pdf.pageOrientationPortrait' | i18n}}
								</label>
							</div>
							<div>
								<input type="radio"
								       name="page-orientation"
								       [checked]="pageOrientationLandscape"
								       (change)="pageOrientationLandscape = true; exportLink = undefined;"
								       value=true id="listexport-pageOrientation-landscape">
								<label for="listexport-pageOrientation-landscape">
									{{'webclient.sideview.listexport.format.pdf.pageOrientationLandscape' | i18n}}
								</label>
							</div>
						</div>

						<div>
							<input type="checkbox"
							       [(ngModel)]="isColumnScaled"
							       (change)="exportLink = undefined;"
							       id="listexport-isColumnScaled">
							<label for="listexport-isColumnScaled">
								{{'webclient.sideview.listexport.format.pdf.isColumnScaled' | i18n}}
							</label>
						</div>
					</fieldset>
				</div>

				<div>
					<input type="radio"
					       name="export-format"
					       [(ngModel)]="format"
					       (change)="exportLink = undefined;"
					       value="csv"
					       id="listexport-format-csv">
					<label for="listexport-format-csv">
						{{'webclient.sideview.listexport.format.csv' | i18n}}
					</label>
				</div>

				<div>
					<input type="radio"
					       name="export-format"
					       [(ngModel)]="format"
					       (change)="exportLink = undefined;"
					       value="xlsx"
					       id="listexport-format-xlsx">
					<label for="listexport-format-xlsx">
						{{'webclient.sideview.listexport.format.xlsx' | i18n}}
					</label>
				</div>

				<div>
					<input type="radio"
					       name="export-format"
					       [(ngModel)]="format"
					       (change)="exportLink = undefined;"
					       value="xls"
					       id="listexport-format-xls">
					<label for="listexport-format-xls">
						{{'webclient.sideview.listexport.format.xls' | i18n}}
					</label>
				</div>
			</div>


			<div class="alert alert-danger mt-2" role="alert" *ngIf="!!(error_msg)">
				<h4 class="alert-heading">{{'webclient.error.title' | i18n}}</h4>
				<p>{{'webclient.sideview.listexport.error' | i18n:error_msg }}</p>
			</div>

			<button id="execute-listexport-button" class="btn btn-primary"
			        [disabled]="!!(!format || exportLink || exporting)"
			        (click)="executeListExport()">
				<i *ngIf="exporting" class="fa fa-spinner fa-spin"></i>
				{{'webclient.sideview.listexport.execute' | i18n}}
			</button>
			<button class="btn btn-success mt-2 ml-2" *ngIf="exportLink" (click)="download()">
				{{'webclient.sideview.listexport.download' | i18n }}
			</button>
		</div>
	</div>
</div>
