<fieldset
	[attr.id]="getId()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	style="margin-left: 3px"
	[ngStyle]="getStyle()"
	*ngIf="!isHidden"
>
	<nuc-tooltip-value *ngIf="!isHidden" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
	<div class="p-field-radiobutton"
	     *ngFor="let option of getOptions().option">
		<p-radioButton
			[attr.id]="getId()"
			[attr.name]="getNameForHtml()"
			[value]="option.value"
			[styleClass]="getValidationCssClasses()"
			[ngModel]="getValue()"
			[disabled]="!isWritable()"
			(ngModelChange)="setValue($event)"
			[inputId]="option.name"></p-radioButton>
		<label [for]="option.name">{{option.label}}</label>
	</div>
</fieldset>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
