<div style="height: 100%; display: flex; flex-direction: column; overflow: auto">
	<div style="flex: 1">
		<span #addonViewContainer></span>
		<span *ngIf="message !== undefined">{{message}}</span>
	</div>
</div>
