<div *ngIf="rightSideTitleString && rightSideString"
     pTooltip="{{ rightSideTitleString }}" [tooltipOptions]="tooltipDefaults">
	<nuc-tooltip-value [tooltip]="rightSideTitleString"></nuc-tooltip-value>
	<div class="sideview-statusbar-content">
		{{ rightSideString }}
	</div>
</div>
