<a
	*ngIf="isVisible"
	class="refresh-reference"
	href="#{{router.url}}"
	(click)="refreshReference($event);"
	pTooltip="{{'webclient.button.refresh' | i18n}}" [tooltipOptions]="tooltipDefaults">
	<i class="fa fa-refresh" aria-hidden="true"></i>
	<span class="fas sr-only">{{'webclient.button.refresh' | i18n}}</span>
</a>
