<div class="input-group input-group-sm" [ngStyle]="{'height': getStyle()['min-height']}">
	<input
		*ngIf="!isHidden"
		[ngStyle]="getStyle()"
		type="text"
		[attr.id]="getId()"
		[attr.name]="getNameForHtml()"
		[attr.next-focus-field]="getNextFocusField()"
		[attr.next-focus-comp]="getNextFocusComponent()"
		[attr.initial-focus]="getInitialFocus()"
		class="form-control form-control-sm"
		[ngClass]="getCssClasses()"
		[ngModel]="getValueString()"
		(ngModelChange)="setValueString($event)"
		(blur)="stopEditing()"
		[readonly]="!isWritable()"
		[attr.autocomplete]="getAutoCompleteValue()"
		[maxLength]="maxLength"
	/>
	<a *ngIf="isLocalized"
	   tabindex="1"
	   style="font-size: 0.6875rem;"
	   class="p-inputgroup-addon p-element p-button p-button-icon-only p-component p-ripple"
	   role="button"
	   href="{{'#' | current_href}}"
	   (keyup)="processKeyInput($event)"
	   (click)="editLocalization()">
		<i style="color: white;" class="fas fa-globe"></i>
		<span class="fas sr-only">{{ 'webclient.localization.edit.sr' | i18n: attributeMeta.getAttributeName() }}</span>
	</a>
</div>
<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
