<div class="modal-header">
	<ng-container
		*ngTemplateOutlet="headerTemplate ? headerTemplate: defaultHeader"
	></ng-container>
</div>

<div class="modal-body">
	<ng-content></ng-content>
</div>

<div *ngIf="footerTemplate" class="modal-footer">
	<ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
</div>


<ng-template #defaultHeader>
	<h5 class="modal-title">{{title}}</h5>
	<button (click)="close()" [attr.aria-label]="'common.close' | i18n" class="btn-close" data-bs-dismiss="modal" id="button-close" type="button">
	</button>
</ng-template>
