<nuc-view-preferences-config
	[meta]="meta"
	[hiddenColumns]="subform.hiddenColumns"
	[selectedSideviewmenuPref$]="selectedSideviewmenuPref$"
	[layoutId]="subform.eo?.getLayoutId()"
>
</nuc-view-preferences-config>

<div [ngClass]="subform.getToolbarOrientation() === 'HORIZONTAL' ? 'horizontal' : 'vertical'">
	<div
		pTooltip="{{'webclient.subform.button.newRow' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
		*ngIf="subform.isNewVisible()"
	>
		<button
			class="btn btn-small new-subbo"
			(click)="subform.newEntry($event)"
			[disabled]="!subform.isNewEnabled()"
		>
			<i class="fa fa-plus" aria-hidden="true"></i>
			<span class="fas sr-only">{{'common.button.add' | i18n}}</span>
		</button>
	</div>
	<div
		pTooltip="{{'webclient.subform.button.deleteSelectedRows' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
		*ngIf="subform.isDeleteVisible()"
	>
		<button
			class="btn btn-small delete-selected-subbos"
			(click)="subform.deleteSelected()"
			[disabled]="!subform.isDeleteEnabled()"
		>
			<i class="fa fa-trash" aria-hidden="true"></i>
			<span class="fas sr-only">{{'common.button.delete' | i18n}}</span>
		</button>
	</div>
	<div
		pTooltip="{{'webclient.subform.button.cloneSelectedRows' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
		*ngIf="subform.isCloneVisible()"
	>
		<button
			class="btn btn-small clone-selected-subbos"
			(click)="subform.cloneSelected()"
			[disabled]="!subform.isCloneEnabled()"
		>
			<i class="fa icon-half fa-copy" aria-hidden="true"></i>
			<span class="fas sr-only">{{'common.button.clone' | i18n}}</span>
		</button>
	</div>
	<div id="filter-bo-list"
	     pTooltip="{{'webclient.sideview.listfilter.title' | i18n}}" [tooltipOptions]="tooltipDefaults">
		<button
			(click)="subform.toggleFilter()"
			class="btn btn-small filter-subbos"
		>
			<i aria-hidden="true" [ngClass]="{'fa': true, 'fa-filter': true, 'active-filter': isAnyFilterActive()}"></i>
			<span class="fas sr-only">{{'webclient.sideview.listfilter.title' | i18n}}</span>
		</button>
	</div>
	<div
		pTooltip="{{'webclient.subform.button.showAdditionalActions' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
	>
		<button
			#openPopupButton
			class="btn btn-small open-more-actions-popup"
			(click)="showPopup()"
			(keydown)="keydown($event)"
			(keyup)="keyup($event)"
		>
			<i class="fa-solid fa-ellipsis" aria-hidden="true"></i>
			<span class="fas sr-only">{{'common.button.more' | i18n}}</span>
		</button>
	</div>
	<nuc-copy-and-paste-popup #copyAndPastePopupComponent
	                          [meta]="meta"
	                          [subform]="subform"></nuc-copy-and-paste-popup>

	<div
		*ngIf="subform.hasAutonumber()"
	>
		<div id="autonumber-move-up"
		     pTooltip="{{'webclient.subform.button.moveUp' | i18n}}" [tooltipOptions]="tooltipDefaults">
			<button
				class="btn btn-small autonumber-move-up"
				(click)="subform.moveSelectedRowsUp()"
				[disabled]="!subform.canMoveSelectedRowsUp()"
			>
				<i class="fa fa-arrow-up" aria-hidden="true"></i>
				<span class="fas sr-only">{{'webclient.subform.button.moveUp' | i18n}}</span>
			</button>
		</div>
		<div id="autonumber-move-down"
		     pTooltip="{{'webclient.subform.button.moveDown' | i18n}}" [tooltipOptions]="tooltipDefaults">
			<button
				class="btn btn-small autonumber-move-down"
				(click)="subform.moveSelectedRowsDown()"
				[disabled]="!subform.canMoveSelectedRowsDown()"
			>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
				<span class="fas sr-only">{{'webclient.subform.button.moveDown' | i18n}}</span>
			</button>
		</div>
	</div>
</div>
