:host {
	position: relative;
	flex: 0 0 24px;
	display: flex;
}

:host.vertical, .vertical {
	display: flex;
	min-width: 24px;
	flex-direction: column;
}

:host.horizontal, .horizontal {
	display: flex;
	min-height: 24px;
	flex-direction: row;
}

.btn {
	padding: 0px;
	width: 24px;
	height: 25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.btn:focus {
	border: 1px solid;
}

.btn:disabled {
	border: none;
}

.new-subbo i {
	margin-top: 4px;
}

.new-subbo,
.delete-selected-subbos,
.clone-selected-subbos,
.export-subbos,
.autonumber-move-up,
.autonumber-move-down {
	background-color: transparent;
}

