{{value}}
<div *ngIf="attributeMeta !== undefined" class="lov-overlay">
	<!-- VLPs are not initiated at this time. Search only via an active editor -->
	<!--nuc-search-reference-target
		*ngIf="isEditable"
		[eo]="subEO"
		[attributeMeta]="attributeMeta"
		[popupParameter]="popupParameter"
	></nuc-search-reference-target-->
	<nuc-edit-reference-target
		[eo]="subEO"
		[attributeMeta]="attributeMeta"
		[attribute]="attribute"
		[popupParameter]="popupParameter"
		(referenceUpdated)="refreshCell()"
	></nuc-edit-reference-target>
	<!-- consistently: no search -> no add -->
	<!--nuc-add-reference-target
		*ngIf="isEditable"
		[eo]="subEO"
	    [attributeMeta]="attributeMeta"
		[popupParameter]="popupParameter"
	></nuc-add-reference-target-->
</div>
