:host {
	display: block;
	width: 100%;
	height: 100%;
    background-color: inherit;
}

@import "../../../../layout/abstract-lov/lov-overlay.scss";

.lov-overlay {
	right: 0px;
}

.lov-overlay {
	z-index: 101;
}

:host:hover .lov-overlay {
	z-index: 101;
	animation: showtooltip 1s linear alternate;
}

@keyframes showtooltip {
	from { z-index: 101; }
	to { z-index: 101; }
}

.lov-overlay:hover .fa {
	font-weight: bolder;
}
