<div *ngIf="visible">
	<div class="perspective-button-outer-container">
		<div class="perspective-button-inner-container">

			<nuc-perspective-button
				*ngFor="let perspectivePref of getModel().perspectives"
				[perspectivePref]="perspectivePref"
			>
			</nuc-perspective-button>

			<div class="btn-group">
				<button
					id="newPerspective"
					*ngIf="isNewAllowed()"
					class="btn btn-secondary perspective-button perspective-button-new"
					(click)="openNew()"
				>
					<i class="fa fa-fw fa-plus"></i>
				</button>

				<button
					id="editPerspective"
					*ngIf="isEditAllowed() && this.currentPerspectivePref !== undefined"
					class="btn btn-secondary perspective-button perspective-button-edit"
					(click)="editPerspective()"
				>
					<i class="fa fa-fw fa-edit"></i>
				</button>

				<button
					id="deletePerspective"
					*ngIf="isEditAllowed() && this.currentPerspectivePref !== undefined"
					class="btn btn-secondary perspective-button perspective-button-delete"
					(click)="deletePerspective()"
				>
					<i class="fa fa-fw fa-trash
"></i>
				</button>
			</div>
		</div>
	</div>
</div>
