<div style="position: relative;  width: 18rem; height: 2rem; background-color: lightgray;">
	<nuc-subform-search-filter-selector [dependentFilterKey]="dependentFilterKey" [searchfilter]="getSelectedSearchfilter()">
	</nuc-subform-search-filter-selector>
	<button
		id="searchfilter-clear"
		class="btn btn-link toolbar-button p-1"
		(click)="clearSearchfilter()"
		pTooltip="{{'webclient.searcheditor.searchfilter.clear' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
	>
		<i class="fa fa-fw fa-eraser"></i>
	</button>
</div>

<div id="filter-editor-overlay" style="position: relative; width: 18rem; background-color: rgba(242, 242, 242, 0.91);">
	<div id="meta-editor-container" class="search-editor-attributes-container">
		<ng-container *ngIf="isTemp">
			<button
				id="meta-editor-make-temp-persistent"
				class="btn meta-editor-button p-1"
				(click)="makeTempPersistent()"
			>
				<i class="fa fa-fw fa-floppy-o"></i>
				Als Suchfilter speichern</button>
		</ng-container>

		<ng-container *ngIf="!isTemp && getSelectedSearchfilter()">
			<div class="meta-buttons-container">
			<button
				id="meta-editor-save-changes"
				class="btn meta-editor-button p-1"
				(click)="saveChanges()"
				*ngIf="isDirty()"
			>
				<i class="fa fa-fw fa-floppy-o"></i>
				Änderungen speichern</button>
			</div>

			<div class="meta-buttons-container">
				<button
					*ngIf="!isShared()"
					id="meta-editor-undo-changes"
					class="btn meta-editor-button p-1"
					(click)="undoChanges()"
					[disabled]="!isDirty()"
				>
					<i class="fa fa-fw fa-undo"></i>
					{{'webclient.searcheditor.searchfilter.undo.changes' | i18n}}
				</button>
			</div>

			<div class="meta-buttons-container"
			     *ngIf="!isShared()">
				<button
					id="meta-editor-delete-searchfilter"
					class="btn meta-editor-button p-1"
					(click)="deleteSearchfilter()"
				>
					<i class="fa fa-fw fa-trash"></i>
					{{'webclient.searcheditor.searchfilter.delete' | i18n}}
				</button>
			</div>


			<div class="h-line"> </div>


			<div id="meta-editor-name"
			     *ngIf="!isTempSearchfilter() && (!isShared() || isShareAllowed())">
				<span id="meta-editor-name-label">{{'webclient.searcheditor.searchfilter.name' | i18n}}:</span>
				<input
					id="meta-editor-name-input"
					type="text"
					class="form-control form-control-sm"
					[(ngModel)]="customSearchfilterName"
					(input)="getSelectedSearchfilter().dirty = true"
				/>
			</div>


			<div class="h-line"> </div>


			<div>
				{{'webclient.searcheditor.searchfilter.favorite' | i18n}}
				<input
					type="checkbox"
					id="meta-editor-show-as-favorite"
					value="true"
					[(ngModel)]="showAsFavorite"
					(change)="getSelectedSearchfilter().dirty = true"
				>
				{{'webclient.searcheditor.searchfilter.favorite.icon.picker' | i18n}}:<nuc-icon-picker
				[(selectedIcon)]="favoriteIcon"
				(selectedIconChange)="getSelectedSearchfilter().dirty = true"
				[disabled]="!showAsFavorite"></nuc-icon-picker>
			</div>
			<div id="meta-editor-position"
			     *ngIf="!isTempSearchfilter()">
				<span id="meta-editor-position-label">{{'webclient.searcheditor.searchfilter.position' | i18n}}:</span>
				<input
					id="meta-editor-position-input"
					type="number"
					min="1" max="9999" step="1"
					placeholder="1-9999"
					class="form-control form-control-sm"
					[(ngModel)]="position"
					(input)="getSelectedSearchfilter().dirty = true"
					[disabled]="!showAsFavorite"
				/>
			</div>

		</ng-container>
	</div>
</div>
