:host ::ng-deep .toolbar-button {
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 26px;
	height: 26px;
}

:host ::ng-deep .toolbar-button:disabled {
	cursor: not-allowed;
}

#filter-editor-overlay .search-editor-attributes-container {
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
	background-color: rgba(242, 242, 242, 0.91);
}

#filter-editor-overlay #meta-editor-container {
	display: flex;
	flex-flow: column;
	padding: 10px;
}

.meta-editor-button {
	margin-top: 5px;
	font-size: .75rem;
}

#filter-editor-overlay #meta-editor-name-input {
	margin-left: 5px;
	flex: 1;
}

#filter-editor-overlay .h-line {
	margin-top: 15px;
	border-bottom: lightgray solid 2px;
}

#filter-editor-overlay #meta-editor-name, #meta-editor-position {
	display: flex;
	margin-top: 5px;
	align-items: baseline;
}

#filter-editor-overlay #meta-editor-name-input {
	margin-left: 5px;
	flex: 1;
}

#filter-editor-overlay #meta-editor-name-input {
	margin-left: 5px;
	flex: 1;
}

#filter-editor-overlay #meta-editor-position {
	margin-top: 5px;
}

#filter-editor-overlay #meta-editor-position-input {
	margin-left: 5px;
	width: 6rem;
}

#filter-editor-overlay ::ng-deep .icon-picker {
	margin-top: 5px;
	margin-left: 5px;
}
