<div *ngIf="news">
	<ul id="news" class="navbar-nav">
		<li class="nav-item dropdown">
			<a
				class="nav-link dropdown-toggle ellipsis"
				tabindex="0"
				data-bs-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
				(click)="!newsExpanded ? loadNews() : newsExpanded = false"
				title="{{'webclient.news.name' | i18n }}"
			>
				<i class="fa fa-question-circle"></i>
				<span class="fas sr-only">{{'webclient.news.name' | i18n }}</span>
			</a>
			<div class="dropdown-menu" [ngClass]="{'dropdown-menu-end': !positionStart, 'dropdown-menu-start': positionStart}">
				<a class="dropdown-item" *ngFor="let item of news"
				   (click)="showNews(item)">
					<i class="fa fa-exclamation-circle"></i>
					{{item.title || item.name}}
				</a>
				<ng-container *ngIf="addonMenuItems !== undefined && addonMenuItems.length > 0">
					<nuc-addon-menu-item
						*ngFor="let menuItem of addonMenuItems"
						[menuItem]="menuItem"
						[position]="'newsmenu'">
					</nuc-addon-menu-item>
				</ng-container>
			</div>
		</li>
	</ul>
</div>
