<div class="dialog" id="input-required-dialog">
	<div class="modal-body">
		<table class="table table-striped">
			<thead class="thead-light">
			<tr>
				<th scope="col">{{'webclient.collectiveProcessing.editingFieldTableHeader3' | i18n}}</th>
				<th scope="col">{{'webclient.collectiveProcessing.editingFieldTableHeader4' | i18n}}</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let field of values | async">
				<td>{{field.value}}</td>
				<td>{{field.count}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button (click)="ok()" class="btn btn-primary" id="button-ok" type="submit">
			{{'webclient.button.ok' | i18n}}
		</button>
	</div>
</div>
