<div id="reports" class="row">
	<div class="col-md-8">
		<div id="grid-container" class="card scrollable">
			<div class="card-header">
				{{'webclient.reports' | i18n}}
			</div>
			<div class="card-body">
				<ag-grid-angular
					#agGrid
					class="ag-theme-balham"
					[gridOptions]="gridOptions"
					(gridReady)="gridReady($event)"

					nucGrid
				>
				</ag-grid-angular>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div *ngIf="selectedReportItem" id="execution" role="tablist" aria-multiselectable="true">
			<div class="card card-default">
				<div class="card-header">
					{{'webclient.reports.execution' | i18n}}
				</div>
				<div class="in show" role="tabpanel">
					<div class="card-body container">
						<div class="row">
							<div class="col">
								<button
									class="btn btn-primary btn-info btn-sm"
									(click)="executeReport(selectedReportItem)"
									[disabled]="selectedReportItem.reportType === 'Excel'"
								>
									{{'webclient.reports.button.execute' | i18n}}
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col small">
								<span
									*ngIf="selectedReportItem.reportType === 'Excel'"
								>
									{{'webclient.reports.button.execute.no.excel' | i18n}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
