#reports {
	padding: 15px;

	margin-left: initial;
	margin-right: initial;
}

.card-body {
	overflow: auto;
}

#reports {
	display: flex;
	height: 100%;
}

#reports > * {
	display: flex;
	flex-flow: column;
}

#reports > * .card {
	flex: 1 1 auto;
}

#accordion {
	display: flex;
	flex-flow: column;
}

.collapse {
	overflow: auto;
	max-height: 60vh; /* TODO */
}


:host ::ng-deep .string {
	color: green;
}

:host ::ng-deep .number {
	color: darkorange;
}

:host ::ng-deep .boolean {
	color: blue;
}

:host ::ng-deep .null {
	color: magenta;
}

:host ::ng-deep .key {
	color: red;
}

.sortable-header {
	cursor: pointer;
}


.text-search-input {
	border: 1px solid lightgray;
	margin-top: 5px;
	width: 188px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.clear-searchfilter {
	top: 2px;
	right: 2px;
}

#grid-container {
	height: 100%;
}

#grid-container .card-body {
	/* TODO workaround for preferences column init problem */
	width: calc(64vw);
}

ag-grid-angular {
	width: 100%;
	height: 100%;
}

:host ::ng-deep .ag-header-cell:nth-child(1) .ag-floating-filter-input {
	display: none;
}

.list-group {
	margin-bottom: 10px;
}
