.line-fill {
	position: absolute;
	background: blue;
	transform-origin: center left;
}

.dot {
	z-index: 4;
	height: 9px;
	width: 9px;
	background-color: blue;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.arrow-right {
	position: absolute;
	clip-path: polygon(100% 50%, 0% 100%, 0 0%);
	background-color: blue;
	transform-origin: center right;
	transform: translate(-90%, -50%);
	width: 10px;
	height: 10px;
}

.arrow-left {
	position: absolute;
	clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
	background-color: blue;
	transform-origin: center right;
	transform: translate(-10%, -50%);
	width: 10px;
	height: 10px;
}

.arrow-up {
	position: absolute;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	background-color: blue;
	transform-origin: center right;
	transform: translate(-50%, 0%);
	width: 10px;
	height: 10px;
}

.arrow-down {
	position: absolute;
	clip-path: polygon(50% 100%, 100% 0%, 0 0%);
	background-color: blue;
	transform-origin: center right;
	transform: translate(-50%, -90%);
	width: 10px;
	height: 10px;
}

.parent {
	z-index: 4;
}

.parent > div {
	z-index: 4;
}

.parent-selected > div {
	background-color: #cd5700 !important;
	z-index: 5;
}

.parent:hover > div {
	z-index: 6;
	background-color: orange
}

