<div class="relation-base"
	style=" -ms-flex: 1; flex: 1; display: flex;"
    [ngClass]="parentStyle"
>

	<!-- edges -->
	<ng-container *ngFor="let r of edges">
		<div class="line-fill"
			[style.left]="r.x + 'px'"
			[style.top]="r.y + 'px'"
			[style.width]="r.width + 'px'"
			[style.height]="r.height + 'px'"
			[style.transform]="'rotate(' + r.rotation + 'rad)'"
			attr.data-relation-index="{{relationIndex}}"
		>
		</div>
	</ng-container>

	<!-- from symbol -->
	<div id="capStart" *ngIf="fromCapStyle && fromCapStyle !== '1'"
	     attr.data-relation-index="{{relationIndex}}"
	     [ngClass]="fromCapStyle"
	     [style.left]="viewElement.fromX + 'px'"
	     [style.top]="viewElement.fromY + 'px'"
	>
	</div>

	<!-- to symbol -->
	<div id="capEnd" *ngIf="toCapStyle && toCapStyle !== '1'"
	     attr.data-relation-index="{{relationIndex}}"
	     [ngClass]="toCapStyle"
	     [style.left]="viewElement.toX + 'px'"
	     [style.top]="viewElement.toY + 'px'"
	>
	</div>
</div>
