<div id="full-text-search" *ngIf="showFullTextSearch">
	<div class="full-text-input form-inline search-input">
		<nuc-dropdown
			#dropdown
			(completeMethod)="searchtextChanged()"
			(ngModelChange)="modelChanged($event)"
			(onSelect)="navigateToResult($event)"
			[dropdown]="false"
			[htmlValues]="true"
			[internalFiltering]="false"
			[ngModel]="searchtext"
			[placeholder]="'webclient.menu.livesearch' | i18n"
			[suggestions]="results$ | async"
			appendTo="body"
			field="text"
			id="nuc-full-text-search-dropdown">
		</nuc-dropdown>
	</div>
</div>
