:host, :host .form-control {
	font-size: 0.75rem;
}

:host .form-control {
	padding: 0rem 0.75rem;
}

#full-text-search {
	padding-top: 0.125rem;
}

::ng-deep .p-autocomplete-panel[for-id="nuc-full-text-search-dropdown"] {
	max-height: 80% !important;
}

.full-text-search-result {
	min-width: 150px;
	z-index: 100;
	overflow: scroll;
	max-height: 80%;
	position: fixed;
	text-align: left;

	padding: 0.25rem;
	border: 1px solid black;
	border-radius: 0.25rem;
	background-color: white;
}

.clear-searchfilter {
	right: 14px;
	top: 0px;
	width: 0px;
	position: relative;
	left: inherit;
}

.full-text-search-result-item:hover {
	background-color: #D0D0D0;
}

.full-text-search-result-item a:focus,
.full-text-search-result-item a:hover {
	text-decoration: none;
}

:host ::ng-deep .result {
	margin-left: 1rem;
}
