<div class="input-group">
	<div class="input-group-prepend">
		<label class="input-group-text" for="inputGroupSelect01">Filter</label>
	</div>
	<select (ngModelChange)="onChangeIsCustomized($event)" [ngModel]="customizedFilterType"
	        class="custom-select" id="inputGroupSelect01">
		<option value="all">
			{{'webclient.preferences.customizedFilter.all' | i18n }}</option>
		<option value="customized">
			{{'webclient.preferences.customizedFilter.onlyCustomized' | i18n }}</option>
		<option value="notcustomized">
			{{'webclient.preferences.customizedFilter.notCustomized' | i18n }}</option>
	</select>
</div>
