@import "src/styles";

.cell-base {
	z-index: 0;
}

.grid-cell {
	border-right-style: dashed;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #AAAAAA;
	border-right-color: #AAAAAA;
	position: absolute;
	z-index: 0;
}

.cell-base:hover {
	background-color: $row-selected-background-color;
}

:host ::ng-deep .cell-today, .cell-today.cell-weekend, .cell-today.cell-holiday {
	background-color: $row-new-background-color;
}

:host ::ng-deep .cell-today:hover, .cell-today.cell-weekend:hover, .cell-today.cell-holiday:hover {
	background-color: $row-new-selected-background-color;
}

:host ::ng-deep .cell-holiday, .cell-weekend {
	background-color: $row-deleted-background-color;
}

:host ::ng-deep .cell-holiday:hover, .cell-weekend:hover {
	background-color: $row-deleted-selected-background-color;
}

.cell-base.cell-selected {
	background-color: #A0A0A0;
}

.cell-base.cell-selected.cell-today, .cell-base.cell-selected.cell-today.cell-weekend, .cell-base.cell-selected.cell-today.cell-holiday {
	background-color: #699e68;
}

.cell-base.cell-selected.cell-weekend, .cell-base.cell-selected.cell-holiday {
	background-color: #b07f7f;
}
