<div class="cell-base grid-cell"
     attr.data-time-allocation="{{timeAllocation}}"
     [ngClass]="styleClasses"
     [style.top]="(viewConfiguration.tableAlignment == 0 ? timeIndex : resourceIndex) * cellHeight + 'px'"
     [style.left]="(viewConfiguration.tableAlignment == 1 ? timeIndex : resourceIndex) * cellWidth + 'px'"
     [style.width]="cellWidth + 'px'"
     [style.height]="cellHeight + 'px'"
>
<!--<span>{{timeAllocation.fromTime}}</span>-->
<!--	<span>{{timeAllocation.untilTime}}</span>-->
</div>
