<div class="dropdown state-container" *ngIf="currentState">

	<button id="nuclosCurrentState" class="btn btn-secondary btn-sm dropdown-toggle"
	        data-bs-toggle="dropdown"
	        aria-haspopup="true"
	        aria-expanded="false"
	        pTooltip="{{'webclient.button.current.state' | i18n}}"
	        [tooltipOptions]="tooltipDefaults"
	        [ngStyle]="currentState.color ? {'background-color': !saveInProgress ? currentState.color : '#acacac', 'color': textColor} : {'background-color': '#FFFFFF', 'color': textColor}"
	        [attr.state-number]="currentState?.numeral">

		<img *ngIf="currentState?.links?.stateIcon !== undefined"
		     [src]="currentState?.links?.stateIcon?.href"
		     [hidden]="!currentState.showIcon"
		     class="state-icon"
		     style="margin-right: 0.5em"
		/>
		<span>{{(currentState?.showNumeral ? (currentState?.numeral + ' ') : '') + currentState?.name}}</span>
	</button>

	<div class="dropdown-menu">
		<div *ngFor="let state of currentAndNextStates">
			<nuc-dropdown-next-state
				*ngIf="!state.currentState"
				[state]="state"
				[saveInProgress]="saveInProgress"
				(changeState)="fireStateChange($event)"
				>
			</nuc-dropdown-next-state>
		</div>
	</div>
</div>
