.chart-types {
	flex-direction: row;
}

.chart-type {
	display: inline-block;
	flex: 1;
}

.active {
	border: 1px solid blue;
}

.inactive {
	opacity: 0.25;
	filter: alpha(opacity=25); /* msie */
}

.form-group {
	padding: 5px;
}

.form-check-inline {
	float: right;
}

.form-check-label {
	padding-left: 5px;
}

/* TODO fix after bootstrap update */
.form-check-input {
	margin-left: unset;
}

.form-control-vlg {
	height: calc(2em + 2rem + 2px) !important;
}
