<a
	*ngIf="isVisible"
	class="add-reference"
	href="#{{router.url}}"
	(click)="addReference($event)"
	pTooltip="{{'webclient.button.new' | i18n}}" [tooltipOptions]="tooltipDefaults">
	<i class="fa fa-plus" aria-hidden="true"></i>
	<span class="fas sr-only">{{'webclient.button.new' | i18n}}</span>
</a>
