<nuc-tab-bar
	[values]="eoChart.chartOptions?.primaryChart?.series"
	[ngModel]="selectedSeries"
	[contentTemplate]="contentTemplate"
	[titleTemplate]="titleTemplate"
	[canAdd]="true"
	[idForAdd]="'newSeries'"
	(addValue)="addSeries()"
>
</nuc-tab-bar>

<ng-template #contentTemplate
	let-series="value"
>
	<div
		class="form-group m-1"
	>
		<!--label for="seriesAttributeId">{{'webclient.charts.options.series.valueAttribute' | i18n}}</label-->
		<select
			id="seriesAttributeId"
			class="form-control"
			[ngModel]="series.boAttrId"
			(ngModelChange)="setAttributeId(series, $event)"
		>
			<option></option>
			<option
				*ngFor="let attribute of entityAttributes"
				[value]="attribute.id"
			>
				{{attribute.name}}
			</option>
		</select>
	</div>

	<div class="form-group m-1">
		<button
			id="removeSeries"
			class="btn btn-sm btn-default"
			(click)="removeSeries(series)"
		>
			{{'webclient.charts.options.series.remove' | i18n}}
		</button>
	</div>
</ng-template>

<ng-template #titleTemplate
	let-series="value"
	let-index="index"
>
	{{index+1}}
</ng-template>
