<div
	[ngStyle]="getStyle()"
	*ngIf="!isHidden"
>
	<input
		#hyperlinkInput
		*ngIf="isWritable() && (editing || !getUrl()) && !isHidden"
		type="url"
		[ngStyle]="getStyle()"
		[attr.id]="getId()"
		[attr.name]="getNameForHtml()"
		[attr.next-focus-field]="getNextFocusField()"
		[attr.next-focus-comp]="getNextFocusComponent()"
		[attr.initial-focus]="getInitialFocus()"
		class="form-control form-control-sm"
		[ngClass]="getCssClasses()"
		[ngModel]="getHyperlinkAttribute()"
		(ngModelChange)="editing = true; setHyperlinkAttribute($event);"
		(focusout)="stopEditing()"
	/>
	<a
		*ngIf="!editing && getUrl() && !isHidden"
		type="url"
		[attr.id]="getId()"
		[attr.name]="getNameForHtml()"
		[attr.next-focus-field]="getNextFocusField()"
		[attr.next-focus-comp]="getNextFocusComponent()"
		[attr.initial-focus]="getInitialFocus()"
		class="form-control form-control-sm ellipsis"
		[ngClass]="getCssClasses()"
		[href]="getUrl()"
		target="_blank"
		(focus)="focusLink()"
		(mouseover)="mouseover = true"
		(mouseleave)="mouseover = false"
	>{{getHyperlinkTitle()}}</a>
	<div
		tabindex="0"
		*ngIf="!isWritable() && !editing && !getUrl() && !isHidden"
		class="form-control form-control-sm ellipsis"
		[ngClass]="getCssClasses()"
		[attr.id]="getId()"
		[attr.name]="getNameForHtml()"
		[attr.next-focus-field]="getNextFocusField()"
		[attr.next-focus-comp]="getNextFocusComponent()"
		[attr.initial-focus]="getInitialFocus()">
		&nbsp;
	</div>

	<span *ngIf="isWritable() && getUrl() && !isHidden" class="icons">
		<a
			*ngIf="!editing"
			class="edit-hyperlink"
			href="#{{router.url}}"
			(click)="toggleEditing()"
			pTooltip="{{'webclient.button.editHyperlink' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
		>
			<i class="fa fa-edit fa-lg" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.button.editHyperlink' | i18n}}</span>
		</a>
		<a
			*ngIf="editing"
			href="#{{router.url}}"
			class="complete-hyperlink-editing"
			(click)="toggleEditing()"
		>
			<i class="fa fa-check fa-lg" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.button.editHyperlink' | i18n}}</span>
		</a>
	</span>
	<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
	<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
</div>
