<div [ngClass]="{'row': !singleSideMode}">
	<div *ngIf="!singleSideMode" class="select-box-container select-box-container-available col-sm-4">
		<fieldset>
			<div class="select-box-header" [ngClass]="{ hidden : disableFilter || (availableItems.length <= 8 && !listFilterAvailable.value) }">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="listFilter-input">{{ availableHeaderKey | i18n }}</span>
					</div>
					<input #listFilterAvailable
					       (keyup)="0"
					       type="text"
					       class="form-control"
					       aria-label="Filter"
					       aria-describedby="listFilter-input">
				</div>
			</div>
			<div id="available-items" class="select-box disable-text-selection">
				<div
					*ngFor="let item of availableItems | listFilter: { 'name': listFilterAvailable.value }; "
					class="select-item"
					[ngClass]="{'marked': item.marked}"
					(click)="toggleMark(item, $event)"
					(dblclick)="select(item)"
					[attr.attr-fqn]="item.boAttrId"
				>
					<span [innerHTML]="item.name | valueToSafeHtml"></span>
				</div>
			</div>
		</fieldset>
	</div>

	<div *ngIf="!singleSideMode" class="col-sm-2 d-grid gap-1 d-flex flex-column">
		<button (click)="selectAll()" id="btn-select-all" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableSelectAllButton">
			<i class="fa fa-angle-double-right"></i>
		</button>
		<button (click)="selectMarked()" id="btn-selected-marked" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableSelectMarkedButton">
			<i class="fa fa-angle-right"></i>
		</button>
		<button (click)="deselectMarked()" id="btn-deselected-marked" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableDeselectMarkedButton">
			<i class="fa fa-angle-left"></i>
		</button>
		<button (click)="deselectAll()" id="btn-deselect-all" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableDeselectAllButton">
			<i class="fa fa-angle-double-left "></i>
		</button>
	</div>

	<div class="select-box-container select-box-container-selected col-sm-4" *ngIf="!singleSideMode"  >
		<fieldset>
			<div class="select-box-header" [ngClass]="{ hidden : disableFilter || (selectedItems.length <= 8 && !listFilterSelected.value) }">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="selectedFilter-input">{{ selectedHeaderKey | i18n }}</span>
					</div>
					<input #listFilterSelected
					       (keyup)="0"
					       type="text"
					       class="form-control"
					       aria-label="Filter"
					       aria-describedby="selectedFilter-input">
				</div>
			</div>
			<div
				id="selected-items"
				class="select-box disable-text-selection"
				dnd-sortable-container [sortableData]="selectedItems"
			>
				<div
					*ngFor="let item of selectedItems | listFilter: { 'name': listFilterSelected.value }; let i = index;"
					class="select-item"
					[ngClass]="{'marked': item.marked}"
					[attr.attr-fqn]="item.boAttrId"

					dnd-sortable
					[sortableIndex]="i"
					[dragEnabled]="listFilterSelected.value.length === 0"
					(onDropSuccess)="dropped(selectedItems)"
				>
					<div
						class="pin-column"
					    (click)="togglePinnedItem(item)"
					>
						<i
							[ngClass]="'fa-sm fa-sharp fa-solid fa-thumb-tack ' + (item.fixed ? 'item-pinned' : 'item-unpinned')"
							[ngStyle]="{'margin-right': '4px', 'opacity': !item.fixed ? 0.4 : 1.0}"
						></i>
					</div>
					<div
						class="select-item-name"
						(click)="toggleMark(item, $event)"
						(dblclick)="deselect(item)"
					>
						<span [innerHTML]="item.name | valueToSafeHtml"></span>
						<span
							*ngIf="item.sort"
							class="sort-icon fa"
							[ngClass]="item.sort.direction == 'asc' ? 'fa-chevron-up' : item.sort.direction == 'desc' ? 'fa-chevron-down' : ''"
						>{{item.sort.prio}}</span>

					</div>
				</div>
			</div>
		</fieldset>
	</div>

	<div
		id = "move-marked-buttons-container"
	     *ngIf="!singleSideMode"
	     class="col-sm-2 d-grid gap-1 d-flex flex-column"
		>
		<button (click)="moveSelectionToTop()" id="btn-move-to-top" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableMovementUpwards">
			<i class="fa fa-angle-double-up"></i>
		</button>
		<button (click)="moveSelectionUp()" id="btn-move-up" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableMovementUpwards">
			<i class="fa fa-angle-up"></i>
		</button>
		<button (click)="moveSelectionDown()" id="btn-move-down" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableMovementDownwards">
			<i class="fa fa-angle-down"></i>
		</button>
		<button (click)="moveSelectionToBottom()" id="btn-move-to-bottom" type="button" class="btn btn-secondary btn-sm"
		        [disabled]="disableMovementDownwards">
			<i class="fa fa-angle-double-down "></i>
		</button>
	</div>
</div>
