:host {
	width: 100%;
}
.select-box {
	width: 100%;
	height: 100%;
	max-height: calc(100vh - 600px);
	min-height: 160px;
	float: left;
	overflow: auto;
	padding-bottom: 1px;
}

.select-item {
	display: flex;
	float: left;
	width: 100%;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	cursor: pointer;
	background-color: white;

	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .2rem;

	margin-bottom: -1px;
	padding-left: 4px;
	font-size: 0.9rem;
}

.select-item.marked {
	background-color: #D0D0D0;
}

.select-item-name {
	flex: 10;
}

.row, .select-box-container, .select-box, fieldset {
	height: 100%;
}

.direction-icons .disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.select-item .direction-icons {
	display: none;
	margin-right: 2px;
}

.select-item:hover .direction-icons {
	display: initial;
}

.select-box-header {
	margin-bottom: 5px;
}

.select-box-header {
	font-size: 0.75rem;
}

.select-box-filter {
	font-size: 1rem;
}

.select-box-filter {
	padding: 0 5px 0 5px;
}

.hidden {
	display: none;
}

.sort-icon {
	font-size: 0.64rem;
	width: 9px;
	height: 9px;
	color: rgba(50, 125, 195, 0.7);
}
