<nuc-tab-bar>
	<nuc-tab
		[id]="'chart-tab-options'"
		[title]="'webclient.charts.options' | i18n"
		[selected]="true"
	>
		<ng-template nucTabContent>
			<nuc-chart-options
				[eoChart]="eo"
				class="m-1"
			></nuc-chart-options>
		</ng-template>
	</nuc-tab>
	<nuc-tab
		[id]="'chart-tab-extended'"
		[title]="'webclient.charts.extended' | i18n"
		[selected]="false"
	>
		<ng-template nucTabContent>
			<nuc-chart-extended
				[eoChart]="eo"
			></nuc-chart-extended>
		</ng-template>
	</nuc-tab>
</nuc-tab-bar>
