<nuc-modal-dialog [title]="'Filter Favoriten'" style="width: 100%">
	<div style="display: flex; flex-direction: column;">
			<a
			   tabindex="0"
			   aria-haspopup="true"
			   href="{{'#' | current_href}}"
			   *ngFor="let filter of favoriteFilters"
			   (click)="selectFilter(filter)"
			>
				<i
				   style="width: 1.5rem;"
				   class="material-icons" aria-hidden="true">{{ filter.content.favoriteIcon ?? filter.content.favoriteIcon }}</i>
				{{filter.name}}
				<i class="fa fa-solid fa-check" aria-hidden="true" *ngIf="filter === selectedFilter"> </i>
			</a>
	</div>
</nuc-modal-dialog>
