:host {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.ag-header-cell-text {
	text-align: left;
}

.ag-header-cell-label {
	display: flex;
	flex-direction: row;
}

.grid-header-fill {
	height: 100%;
	flex-grow: 1;
}
