<div (mouseleave)="setMenuOpacity(0)" (mouseover)="setMenuOpacity(1)"
     [pTooltip]="tooltip"
     [tooltipDisabled]="tooltip === undefined"
     [tooltipOptions]="tooltipDefaults"
     class="ag-cell-label-container"
     role="presentation">
	<nuc-tooltip-value *ngIf="tooltip !== undefined" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
	<span (click)="openMenu($event)" *ngIf="params.enableMenu"
	      class="ag-header-icon ag-header-cell-menu-button">
		<span class="ag-icon ag-icon-filter"></span>
	</span>
	<div class="ag-header-cell-label" role="presentation">
		<span (click)="sort()"
		      [innerHTML]="params.displayName | valueToSafeHtml"
		      class="ag-header-cell-text"></span>
		<span *ngIf="sortingAsc"
		      (click)="sort()"
		      class="ag-header-icon ag-header-label-icon ag-sort-ascending-icon">
			<span class="ag-icon ag-icon-asc"></span>
		</span>
		<span *ngIf="sortingDesc"
		      (click)="sort()"
		      class="ag-header-icon ag-header-label-icon ag-sort-descending-icon">
			<span class="ag-icon ag-icon-desc"></span>
		</span>
		<span *ngIf="multiSorting && (sortingAsc || sortingDesc)"
		      (click)="sort()"
		      class="ag-header-icon ag-header-label-icon ag-sort-order">
			{{sortIndex + 1}}
		</span>
		<div (click)="sort()"
		     class="grid-header-fill"></div>
	</div>
</div>
