<div class="fileupload-container disabled"
	*ngIf="!isWritable() && !isHidden"
	[id]="getId()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
    [attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
    tabindex="0"
	[ngClass]="{'image': isImage}"
>
	<ng-container *ngIf="!isImage && !fileName">
		&nbsp;
	</ng-container>
	<img
		*ngIf="isImage && getImageUrl()"
		src="{{getImageUrl()}}"
		class="image"
		(click)="clickOnFile()"
	>

	<div
		*ngIf="fileName && !isImage"
		class="document-filename ellipsis"
		pTooltip="{{fileName | valueToSafeHtmlString }}"
		[tooltipOptions]="tooltipDefaults"
		draggable="true"
		(dragstart)="beginDragAndDrop($event)"
		(click)="clickOnFile()"
	>
		<img
			src="{{fileIconUrl}}"
			class="file-icon"
		>
		<span>
			{{fileName}}
		</span>
	</div>
	<div *ngIf="hasDocument() || fileName" class="icons p-1">
		<a
			id="fileDownloadLink-{{getNameForHtml()}}"
			*ngIf="hasDocument()"
			class="download-file"
			[href]="getDownloadUrl()"
			target="_blank"
			pTooltip="{{'webclient.button.download' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
			[attr.next-focus-field]="getNextFocusField()"
			[attr.next-focus-comp]="getNextFocusComponent()"
			tabindex="0"
		>
			<i class="fa fa-download" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.button.download' | i18n}}</span>
		</a>
		<a
			id="fileDeleteLink-{{getNameForHtml()}}"
			*ngIf="isWritable()"
			class="reset-document"
			href="#{{router.url}}"
			(click)="removeDocument()"
			pTooltip="{{'webclient.button.removeDocument' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
			[attr.next-focus-field]="getNextFocusField()"
			[attr.next-focus-comp]="getNextFocusComponent()"
			tabindex="0"
		>
			<i class="fa fa-trash" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.button.removeDocument' | i18n}}</span>
		</a>
	</div>
</div>

<div class="fileupload-container"
     *ngIf="isWritable()"
     [id]="getId()"
     [attr.name]="getNameForHtml()"
     [attr.next-focus-field]="getNextFocusField()"
     [attr.next-focus-comp]="getNextFocusComponent()"
     [attr.initial-focus]="getInitialFocus()"
     [ngStyle]="getStyle()"
     tabindex="0"

     ngFileDrop
     [options]="options"
     (keydown.enter)="startUpload($event)"
     [uploadInput]="uploadInput"
     (uploadOutput)="handleUpload($event)"

     [ngClass]="{
		'file-over': dragOver,
		'uploaded': isUploaded,
		'image': isImage
		}"
>

	<img
		*ngIf="isImage && getImageUrl()"
		src="{{getImageUrl()}}"
		class="image"
		(click)="clickOnFile()"
	>
	<div
		*ngIf="fileName && !isImage"
		class="document-filename ellipsis"
		pTooltip="{{fileName | valueToSafeHtmlString }}"
		[tooltipOptions]="tooltipDefaults"
		(click)="clickOnFile()"
		draggable="true"
		(dragstart)="beginDragAndDrop($event)"
	>
		<img
			src="{{fileIconUrl}}"
			class="file-icon"
		>
		<span>
			{{fileName}}
		</span>
	</div>
	<div *ngIf="!documentIsSelected" class="ellipsis">
		<label class="upload-file-select">
			<input type="file"
			       #fileInput
			       class="hidden"
			       ngFileSelect
			       (uploadOutput)="handleUpload($event)"
			       [options]="options"
			       [uploadInput]="uploadInput"
			>
			<span
				*ngIf='showUploadLabel'
				class="upload-file-select-text"
				[pTooltip]="getTitle() | valueToSafeHtmlString"
				[tooltipDisabled]="getTitle() === undefined"
				[tooltipOptions]="tooltipDefaults"
			>
				{{'webclient.fileupload.upload.selectOrDropFile' | i18n}}
			</span>
		</label>
	</div>
	<div *ngIf="hasDocument() || fileName" class="icons p-1">
		<a
			id="fileDownloadLink-{{getNameForHtml()}}"
			*ngIf="hasDocument()"
			class="download-file"
			[href]="getDownloadUrl()"
			target="_blank"
			pTooltip="{{'webclient.button.download' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
			[attr.next-focus-field]="getNextFocusField()"
			[attr.next-focus-comp]="getNextFocusComponent()"
			tabindex="0"
		>
			<i class="fa fa-download" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.button.download' | i18n}}</span>
		</a>
		<a
			id="fileDeleteLink-{{getNameForHtml()}}"
			*ngIf="isWritable()"
			class="reset-document"
			href="#{{router.url}}"
			(click)="removeDocument()"
			pTooltip="{{'webclient.button.removeDocument' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
			[attr.next-focus-field]="getNextFocusField()"
			[attr.next-focus-comp]="getNextFocusComponent()"
			tabindex="0"
		>
			<i class="fa fa-trash" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.button.removeDocument' | i18n}}</span>
		</a>
	</div>
</div>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
