@import "../../../styles";

.fileupload-container {
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-width: 1px;
	border-style: dashed;
	border-color: rgba(0, 0, 0, .15);
	border-radius: .2rem;
	display: flex;
	overflow: hidden;
}

.fileupload-container.file-over {
	border-color: green;
	background: lightgreen;
}

.fileupload-container.disabled {
	background: $form-input-disabled-background-color;
	border-style: solid;
}

.hidden {
	display: none;
}

label {
	display: inline;
}

.fileupload-container .document-filename span, .upload-file-select-text, a {
	cursor: pointer;
}

.document-filename {
	flex: 1;
	padding-top: 0.2em;
}

.document-filename span {
	position: relative;
}

.upload-file-select, .upload-file-select-text {
	color: #bdbdbd;
}

.fa-trash {
	color: red;
}

.image {
	cursor: pointer;
}

a.download-file:focus {
	border: 1px solid;
}

a.reset-document:focus {
	border: 1px solid;
}

img.image {
	object-fit: scale-down;
	width: 100%;
	height: 100%;
}

.fa-download {
	position: relative;
	top: 0.085em;
}

.upload-file-select {
	height: 100%;
	display: inline-block;
	padding-top: 0.25rem;
	padding-left: 0.125rem;
}
