<nuc-modal-dialog
	[title]="'webclient.generation.parameter-object.title' | i18n:entityName:_vlpName"
	[footerTemplate]="footer"
>
	<nuc-entity-object-grid
		[gridOptions]="gridOptions"
		[columns]="gridColumns"
		(gridReady)="gridReady()"
		(rowSelected)="rowSelected($event)"
		[sortModel]="sortModel"
	>
	</nuc-entity-object-grid>
</nuc-modal-dialog>

<ng-template #footer>
	<button
		id="button-confirm"
		class="btn btn-primary"
		(click)="confirm($event)"
		[disabled]="!parameterObject"
	>
		{{'webclient.generation.parameter-object.select' | i18n}}
	</button>
	<button
		id="button-cancel"
		class="btn btn-warning"
		(click)="cancel($event)"
	>
		{{'webclient.generation.parameter-object.cancel' | i18n}}
	</button>
</ng-template>
