<div
	class="web-grid-container"
	*ngIf="!isResponsiveLayoutEnabled"
>
	<div class="background"></div>

	<div
		*ngFor="let cell of webGridCalculated.cells; let i = index"
		[ngStyle]="cellStyles[i]"
	>
		<nuc-web-component
			*ngFor="let component of cell.components"
			[eo]=eo
			[component]="getWebComponentForView(component, cellStyles[i])"
			[ngStyle]="getStyleForComponent(component)"
			id="{{component.name + '-' + i}}"
		></nuc-web-component>
	</div>
</div>
<div *ngIf="isResponsiveLayoutEnabled" class="container">
	<div class="row row-cols-1" *ngFor="let row of this.responsiveLayoutSorted; let i = index">
		<div class="col" *ngFor="let col of row">
			<nuc-web-component
				[eo]="eo"
				[component]="getWebComponentForView(col, undefined)"
				[ngStyle]="getStyleForComponent(col)"
				id="{{col.name + '-' + i}}"
			></nuc-web-component>
		</div>
	</div>
</div>
