<h4>{{'webclient.businesstests.overview' | i18n}}</h4>
<table id="overview" class="table mb-0">
	<tr>
		<th>{{'webclient.businesstests.overview.tests' | i18n}}</th>
		<th>{{'webclient.businesstests.overview.state' | i18n}}</th>
		<th>{{'webclient.businesstests.overview.testsGreen' | i18n}}</th>
		<th>{{'webclient.businesstests.overview.testsYellow' | i18n}}</th>
		<th>{{'webclient.businesstests.overview.testsRed' | i18n}}</th>
		<th>{{'webclient.businesstests.overview.duration' | i18n}}</th>
	</tr>
	<tr [ngSwitch]="overallResult?.state">
		<td id="overview_testsTotal">{{overallResult?.testsTotal}}</td>
		<td class="overview-state" *ngSwitchDefault=""></td>
		<td class="overview-state" style="color: green; font-weight: bold" *ngSwitchCase="'GREEN'">OK</td>
		<td class="overview-state" style="color: orange; font-weight: bold" *ngSwitchCase="'YELLOW'">WARNING</td>
		<td class="overview-state" style="color: red; font-weight: bold" *ngSwitchCase="'RED'">ERROR</td>
		<td id="overview_testsGreen">{{overallResult?.testsGreen}}</td>
		<td id="overview_testsYellow">{{overallResult?.testsYellow}}</td>
		<td id="overview_testsRed">{{overallResult?.testsRed}}</td>
		<td id="overview_duration">{{overallResult?.duration}} ms</td>
	</tr>
</table>
