<input
	type="radio"
	id="value-yes"
	value="true"
	[name]="groupname"
	[(ngModel)]="model"
	(ngModelChange)="modelChanged.emit($event)"
	[disabled]="disabled"
>
<label for="value-yes">{{'common.yes' | i18n}}</label>
<input
	type="radio"
	id="value-no"
	value="false"
	[name]="groupname"
	[(ngModel)]="model"
	(ngModelChange)="modelChanged.emit($event)"
	[disabled]="disabled"
>
<label for="value-no">{{'common.no' | i18n}}</label>
