<input *ngIf="writeable" type="file" id="{{getNameForHtml()}}-testInputFile" [ngStyle]="{'display': 'none'}" (change)="updateFileForTest($event)"/>
<p-contextMenu *ngIf="writeable" #contextMenu [target]="imageElement" [model]="contextMenuItems" appendTo="body"></p-contextMenu>
<div
	[ngStyle]="getStyle()"
	[attr.for-id]="getId()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	[ngClass]="getValidationCssClasses()"
	(nucNuclosDropUpload)="setAttribute($event)"
	[dropEnabled]="enabled"
	[fileEvent]="fileEvent$"
	#imageElement
	(click)="showContextMenu($event)">
	<img
		[ngStyle]="{'max-height': '100%', 'max-width': '100%'}"
		*ngIf="imageUrl !== undefined && !isSVGInteraction"
		src="{{imageUrl}}"
		alt="{{tooltip}}"
	/>
	<div
		#htmlContainer
		[ngStyle]="{'max-height': '100%', 'max-width': '100%'}"
		*ngIf="svgContent !== undefined && isSVGInteraction"
		[innerHTML]="svgContent"
	></div>
	<div *ngIf="imageUrl === undefined && writeable"
	     [ngStyle]="{'white-space': 'pre',
	                 'overflow': 'hidden',
	                 'transform': 'translate(0, calc(50% - 6px))',
	                 'width': webComponent.horizontalAlign === 'stretch' ? '100%' : 'fit-content',
	                 'height': webComponent.verticalAlign === 'stretch' ? '100%' : 'fit-content',
	                 'line-height': '100%', 'text-overflow': 'ellipsis'}">{{ 'webclient.imageupload.dropimage' | i18n }}</div>
	<div class="overlay" *ngIf="loading">
		<i class="fa-spin fa fa-spinner" aria-hidden="true"></i>
		<span class="fas sr-only">{{'common.loading' | i18n}}</span>
	</div>
</div>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
