<div [ngStyle]="{'width': horizontal ? '100%' : dividerWidth+'px', 'height': horizontal ? dividerWidth+'px' : '100%'}"
     class="d-flex justify-content-center align-content-center"
	 [ngClass]="{'flex-column': !horizontal, 'flex-row': horizontal}">
	<div [ngStyle]="{'margin-bottom': horizontal ? 0 : '2em', 'margin-right': horizontal ? '2em' : 0}">
		<button class="btn btn-link p-0" *ngIf="showLeftToggle" (click)="leftToggle.emit()">
			<i class="fas"
			[ngClass]="{'fa-angle-double-left': !horizontal, 'fa-angle-double-up': horizontal}"></i>
		</button>
	</div>
	<div mwlResizeHandle
		[resizeEdges]="resizeEdges"
		 [ngStyle]="{
		 'margin-bottom': horizontal ? 0 : '2em',
		 'margin-right': horizontal ? '2em' : 0,
		 'cursor': horizontal ? 'row-resize' : 'col-resize'
		 }">
		<i class="fas"
		   [ngClass]="{'fa-ellipsis-v': !horizontal, 'fa-ellipsis-h': horizontal}"></i>
	</div>
	<div>
		<button class="btn btn-link p-0" *ngIf="showRightToggle" (click)="rightToggle.emit()">
			<i class="fas"
			   [ngClass]="{'fa-angle-double-right': !horizontal, 'fa-angle-double-down': horizontal}"></i>
		</button>
	</div>
</div>
