<div class="input-group">
	<div class="input-group-prepend">
		<label class="input-group-text" for="inputGroupSelect01">Filter</label>
	</div>
	<select (ngModelChange)="onChangeIsShared($event)" [ngModel]="sharedFilterType"
	        class="custom-select"
	        id="inputGroupSelect01"
	        name="shared-filter">
		<option value="all">
			{{'webclient.preferences.sharedFilter.all' | i18n }}</option>
		<option value="shared-filter">
			{{'webclient.preferences.sharedFilter.onlyShared' | i18n }}</option>
		<option value="notshared">
			{{'webclient.preferences.sharedFilter.notShared' | i18n }}</option>
	</select>
</div>
