<div class="container mt-2">
	<div class="p-4 bg-light rounded-3">
		<h1 class="display-4">{{ title }}</h1>
		<p *ngIf="subTitle" class="lead">{{ subTitle }}</p>
		<hr class="my-4"/>
		<div>
			<ng-container *ngIf="loading">
				<h2 class="text-center"><i class="fa fa-spinner fa-spin"></i></h2>
			</ng-container>
			<ng-container *ngIf="!loading">
				<h5>{{ 'webclient.about.page.table.components' | i18n }}</h5>
				<div class="table-responsive mb-5">
					<table class="table table-striped">
						<thead>
						<tr>
							<th scope="col">{{'webclient.about.page.table.column.name' | i18n }}</th>
							<th scope="col">{{'webclient.about.page.table.column.versionString' | i18n }}</th>
							<th scope="col">{{'webclient.about.page.table.column.build' | i18n }}</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let nuclet of nuclets">
							<td>{{ nuclet.name }}</td>
							<td>{{ nuclet.versionString === 'null' ? '' : nuclet.versionString }}</td>
							<td>{{ nuclet.version === 'null' ? '' : nuclet.version }}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</ng-container>
		</div>
	</div>
</div>
