<div *ngIf="boxVisible" class="card shadow-sm" [ngStyle]="{'height': boxHeight+'px','width': boxWidth+'px', 'overflow': 'hidden'}">
	<div class="card-header">
		<span class="my-0 font-weight-normal">{{ boxTitle }}</span>
	</div>
	<ul class="list-group list-group-flush">
		<p-virtualScroller scrollHeight="{{boxHeight - 37}}px" [value]="items" [itemSize]="35">
			<ng-template pTemplate="item" let-item>
				<ng-container
					[ngTemplateOutlet]="boxListLayout"
					[ngTemplateOutletContext]="{$implicit: item}"
				></ng-container>
			</ng-template>
		</p-virtualScroller>
	</ul>
</div>
