:host ::ng-deep .p-component {
	font-size: 0.8rem !important;
}

:host ::ng-deep .list-group-item {
	word-break: normal;
}

:host ::ng-deep .p-virtualscroller-item {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 188px;
}
