:host ::ng-deep button {
	height: 30px;
}

:host {
	display: flex;
}

.generation-container {
	display: flex;
}

select {
	width: auto;
	max-height: 22px;
	margin-left: 0.5rem;
}

.loading {
	align-self: center;
}

.label {
	align-self: center;
}
