<div class="dropdown generation-container">
	<button #generateButton class="btn btn-secondary btn-sm dropdown-toggle"
	        data-bs-toggle="dropdown"
	        data-bs-auto-close="true"
	        aria-haspopup="true"
	        aria-expanded="false"
	        [disabled]="this.loading"
	>
		<ng-container *ngIf="loading">
			<i aria-hidden="true" class="fas fa-spin fa-spinner" title="{{'common.loading' | i18n}}"></i>
			<span class="fas sr-only">{{'common.loading' | i18n}}</span>
		</ng-container>
		{{generationListingsName}}
	</button>

	<div class="dropdown-menu">
		<a class="dropdown-item"
		   tabindex="0"
		   aria-haspopup="true"
		   href="{{'#' | current_href}}"
		   *ngFor="let generation of eo?.getGenerationsForUser()"
		   (click)="generate(generation)"
		>
			{{generation.name}}
		</a>
	</div>
</div>
