<nuc-tab-bar
	[values]="visibleTabs"
	[ngModel]="getSelectedTab()"
	[noHeaderPadding]="true"
	[dynamicHeight]="dynamicHeight"
	(changed)="layoutChanged()"

	[titleTemplate]="titleTemplate"
	[contentTemplate]="contentTemplate"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
></nuc-tab-bar>

<ng-template
	#titleTemplate
	let-tab="value"
	let-index="index"
>
	<div
		[style.background-color]="tab.headerColor"
		[ngClass]="(+index === +getSelectedTab()) ? 'tab-selected' : '' " class="tab-background">
		<span
			[style.color]="tab.headerColor ? calculateTextColorFromBackgroundColor(tab.headerColor) : ''"
			[pTooltip]="tab.title | valueToSafeHtmlString"
			[tooltipOptions]="tooltipDefaults"
			class="tab-title">
		{{tab.title}}
		</span>
	</div>
</ng-template>

<ng-template
	#contentTemplate
	let-tab="value"
	let-i="index"
>
	<nuc-web-component
		[eo]="eo"
		[component]="tab.content"
	></nuc-web-component>
</ng-template>
