<label
	class="mb-0"
	[attr.data-name]="getName()"
	pTooltip="{{attributeDescriptionTooltip | valueToSafeHtmlString}}"
	[tooltipDisabled]="!attributeDescriptionTooltip"
	[tooltipOptions]="tooltipDefaults"
	[for]="getForId()"
	[ngStyle]="getStyle()"
	*ngIf="!isHidden"
>
	<nuc-tooltip-value *ngIf="!isHidden" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
	{{getText()}}
</label>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
