<a (click)="menuService.addonMenuClick(menuItem)"
   *ngIf="isVisible()"
   tabindex="0"
   aria-haspopup="true"
   class="dropdown-item">
	<span class="icon-container">
			<img *ngIf="menuItem.icon" alt="I" src="{{menuItem.icon}}">
	</span>
	{{menuItem.name}}
</a>
