<div>
	<ul id="user-menu" class="navbar-nav">
		<li *ngIf="(anonymous || !loggedIn) && !router.url.endsWith('/login')" class="nav-item">
			<a
				class="nav-link"
				[routerLink]="['/login']"
				[queryParams]="anonymous ? {autoLogin: 'false'} : {}"
			>
				<i class="fa fa-sign-in" aria-hidden="true"></i>
				{{'webclient.login' | i18n}}
			</a>
		</li>
		<li *ngIf="loggedIn && !anonymous" class="nav-item dropdown">
			<a
				class="nav-link dropdown-toggle ellipsis"
				tabindex="0"
				data-bs-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<i class="fa fa-user" aria-hidden="true"></i>
				{{username}}
			</a>
			<div id="user-menu-dropdown" class="dropdown-menu dropdown-menu-end">
				<a *ngIf="canSharePreferences" class="dropdown-item" [routerLink]="['/preferences']"
				   id="open-preferences-manage">
					<i class="fa fa-wrench" aria-hidden="true"></i>
					{{'webclient.preferences.manage' | i18n}}
				</a>
				<a (click)="openPreferencesResetModal()" class="dropdown-item"
				   tabindex="0"
				   aria-haspopup="true"
				   id="open-preferences-reset-modal">
					<i class="fa fa-undo" aria-hidden="true"></i>
					{{'webclient.preferences.reset' | i18n}}
				</a>
				<a *ngIf="canExecuteReport" class="dropdown-item" [routerLink]="['/reports']" id="open-reports-manage">
					<i class="fa fa-print" aria-hidden="true"></i>
					{{'webclient.reports.execute' | i18n}}
				</a>
				<span *ngIf="dataLanguages">
					<span class="dropdown-item" tabindex="0">
						<i class="fa fa-globe" aria-hidden="true"></i>
						{{'webclient.datalanguage' | i18n}}
					</span>
					<a
						*ngFor="let dataLanguage of dataLanguages"
						class="dropdown-item datalanguage-item" href="#{{router.url}}"
						[ngClass]="{'selected' : (currentDataLanguageId && dataLanguage.datalanguage === currentDataLanguageId)}"
						(click)="selectDataLanguage(dataLanguage)"
					>
						<i class="fa fa-fw" aria-hidden="true"></i>
						<i
							class="fa fa-fw" aria-hidden="true"
							[ngClass]="{'fa-check' : (currentDataLanguageId && dataLanguage.datalanguage === currentDataLanguageId)}"
						></i>
						{{dataLanguage.datalanguageLabel}}
					</a>
				</span>
				<span *ngIf="mandators">
					<span class="dropdown-item" tabindex="0">
						<i class="fa fa-glasses" aria-hidden="true"></i>
						{{'webclient.mandator' | i18n}}
					</span>
					<a
						*ngFor="let mandator of mandators"
						class="dropdown-item mandator-item" href="#{{router.url}}"
						[ngClass]="{'selected' : (currentMandator && mandator.mandatorId === currentMandator.mandatorId)}"
						(click)="selectMandator(mandator)"
					>
						<i class="fa fa-fw" aria-hidden="true"></i>
						<i
							class="fa fa-fw" aria-hidden="true"
							[ngClass]="{'fa-check' : (currentMandator && mandator.mandatorId === currentMandator.mandatorId)}"
						></i>
						{{mandator.path}}
					</a>
				</span>
				<ng-container *ngIf="addonMenuItems !== undefined && addonMenuItems.length > 0">
					<nuc-addon-menu-item
						*ngFor="let menuItem of addonMenuItems"
						[menuItem]="menuItem"
						[position]="'usermenu'">
					</nuc-addon-menu-item>
				</ng-container>
				<a *ngIf="isPasswordChangeAvailable()" [routerLink]="['/account/changePassword']" class="dropdown-item">
					<i class="fa fa-key" aria-hidden="true"></i>
					{{'webclient.user.changepassword' | i18n}}
				</a>
				<a [routerLink]="['/about']" class="dropdown-item">
					<i class="fa fa-question" aria-hidden="true"></i>
					{{'webclient.user.about' | i18n}}
				</a>
				<a class="dropdown-item" href="#{{router.url}}" (click)="openShortcutsHelp()">
					<i class="fa fa-keyboard" aria-hidden="true"></i>
					{{'webclient.user.keyboardhelp' | i18n}}
				</a>
				<a id="logout" class="dropdown-item" [routerLink]="['/logout']">
					<i class="fa fa-sign-out-alt " aria-hidden="true"></i>
					{{'webclient.logout' | i18n}}
				</a>
			</div>
		</li>
	</ul>
</div>
