:host .mandator-item {
	color: gray;
}

:host .mandator-item.selected {
	color: black;
}

:host .datalanguage-item {
	color: gray;
}

:host .datalanguage-item.selected {
	color: black;
}

a {
	cursor: pointer;
}

#user-menu-dropdown {
	max-height: calc(100vh - 50px);
}

.dropdown-item-disabled {
	padding-left: 1.5rem;
	color: lightgray;
}

i {
	width: 16px;
	height: 16px;
}
