<ul id="searchfilter-selector-dropdown" class="navbar-nav">
	<li class="nav-item dropdown"
	    nucClickOutside (clickOutside)="setPopoverShowing(false)">
		<a  id="searchfilter-selector-dropdown-link"
		    class="nav-link dropdown-toggle ellipsis"
		    [ngClass]="{'disabled': disabled}"
			tabindex="0"
			aria-haspopup="true"
		    (click)="togglePopover()"
		>
			{{getCurrentSearchfilterName()}}{{searchfilter?.dirty ? '*' : ''}}
		</a>
		<div #subformSearchfilterSelectorDropdownMenu
		     id="searchfilter-selector-dropdown-menu"
		     class="dropdown-menu">
			<div
			     *ngFor="let sf of allSearchfilters">
				<a class="dropdown-item"
				   [ngClass]="{'selected': sf.selected, 'dirty': sf.dirty}"
				   (click)="selectSearchfilter(sf)">
					{{sf.name}}{{sf.dirty ? '*' : ''}}
				</a>
			</div>
		</div>
	</li>
</ul>
