:host {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selected {
	font-weight: bold;
}

.disabled {
	cursor: not-allowed;
}

.searchfilter-dirty-icon {
	color: indigo;
	font-size: 0.8rem;
	position: absolute;
	margin-top: 1px;
	margin-left: 8px;
}

.dropdown {
	margin-left: 10px;
	margin-right: 4px;
}

.dropdown-item {
	font-size: 0.6875rem; /* 11px */
	text-align: left;
}
