:host {
	height: 100%;
	display: flex;
	flex-direction: column;
}

:host > div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

nuc-web-table {
	height: 100%;
}

.full-height {
	height: 100%;
}

.tab-content {
	flex: 1;
}

.tab-panel {
	position: relative;

	flex: 1;
	display: flex;
	flex-direction: column;
}
