<div
	[ngClass]="contentClasses"
>
	<div
		class="full-height fade in active show"
		[style.background-color]="this.webComponent.customBackgroundColor"
	>
		<nuc-grid-layout
			*ngIf="getGrid()"
			[eo]="eo"
			[webGrid]="getGrid()"
		></nuc-grid-layout>

		<nuc-web-table
			*ngIf="getTable()"
			[eo]="eo"
			[webComponent]="getTable()"
		></nuc-web-table>

		<nuc-web-grid-calculated
			*ngIf="getCalculated()"
			[eo]="eo"
			[webGridCalculated]="getCalculated()"
		></nuc-web-grid-calculated>

		<nuc-web-component
			*ngFor="let subComponent of getComponents()"
			[eo]="eo"
			[component]="subComponent"
		></nuc-web-component>
	</div>
</div>
