:host {
	display: flex;
	flex-direction: column;
	height: calc(100%);
}

.panel-content {
	border: 1px solid lightgray;
	flex: 1;
}

.nav-tabs {
	border-bottom: 1px;
}

.nav.nuc-legend {
	font-size: 0.6875rem;
}

.nuc-legend {
	line-height: 0.5;
}
