<div class="nav nav-tabs nuc-legend" *ngIf="titleVisible">
	<div class="nav-item">
		<span
			class="nav-link active"
			[pTooltip]="getTitle() | valueToSafeHtmlString"
			[tooltipDisabled]="getTitle() !== undefined"
			[tooltipOptions]="tooltipDefaults"
			[ngStyle]="titleStyle"
			[innerHTML]="getTitle() | valueToSafeHtml"
		></span>
	</div>
</div>
<nuc-web-container
	[eo]="eo"
	[webComponent]="getWebComponent()"
	[ngClass]="panelClasses"
	[ngStyle]="panelStyle"
></nuc-web-container>
