<div
	#layoutContainer
	*ngIf="eo"
	class="layout-container"
	(keydown)="keydown($event)"
	tabindex="0"
>
	<nuc-grid-layout
		*ngIf="webLayout?.grid"
		class="first-grid"
		[webGrid]="webLayout?.grid"
		[eo]="eo"
	></nuc-grid-layout>

	<nuc-web-table
		*ngIf="webLayout?.table"
		class="first-table"
		[webComponent]="webLayout?.table"
		[eo]="eo"
	></nuc-web-table>

	<nuc-web-grid-calculated
		*ngIf="webLayout?.calculated"
		[webGridCalculated]="webLayout?.calculated"
		[eo]="eo"
		style="display: flex"
	>
	</nuc-web-grid-calculated>
</div>
