:host {
	height: 100%;
	line-height: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 8px;
	padding-top: 0px;
	margin-top: 8px;
	overflow: auto;
}

:host .layout-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

:host ::ng-deep .first-grid > .container-fluid {
	padding: 10px
}

