input {
	height: 100%;
	padding-left: 1px;
	padding-right: 2px;
}

input::-ms-clear {
	display: none;
}

.icons {
	position: absolute;
	top: 3px;
	right: 3px;
	padding-top: 0.2em;
	padding-right: 0.2em;
	display: none;
}

:host:hover .icons {
	display: inherit;
}
