:host ::ng-deep input
{
	width: 100px;
    height: 22px;
    min-height: 22px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 0.75rem;
	display: inline;
}

:host ::ng-deep div.date-input
{
	display: inline;
}
