<div id="maintenance-admin"
     class="card mx-auto p-0 col-5">
	<div class="card-header">
		<h4 align=middle>{{'webclient.admin.maintenance.mode' | i18n}}</h4>
	</div>
	<div class="card-body container">
		<form>
			<div class="form-group row">
				<label class="col-md-4 col-form-label">{{'webclient.admin.maintenance.mode.status' | i18n}}</label>
				<div class="col-md-8">
					<small class="form-control form-control-sm text-muted">
						<i class="fa"
						   [ngClass]="{
					   'fa-check-circle icon-on' : maintenanceModeStatus === 'on',
					   'fa-circle icon-initialized' : maintenanceModeStatus === 'initialized',
					   'fa-circle icon-off' : maintenanceModeStatus === 'off'
					   }"
						   style="font-size: 1.25rem;"
						></i>
						<span id="maintenance-mode-status">{{maintenanceModeStatus}}</span>
					</small>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<button class="form-control form-control-sm btn btn-sm btn-primary btn-danger"
					        *ngIf="maintenanceModeStatus !== 'on'"
					        id="activate-maintenace-mode-button"
					        (click)="activateMaintenaceMode()"
					>{{'webclient.admin.maintenance.mode.activate' | i18n}}</button>
					<button class="form-control form-control-sm btn btn-sm btn-primary"
					        *ngIf="maintenanceModeStatus !== 'off'"
					        id="deactivate-maintenace-mode-button"
					        (click)="deactivateMaintenaceMode()"
					>{{'webclient.admin.maintenance.mode.deactivate' | i18n}}</button>
				</div>
			</div>
		</form>
	</div>
</div>
