#maintenance-admin {
	float: none;
	margin: 0px auto;
	margin-top: 30px;
}

#maintenance-admin .card-header {
	height: 45px
}

.form-group {
	margin-bottom: 0.1rem;
	display: flex;
	align-items: center;
}

.icon-off {
}

.icon-initialized {
	color: yellow;
}
.icon-on {
	color: orange;
}
