#preferences {
	padding: 15px;

	margin-left: initial;
	margin-right: initial;
}

.card-body {
	overflow: auto;
}

.preference-item:hover {
	background-color: #f5f5f5;
}

.preference-item.selected {
	background-color: #D0D0D0;
}

.preference-item.selected:hover {
	background-color: #C0C0C0;
}

.preference-item-icons {
	float: right;
	min-width: 35px;
}

.preference-item-header-type, .preference-item-header-selected,
.preference-item-type, .preference-item-selected {
	text-align: center;
}

.preference-item-icons a {
	padding-left: 3px;
}

.update-preference-share {
	color: green;
}

.discard-preference-item {
	color: red;
}

.preference-item {
	cursor: pointer;
}

#selected-preference-json {
	font-size: 0.75rem;
}

#preferences {
	display: flex;
	height: 100%;
}

#preferences > * {
	display: flex;
	flex-flow: column;
}

#preferences > * .card {
	flex: 1 1 auto;
}

#accordion {
	display: flex;
	flex-flow: column;
}

.collapse {
	overflow: auto;
	max-height: 60vh; /* TODO */
}


:host ::ng-deep .string {
	color: green;
}

:host ::ng-deep .number {
	color: darkorange;
}

:host ::ng-deep .boolean {
	color: blue;
}

:host ::ng-deep .null {
	color: magenta;
}

:host ::ng-deep .key {
	color: red;
}

.sortable-header {
	cursor: pointer;
}


.text-search-input {
	border: 1px solid lightgray;
	margin-top: 5px;
	width: 188px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.clear-searchfilter {
	top: 2px;
	right: 2px;
}

#grid-container {
	height: 100%;
}

#grid-container .card-body {
	/* TODO workaround for preferences column init problem */
	width: calc(64vw);
}

ag-grid-angular {
	width: 100%;
	height: 100%;
}

:host ::ng-deep .ag-header-cell:nth-child(1) .ag-floating-filter-input {
	display: none;
}

.layoutAssignmentText {
	padding-bottom: 10px;
}

.list-group {
	margin-bottom: 10px;
}

.editor {
	height: 300px
}

.card-header button.link {
	outline: none;
	padding: 0;
	box-sizing: unset;
	background-color: gray;
	border: 0 gray;
	color: white;
}

.card-header button.link:hover {
	text-decoration: underline;
}
