<div id="preferences" class="row">
	<div class="col-md-8">
		<div id="grid-container" class="card scrollable">
			<div class="card-header">
				{{'webclient.preferences' | i18n}}
			</div>
			<div class="card-body">
				<ag-grid-angular
					#agGrid
					class="ag-theme-balham"
					[gridOptions]="gridOptions"
					(gridReady)="gridReady($event)"

					nucGrid
				>
				</ag-grid-angular>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="selections" role="tablist" aria-multiselectable="true">
			<div class="card card-default">
				<div class="card-header">
					<button
						class="link"
						data-bs-toggle="collapse"
						data-bs-parent="#selections"
						data-bs-target="#collapseSelection"
						aria-expanded="true"
						aria-controls="collapseSelection">
						{{'webclient.preferences.selections' | i18n}}
					</button>
				</div>
				<div id="collapseSelection" class="collapse in show" role="tabpanel">
					<div class="card-body">
						<button class="btn btn-primary btn-sm"
								(click)="handleKeyboardEventSelectAll()">
							{{'webclient.preferences.button.selectAll' | i18n}}
						</button>
						<button class="btn btn-primary btn-sm" (click)="selectAllCustomizedRows()">
							{{'webclient.preferences.button.selectAllCustomizedRows' | i18n}}
						</button>
						<button class="btn btn-primary btn-sm"
								(click)="handleKeyboardEventDeselectAll()">
							{{'webclient.preferences.button.deselectAll' | i18n}}
						</button><button class="btn btn-primary btn-sm" (click)="resetSelection()">
							{{'webclient.preferences.button.resetSelection' | i18n}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div id="accordion" role="tablist" aria-multiselectable="true" *ngIf="selectedPreferenceItem">
			<div class="card card-default">
				<div class="card-header">
					<button
						class="link"
						data-bs-toggle="collapse"
						data-bs-parent="#accordion"
						data-bs-target="#collapseDelete"
						aria-expanded="true"
						aria-controls="collapseDelete">
						{{'webclient.preferences.preferences' | i18n}}
					</button>
				</div>
				<div id="collapseDelete" class="collapse in show" role="tabpanel">
					<div class="card-body">
						<button class="btn btn-danger btn-sm"
						        (click)="deleteSelectedPreferences()">
							{{'webclient.preferences.button.deleteSelectedPreferences' | i18n}}
						</button>
					</div>
					<div class="card-body" *ngIf="selectedPreferencesCustomized()">
						<button class="btn btn-danger btn-sm"
								(click)="updatePreferenceShares()">
							<span class="fa fa-floppy-o"></span>
							{{'webclient.preferences.publishSharedContent' | i18n}}
						</button>
						<br />
						<button class="btn btn-danger btn-sm"
								(click)="discardChanges()">
							<span class="fa fa-undo"></span>
							{{'webclient.preferences.discardCustomizedPreferenceItem' | i18n}}
						</button>
					</div>
				</div>
			</div>
			<div class="card card-default" *ngIf="selectedPreferenceItem.layoutName && selection=='single'">
				<div class="card-header">
					<button
						class="link"
						data-bs-toggle="collapse"
						data-bs-parent="#accordion"
						data-bs-target="#collapseLayout"
						aria-expanded="true"
						aria-controls="collapseLayout">
						{{'webclient.preferences.layout' | i18n}}
					</button>
				</div>
				<div id="collapseLayout" class="collapse in show" role="tabpanel">
					<div class="card-body">
						<div class="layoutAssignmentText">
							{{layoutAssignmentText()}}
						</div>
						<button id="reset-layout-assignment"
								class="btn btn-primary btn-sm"
						        (click)="resetLayoutAssignment()"
						        pTooltip="{{layoutAssignmentButtonText()}}"
						        [tooltipOptions]="tooltipDefaults"
							>
							{{'webclient.preferences.layoutAssignmentButton' | i18n}}
						</button>
					</div>
				</div>
			</div>
			<div class="card card-default" *ngIf="isSharingAllowed">
				<div class="card-header">
					<button
						class="link"
						data-bs-toggle="collapse"
						data-bs-parent="#accordion"
						data-bs-target="#collapseOne"
						aria-expanded="true"
						aria-controls="collapseOne">
						{{'webclient.preferences.userRoles' | i18n}}
					</button>
				</div>
				<div id="collapseOne" class="collapse in show" role="tabpanel">
					<div class="card-body" *ngIf="selection=='single'">
						<ul class="list-group">
							<li class="list-group-item user-role" *ngFor="let userRole of selectedUserUserRoles">
								<div class="form-check">
									<label class="form-check-label">
										<input
											id="{{userRole.userRoleId}}"
											type="checkbox"
											class="form-check-input"
											[(ngModel)]="userRole.shared"
											(change)="shareOrUnshareSelectedPreferenceItem(userRole)"
										/>
										{{userRole.name}}
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="card-body" *ngIf="selection=='multiple'">
						<ul class="list-group">
							<li class="list-group-item user-role" *ngFor="let userRole of multiselectUserRoles">
								<div class="form-check">
									<label class="form-check-label">
										<input
											id="assign_{{userRole.userRoleId}}"
											type="checkbox"
											class="form-check-input"
											[(ngModel)]="userRole.shared"
											(change)="shareOrUnshareMultiSelectionPreferenceItem(userRole)"
										/>
										{{userRole.name}}
									</label>
								</div>
							</li>
						</ul>

						<div>
							<button class="btn btn-danger btn-sm"
							        (click)="assignUserRolesForSelectedPreferences()">
								{{'webclient.preferences.assignUserRolesForSelectedPreferences' | i18n}}
							</button>
						</div>

					</div>
				</div>
			</div>
			<div class="card card-default scrollable" *ngIf="isDevMode && selectedPreferenceItem && selection=='single'">
				<div class="card-header">
					<button
						class="link"
						data-bs-toggle="collapse"
						data-bs-parent="#accordion"
						data-bs-target="#collapseTwo"
						aria-expanded="true"
						aria-controls="collapseTwo">
						{{'webclient.preferences.content' | i18n}}
					</button>
				</div>
				<div id="collapseTwo" class="collapse" role="tabpanel">
					<div class="card-body">
						<pre *ngIf="!isContentInEditingMode" id="selected-preference-json"
						     [innerHtml]="selectedPreferenceItem.content | prettyjson:3"
						></pre>
						<ace-editor *ngIf="isContentInEditingMode" #editor
						            id="preferenceContentEditor"
						            class="editor"
						            [text]="editedContent"
						            (textChanged)="setEditedContent($event)"
						            [mode]="'json'"
						            [theme]="'eclipse'"
						            [autoUpdateContent]="true"
						></ace-editor>
					</div>
					<div class="card-footer">
						<ng-template #popoverContent>{{error}}</ng-template>
						<span
							#popover
							id="contentEditorPopover"
							placement="top"
							[ngbPopover]="popoverContent"
							[popoverTitle]="'webclient.preferences.content.error' | i18n"
							[autoClose]="'outside'"
							triggers="manual"
							#p1="ngbPopover"
						>
							<button *ngIf="!isContentInEditingMode"
							        class="btn btn-primary btn-sm"
							        (click)="startContentEditing()">
								{{'webclient.preferences.content.edit' | i18n}}
							</button>
							<button *ngIf="isContentInEditingMode"
							        class="btn btn-danger btn-sm"
							        (click)="saveEditedContent(p1)">
								{{'webclient.preferences.content.save' | i18n}}
							</button>
							<button *ngIf="isContentInEditingMode"
							        class="btn btn-warning btn-sm"
							        (click)="cancelContentEditing(p1)">
								{{'webclient.preferences.content.cancel' | i18n}}
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
