<div class="ag-floating-filter-body">
	<div class="ag-floating-filter-input">
		<input class="form-control form-control-sm"
		       pInputText
		       type="text"
		       id="{{colId}}"
		       [ngModel]="model"
		       (keydown)="keydown = true;"
		       (keyup)="keydown = false; onChangeEvent($event)"
		       >
	</div>
</div>
