:host ::ng-deep .p-tree {
	border-radius: 0;
}

:host ::ng-deep .p-element {
	min-width: 0;
}

:host ::ng-deep .p-tree.p-component {
	flex-grow: 1;
	padding: 0.25rem 0.25rem 0.0rem;
	overflow: auto;
}

:host ::ng-deep .p-tree-wrapper {
	overflow: visible;
}

:host ::ng-deep .p-tree-container {
	overflow: visible;
}

.node-text-selected {
	color: #1190fe;
}

.node-text {
	padding-left: 0.75rem;
	cursor: pointer;
}

.node-text-directory {
	padding-left: 0.5rem;
	cursor: default;
}

.full-size {
	width: 100%;
	height: 100%;
}

/* Button size must be fixed or we have different sized buttons because of different font sizes. */
button {
	padding: 0;
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
	font-size: 1.125rem;
}

button i {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

