<div class="d-flex flex-column flex-grow-1" style="min-width: 0;">
	<div
		style="width: 100%; overflow: hidden; white-space: nowrap; min-height: 30px;"
		#popover
		data-bs-container="body"
		data-bs-toggle="popover"
		data-bs-placement="bottom"
		data-bs-trigger="manual"
		[attr.data-bs-title]="'webclient.master.dirty.popover.title' | i18n"
		[attr.data-bs-content]="'webclient.master.dirty.popover.text' | i18n"
	>

		<ng-container *ngFor="let button of buttons">
			<button
				*ngIf="button.isVisible(undefined)"
				[disabled]="!button.isEnabled(undefined)"
				[id]="button.id"
				[class]="button.buttonCssClass"
				(click)="button.action(undefined)"
				(blur)="button.blur && button.blur()"
			>
				<i [class]="button.iconCssClass" aria-hidden="true" pTooltip="{{button.labelKey | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				<span class="fas sr-only">{{button.labelKey | i18n}}</span>
			</button>
		</ng-container>
	</div>
	<div class="d-flex" style="min-width: 0; min-height: 0; flex-grow: 1;">
		<p-tree
			[value]="primeTreeData.value"
			(onNodeExpand)="loadSubNodes($event.node)"
			class="d-flex flex-column flex-grow-1">
			<ng-template let-node pTemplate="default" pStyleClass="full-size">
				<span style="width: 100%; height: 100%; white-space: nowrap;" class="custom-node"
					  (keyup.enter)="openTreeNodeInEoView(node)"
					  (keyup.space)="node.expanded = !node.expanded"
					  (nucTreeKeyUp)="onNodeKeyEvent($event, node)"
					  (click)="openTreeNodeInEoView(node)">
					<span *ngIf="node.data.relationIcon" class="fa" [ngStyle]="RELATION_ICON_STYLE[node.data.relationIcon]" [ngClass]="RELATION_ICONS_MAP[node.data.relationIcon]"></span>
					<span *ngIf="!node.icon" class="fa" [ngStyle]="{'padding-left': node.data.relationIcon ? '0.5rem' : '0'}"></span>
					<img [src]="node.icon" [ngStyle]="{'padding-left': node.data.relationIcon ? '0.5rem' : '0'}"/>
					<span [ngClass]="{'node-text-directory': !isNodeDisplayable(node), 'node-text' : true, 'node-text-selected': (node === mainViewTreeNode)}">{{node.label}}</span>
				</span>
			</ng-template>
		</p-tree>
	</div>
</div>
