<nuc-datechooser
	*ngIf="!isHidden"
	#nucDatechooser
	[id]="getId()"
	[cssClasses]="getValidationCssClasses()"
	[enabled]="isWritable()"
	[inputStyle]="getStyle()"
	[model]="getModel()"
	(modelChange)="setAttributeValue($event)"
	[nameForHtml]="getNameForHtml()"
	[nextFocusField]="getNextFocusField()"
	[nextFocusComp]="getNextFocusComponent()"
	[initialFocus]="getInitialFocus()"
>
	<nuc-tooltip-value *ngIf="!isHidden" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
</nuc-datechooser>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
