<p-contextMenu
	#contextMenu
	[target]="textModulesTrigger"
	[model]="textModules | async"
	appendTo="body"
></p-contextMenu>
<div>
	<a
		#textModulesTrigger
		pTooltip="{{'webclient.button.textModules' | i18n}}"
		href="#{{router.url}}"
		[tooltipOptions]="tooltipDefaults"
		(click)="loadTextModules($event)"
	>
		<i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i>
		<span class="fas sr-only">{{'webclient.button.textModules' | i18n}}</span>
	</a>
</div>
