:host {
	position: relative;
	width: 100%;
}

.lov-container {
	position: relative;
	height: 100%;
}

:host ::ng-deep .p-autocomplete-loader {
	display: none;
}

:host ::ng-deep .ui-widget,
:host ::ng-deep .ui-button,
:host ::ng-deep .ui-autocomplete-token,
.dd-item,
:host ::ng-deep .pi {
	font-size: 0.6875rem !important;
}

button {
	height: 100%;
	background: lightgray;
	border-color: lightgray;
}


@import "lov-overlay";

.lov-overlay {
	z-index: -1;
}

:host:hover .lov-overlay {
	animation: showtooltip 1s linear alternate;
}

@keyframes showtooltip {
	from { z-index: -1; }
	to { z-index: 101; }
}

.lov-overlay:hover i {
	font-weight: bolder;
}

a {
	cursor: pointer;
}

p-autocomplete {
	height: 22px;
	margin-right: auto;
	border: 0;
}

:host ::ng-deep span {
	height: 100%;
	width: 100%;
}

:host ::ng-deep input {
	opacity: 1;
	background-color: #FFFFFF;
}

:host ::ng-deep input:disabled {
	opacity: 1;
	background-color: #f8f8f8;
	cursor: not-allowed !important;
}

:host ::ng-deep input:disabled {
	opacity: 1;
	background-color: #f8f8f8;
	cursor: not-allowed !important;
}

:host ::ng-deep button:disabled {
	visibility: hidden;
}

:host ::ng-deep .p-inputtext, :host ::ng-deep .p-autocomplete-dropdown {
	font-size: 0.6875rem;
}

@import "lov-highlight";


:host ::ng-deep p-autoComplete .ui-autocomplete-panel {
	width: initial !important;
	min-width: 100%;
	max-width: 500px;
}

:host ::ng-deep p-autoComplete .ui-autocomplete-panel ul li div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
