<p-autoComplete
	#autoComplete

	(completeMethod)="onComplete($event, $event.query)"
	(keyup)="keyup($event)"
	(ngModelChange)="setValue($event)"
	(onBlur)="onBlur()"
	(onDropdownClick)="toggleLovPanel($event, true)"
	(click)="toggleLovPanel($event)"
	(onSelect)="selectEntry($event)"

	(clickOutside)="outsideClick($event)"

	[appendTo]="appendTo"
	[attr.for-id]="getId()"
	[disabled]="disabled"
	[dropdown]="dropdown"
	[field]="field"
	[inputId]="getId()"
	[multiple]="multiple"
	[ngModel]="value"
	[placeholder]="placeholder"
	[suggestions]="filteredSuggestions"
	(onShow)="setupPanelAndInput()"

	dropdownIcon="pi pi-angle-down"
	nucClickOutside
>
	<ng-template let-ddItem pTemplate="item">
		<ng-container *ngIf="htmlValues">
			<div [innerHTML]="field ? resolveFieldData(ddItem, field) : ddItem"
			     [ngClass]="{'selected': selectedField ? isSelected(ddItem, selectedField) : false,
			                 'dirty': dirtyField ? isDirty(ddItem, dirtyField) : false,
			                 'secondary': secondaryField ? isSecondary(ddItem, secondaryField) : false}"
			     class="dd-item">
			</div>
		</ng-container>
		<ng-container *ngIf="!htmlValues">
			<div [ngClass]="{'selected': selectedField ? isSelected(ddItem, selectedField) : false,
			                 'dirty': dirtyField ? isDirty(ddItem, dirtyField) : false,
			                 'secondary': secondaryField ? isSecondary(ddItem, secondaryField) : false}"
			     class="dd-item">
				{{field ? resolveFieldData(ddItem, field) : ddItem}}
				<span *ngIf="dirtyField ? isDirty(ddItem, dirtyField) : false"> <i aria-hidden="true"
				                                                                   class="fa fa-floppy-o"></i></span>
			</div>
		</ng-container>
	</ng-template>
</p-autoComplete>
