<div class="locale-chooser">
	<div hidden="hidden" class="selected-locale">{{getSelectedLocale().key}}</div>
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="dropdown-toggle nav-link dropdown-toggle ellipsis" data-bs-toggle="dropdown"
			   tabindex="0"
			   aria-haspopup="true"
			   (click)="$event.preventDefault(); $event.stopPropagation();"
			   title="{{'webclient.nosession.menu.language' | i18n }}"
			   aria-expanded="false">
				<img [src]="'assets/flags/' + getSelectedLocale().key + '.png'" alt="{{getSelectedLocale().name}}"/>
			</a>
			<div class="dropdown-menu dropdown-locale">
				<!-- locale-** class for integration test selectors -->
				<a
					*ngFor="let locale of locales"
					class="{{'dropdown-item pr-1 pl-1 locale-' + locale.key}}"
					(click)="setSelectedLocale(locale.key, $event)"
					[pTooltip]="locale.key"
					[tooltipOptions]="tooltipDefaults"
					placement="right"
					[title]="locale.name"
					href=""
				>
					<img [src]="'assets/flags/' + locale.key + '.png'" [alt]="locale.name"/>
				</a>
			</div>
		</li>
	</ul>
</div>
