a {
	cursor: pointer;
}

.dropdown-locale {
	min-width: 3rem;
	text-align: center;
	left: -0.5rem;
}

.dropdown-menu {
	position: relative;
	top: 8px;
}

:host img {
	opacity: 0.7;
}

:host:hover img {
	opacity: 1;
}
