<div [ngClass]="usePadding ? 'main-container-padded' : 'main-container'" style="" *ngIf="planningTable" (window:resize)="onViewportResize()">
	<nuc-planning-table-toolbar #toolbar style="flex: 0 1 auto;"
								[viewConfiguration]="viewConfiguration"
								[planningTable]="planningTable"
	                            [planningView]="planningView"
	                            [planningTableComponent]="this"
	                            [elementSelection]="planningView.elementSelection"
	                            [cellSelection]="planningView.cellSelection"
	                            (reloadPlanningTable)="refresh()"
								></nuc-planning-table-toolbar>
	<div #displayContainer class="planning-viewport">
		<div class="horizontal-header-container" [style.height]="'max(32px, min(80%, ' + viewConfiguration.horizontalHeaderHeight + 'px))'" >
			<div class="legend-container" [style.width]="'min(80%, ' + viewConfiguration.verticalHeaderWidth + 'px)'">
				<div #legendContainer [innerHTML]="formattedLegendLabel" pTooltip="{{formattedLegendTooltip}}" class="legend"></div>
				<div class="resize-handle-x"></div>
			</div>
			<div  #horizontalHeader class="horizontal-header" style="overflow: hidden; float: right; height: 100%;" [style.width]="'max(calc(100% - min(80%, ' + viewConfiguration.verticalHeaderWidth + 'px)), 0px)'">
				<nuc-planning-table-resource-header #resourceHeader class="resourceHeader" *ngIf="viewConfiguration.tableAlignment == 0" [planningTable]="planningTable" [viewConfiguration]="viewConfiguration" (cellSizeChanged)="refreshGrid()" (savePreferences)="savePreferences()" (reloadPlanningTable)="refresh()"></nuc-planning-table-resource-header>
				<nuc-planning-table-time-header #timeHeader class="timeHeader" *ngIf="viewConfiguration.tableAlignment == 1" [viewConfiguration]="viewConfiguration" [planningView]="planningView" (cellSizeChanged)="refreshGrid()" (savePreferences)="savePreferences()"></nuc-planning-table-time-header>
			</div>
			<div class="resize-handle-y"></div>
		</div>
		<div class="vertical-header-container" [style.top]="'max(32px, min(80%, ' + viewConfiguration.horizontalHeaderHeight + 'px))'" [style.width]="'min(80%, ' + viewConfiguration.verticalHeaderWidth + 'px)'" [style.height]="'min(calc(100% - 32px), max(20%, calc(100% - ' + viewConfiguration.horizontalHeaderHeight + 'px)))'">
			<div #verticalHeader class="vertical-header" style="float: left; overflow: hidden; width: 100%; height: 100%;">
				<nuc-planning-table-resource-header #resourceHeader class="resourceHeader" *ngIf="viewConfiguration.tableAlignment == 1" [planningTable]="planningTable" [viewConfiguration]="viewConfiguration" (cellSizeChanged)="refreshGrid()" (savePreferences)="savePreferences()" (reloadPlanningTable)="refresh()"></nuc-planning-table-resource-header>
				<nuc-planning-table-time-header #timeHeader class="timeHeader" *ngIf="viewConfiguration.tableAlignment == 0" [viewConfiguration]="viewConfiguration" [planningView]="planningView" (cellSizeChanged)="refreshGrid()" (savePreferences)="savePreferences()"></nuc-planning-table-time-header>
			</div>
			<div class="resize-handle-x"></div>
		</div>
		<div style="position: absolute; float: right;" [style.left]="'min(80%, ' + viewConfiguration.verticalHeaderWidth + 'px)'" [style.top]="'max(32px, min(80%, ' + viewConfiguration.horizontalHeaderHeight + 'px))'" [style.width]="'max(20%, calc(100% - ' + viewConfiguration.verticalHeaderWidth + 'px))'" [style.height]="'min(calc(100% - 32px), max(20%, calc(100% - ' + viewConfiguration.horizontalHeaderHeight + 'px)))'">
			<div #scrollDiv class="viewport" (scroll)="synchronizeHeadersWithViewScroll()">
				<nuc-planning-grid #gridComponent [planningTable]="planningTable" [planningView]="planningView" [viewConfiguration]="viewConfiguration" (reloadPlanningTable)="refresh()"></nuc-planning-grid>
			</div>
		</div>
	</div>
	<div class="planning-footer">
		<div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-left: 8px; font-size: 13px;">
			{{planningTable.componentLabel}}
		</div>
		<div style="min-width: 8px;">
		</div>
		<div style="white-space: nowrap; margin-right: 8px; font-size: 13px;">
			{{'webclient.planningTable.resources.loaded' | i18n}}: {{planningTable.resources ? planningTable.resources.length : 0 }}
		</div>
	</div>
</div>
