.main-container {
	width: calc(100%);
	height: calc(100%);
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main-container-padded {
	width: calc(100% - 32px);
	height: calc(100%);
	margin: 0 auto;
	overflow: hidden;
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.horizontal-header-container {
	top: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	position: absolute;
	z-index: 10;
}

.vertical-header-container {
	left: 0;
	position: absolute;
	float: left;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
}

.legend-container {
	position: absolute;
	float: left;
	z-index: 0;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid #999999;
}

.legend {
	position: absolute;
	float: left;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.resize-handle-x {
	position: absolute;
	float: right;
	width: 8px;
	right: -4px;
	height: 100%;
	cursor: ew-resize;
	z-index: 10;
}

.resize-handle-y {
	position: absolute;
	float: right;
	width: 100%;
 	height: 8px;
	bottom: -4px;
 	cursor: ns-resize;
	z-index: 10;
}

.viewport {
	width: 100%;
	height: 100%;
	overflow: scroll;
	float: right;
	border-top: 1px solid #999999;
}

.planning-viewport {
	border: 1px solid #999999;
	width: 100%;
	position: relative;
	flex: 1 1 auto;
	min-height: 0;
}

.planning-footer {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-radius: 0px 0px 3px 3px;
	height: 2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;
	align-items: center;
	min-height: 2em;
	flex: 0 1 2em;
	z-index: 10;
}
