.more-actions-popup {
	position: absolute;
	z-index: 999;
	background-color: rgb(248, 248, 248);
	border: 1px solid rgb(211, 211, 211);
}

.btn {
	padding: 0;
	width: 24px;
	height: 25px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn:focus {
	border: 1px solid;
}

.btn:disabled {
	border: none;
}

.new-subbo,
.delete-selected-subbos,
.clone-selected-subbos,
.copy-selected-subbos,
.paste-selected-subbos,
.export-subbos,
.autonumber-move-up,
.autonumber-move-down {
	background-color: transparent;
}

