<div
	#popup
	*ngIf="showCopyAndPastePopup"

	nucClickOutside
	(clickOutside)="outsideClicked($event)"
	[ngStyle]="{'top.px': popupPositionTop, 'left.px': popupPositionLeft}"

	[ngClass]="subform.getToolbarOrientation() === 'HORIZONTAL' ? 'horizontal' : 'vertical'"
	(keydown)="keydown($event)"
	(keyup)="keyup($event)"
	class="more-actions-popup">
	<div
		pTooltip="{{'webclient.subform.button.copySelectedRows' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
	>
		<button
			#copyButton
			class="btn btn-small copy-selected-subbos"
			(click)="subform.copy(); this.showCopyAndPastePopup = false;"
			[disabled]="!subform.isCopyEnabled()"
		>
			<i class="fa-solid fa-clipboard" aria-hidden="true"></i>
			<span class="fas sr-only">{{'common.button.copy' | i18n}}</span>
		</button>
	</div>
	<div
		pTooltip="{{'webclient.subform.button.pasteSelectedRows' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
	>
		<button
			#pasteButton
			class="btn btn-small paste-selected-subbos"
			(click)="subform.pasteRowsFromStorage(); this.showCopyAndPastePopup = false;"
			[disabled]="!subform.isPasteEnabled()"
		>
			<i class="fa icon-half fa-paste" aria-hidden="true"></i>
			<span class="fas sr-only">{{'common.button.paste' | i18n}}</span>
		</button>
	</div>
	<div id="export-subbo-list"
	     pTooltip="{{'webclient.sideview.listexport.title' | i18n}}"
	     [tooltipOptions]="tooltipDefaults"
	     *ngIf="subform.showListExportButton() | async">
		<button
			#exportButton
			class="btn btn-small export-subbos"
			(click)="subform.openExportBoListModal(); this.showCopyAndPastePopup = false;"
			[disabled]="subform.isEmpty() || subform.getEntityObject().isDirty()"
		>
			<i class="fa fa-download" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.sideview.listexport.title' | i18n}}</span>
		</button>
	</div>
</div>
