<span class="toggletip-container" *ngIf="textValue !== undefined" aria-live="assertive">
  <button type="button"
          #toggleTipButton
          pButton
          label="?"
          [attr.for-id]="forId"
          class="p-button-rounded p-button-info p-button-sm p-button-questionmark"
          [attr.aria-label]="'common.more.info.btn' | i18n"
          (click)="toggleTooltip()"
          (blur)="blur()"
          nucClickOutside
          (clickOutside)="outsideClick($event)"
  ></button>
  <span role="status">
	  <div *ngIf="showTooltip" [innerHTML]="textValue | valueToSafeHtml" class="sr-only"></div>
  </span>
</span>
