:host {
	display: inline-block;
	margin-right: 3px;
}

.overlay-button-container {
	position: absolute;
	padding: 0;
	height: 15px;
	margin-top: -17px;
	color: #fff;
}

.overlay-button {
	font-size: 0.75rem;
	cursor: pointer;
}

.overlay-button:hover {
	color: yellow;
}
