<div
	#multiSelectContainer
	tabindex="0"
	class="multi-selection-container form-control form-control-sm"
	*ngIf="isVisible()"
	[attr.ref-attr-id]="webComponent.foreignkeyfieldToParent"
	[attr.id]="getId()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	(keydown)="keyDown($event)"
	>
	<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
	<p-multiSelect
		#multiSelect
		dropdownIcon="pi pi-angle-down"
		styleClass="custom-multi-select"
		display="chip"
		optionLabel="name"
		[attr.for-id]="getId()"
		[inputId]="getId()"
		[disabled]="!webComponent.enabled || !isWritable()"
		[overlayOptions]="overlayOptions"
		[options]="suggestions"
		[ngModel]="subModel"
		[style.background-color]="this.webComponent.customBackgroundColor ?? '#FFF'"
		(onChange)="selectionChange($event)"
		(mouseover)="hover=true"
		(mouseleave)="hover=false"
	></p-multiSelect>
	<div class="multiselection-overlay"
	     [style.background]="hover ? 'linear-gradient(to right, transparent, ' + (!!this.webComponent.customBackgroundColor ? this.webComponent.customBackgroundColor : '#FFF') + ' 10%)' : ''"
	     *ngIf="!!subformMeta && !!webComponent.enabled && isWritable()"
	     [ngClass]="{'lov-overlay-disabled': !isWritable()}"
	     (mouseover)="hover=true"
	     (mouseleave)="hover=false"
	>
		<a
			class="add-reference"
			href="#{{router.url}}"
			style="margin-right: 0.3rem"
			pTooltip="{{'webclient.button.new' | i18n}}"
			*ngIf="isVisible"
			[tooltipOptions]="tooltipDefaults"
			(click)="addReferenceTarget()">
			<i class="fa fa-plus" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.button.new' | i18n}}</span>
		</a>
	</div>
</div>
<div
	*ngIf="!isVisible() && isOverlayContext() && hasStatefulParent()"
	class="no-multiselect-in-overlay"
>
	<span>
		{{ 'webclient.multiselect.notSupported' | i18n }}
		<a
			*ngIf="!this.eo.isNew()"
			(click)="openParentInNewTab()"
			class="link-secondary"
		>
			<span><br>{{ 'webclient.subform.openInNewTab' | i18n }}</span>
		</a>
	</span>
</div>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
