#registration-container {
    float: none;
    margin: 0px auto;
    width: 550px;
    margin-top: 30px;
}

#registration-container .card-header {
    height: 45px
}

.form-group {
    margin-bottom: 0.1rem;
    display: flex;
    align-items: center;
}

.col-form-label {
	white-space: nowrap;
}

.btn {
	margin-left: .5rem;
}

.disclaimer-checkbox {
	margin-top: 6px;
}
