:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.separator-horizontal {
	width: 100%;
	border-bottom: 1px solid #A0A0A0;
	height: 18px;
	margin-bottom: 9px;
}

.separator-vertical {
	width: 18px;
	border-left: 1px solid #A0A0A0;
	height: 100%;
	margin-left: 9px;
}
