@import "../../../styles";
@import "../../modules/grid/grid.scss";

:host {
	min-height: 64px;
	height: 100%;
	display: block;
}

:host .file-drop-allowed {
	cursor: copy;
}

:host ::ng-deep .ag-theme-balham {
	font-size: 0.6875rem; /* 11px */
	font-family: sans-serif;
	line-height: 1.5;
}

:host ::ng-deep .ag-theme-balham .ag-root {
	border: none;
}

:host ::ng-deep .ag-cell {
	background-color: inherit;
}

:host ::ng-deep .ag-cell-defaultHeight {
	white-space: normal;
	word-break: normal;
	overflow-wrap: break-word;
}

@media (max-width: 540px) {
	.subform-overlay-translation {
		transform: translate(-50%, 4em);
	}
}

@media (min-width: 540px) {
	.subform-overlay-translation {
		transform: translate(-0%, 5.5em);
	}
}

.container-fluid {
	padding: 0px
}

.subform-container {
	/* Negative margin to cancel out the padding of web-component */
	margin-bottom: -1px;
	height: calc(100% + 1px); /* Add 1 extra pixel for the negative margin */

	display: flex;
	background-color: #f8f8f8;

	/* do not let subform toolbar overlap small subforms */
	overflow-y: hidden;
}

.toolbar-vertical {
	flex-direction: row;
}

.toolbar-horizontal {
	flex-direction: column;
}

.subform {
	height: 100%;
	min-height: 100px; //in responsiv view we do need at least that much space
	flex: 1;
	max-width: calc(100%);
}

.subform.toolbar-horizontal {
	border-top: 1px solid #bdc3c7;
}

// Leave some extra space if there are buttons.
// We have to do this manually or the ag-grid will not resize correctly.
.with-buttons {
	max-width: calc(100% - 24px);
}

a i {
	font-size: 0.813rem;
}

/*
overflow is set to visible when editing datepicker cells
 */
:host ::ng-deep .subform-date-cell.ag-cell-inline-editing {
	overflow: visible;
}

:host ::ng-deep .ag-header-icon i {
	float: right;
	font-size: 0.64em;
	position: relative;
	top: 0.75em;
	margin-left: 0.5em;
}

:host ::ng-deep .ag-theme-balham .ag-row-even {
	background-color: #f8f8f8;
}

:host ::ng-deep .ag-theme-balham .ag-row-odd {
	background-color: #ebebeb;
}

:host ::ng-deep .ag-theme-balham .ag-row-even .row-uneditable {
	background-color: #e6e6e6;
}

:host ::ng-deep .ag-theme-balham .ag-row-odd .row-uneditable {
	background-color: #d9d9d9;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected {
	background-color: $row-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .row-modified {
	background-color: $row-modified-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected.row-modified,
:host ::ng-deep .ag-theme-balham .ag-row-selected .row-modified {
	background-color: $row-modified-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .row-new {
	background-color: $row-new-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected.row-new,
:host ::ng-deep .ag-theme-balham .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .row-deleted {
	background-color: $row-deleted-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected.row-deleted,
:host ::ng-deep .ag-theme-balham .ag-row-selected .row-deleted {
	background-color: $row-deleted-selected-background-color;
}

:host ::ng-deep .ag-cell {
	padding-top: 3px;
}

// allow text selection for copy/paste in grid
:host ::ng-deep .ag-font-style {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.no-subform-in-overlay {
	padding: 5px;
	font-size: 0.8rem;
	line-height: 1.2em;
}
