<div
	*ngIf="isVisible()"
	class="container-fluid subform-container"
	[ngClass]="this.getToolbarOrientation() === 'HORIZONTAL' ? 'toolbar-horizontal' : 'toolbar-vertical'"
	[attr.ref-attr-id]="subformMeta?.getRefAttrId()"
	[style]="subformStyle"
>
	<nuc-subform-buttons
		#toolbarButtons
		*ngIf="this.isToolbarVisible()"
		[subform]="this"
		[meta]="subformMeta"
	></nuc-subform-buttons>

	<ag-grid-angular
		#agGrid
		class="ag-theme-balham subform"
		[ngClass]="this.getToolbarOrientation() === 'VERTICAL' ? 'with-buttons' : 'toolbar-horizontal'"
		[singleClickEdit]="true"
		[gridOptions]="gridOptions"
		(rowSelected)="rowSelected($event)"
		(gridReady)="gridReady()"
		(cellEditingStopped)="cellEditingStopped($event)"
		(rowDataChanged)="dataChanged()"
		(rowDataUpdated)="dataChanged()"
		(cellKeyDown)="onCellKeyDown($event)"
		[frameworkComponents]="frameworkComponents"
		[overlayLoadingTemplate]="overlayLoadingTemplate"
		[noRowsOverlayComponent]="noRowsOverLayComponent"
		[noRowsOverlayComponentParams]="noRowsOverLayComponentParams"
		(columnResized)="onColumnResizedOrMoved($event)"
		(columnMoved)="onColumnResizedOrMoved($event)"

		nucGrid

		nucClickOutside
		[evaluateClickOutside]="isClickOutside"
		(clickOutside)="stopEditing()"

		ngFileDrop
		[options]="options"
		(onUpload)="handleUpload($event)"
		[uploadInput]="uploadInput"
		(uploadOutput)="handleUpload($event)"
	>
	</ag-grid-angular>
	<div #subformPopoverContainer *ngIf="isPopoverShowing()" style="position: fixed; z-index: 1;"
	     class="subform-overlay-translation"
	     [style.left.px]="(toolbarButtonsRef && toolbarButtonsRef.nativeElement) ? toolbarButtonsRef.nativeElement.getBoundingClientRect().left + 64 : 0"
	     [style.top.px]="(toolbarButtonsRef && toolbarButtonsRef.nativeElement) ? toolbarButtonsRef.nativeElement.getBoundingClientRect().top - (selectedFilter?.content.isTemp ? 64 : 160) : 0">
		<nuc-filter-editor-overlay [mainEo]="eo" [dependentFilterKey]="getSubformFilterPrefId()" [dependentMeta]="subformMeta"></nuc-filter-editor-overlay>
	</div>
</div>

<div
	*ngIf="!isVisible() && isOverlayContext() && hasStatefulParent()"
	class="no-subform-in-overlay"
>
	<span>
		{{ 'webclient.subform.notSupported' | i18n }}
		<a
			*ngIf="!this.eo.isNew()"
			(click)="openParentInNewTab()"
			class="link-secondary"
		>
			<span><br>{{ 'webclient.subform.openInNewTab' | i18n }}</span>
		</a>
	</span>
</div>
