<div id="sideview-statusbar" class="sideview-statusbar">
	<div class="multi-selection-statusbar-button sideview-statusbar-content">
		<div *ngIf="sideviewMenuWidth > 80">
			<a
				*ngIf="showMultiselectionButton"
				(click)="toggleMultiselection()"
				pTooltip="{{(showCollectiveProcessingButton ? 'webclient.sideview.collectiveprocessing.title' : 'webclient.sideview.multiselection.title') | i18n}}"
				[tooltipOptions]="tooltipDefaults"
			>
				<span class="fa fa-check-square-o" aria-hidden="true"></span>
				{{(showCollectiveProcessingButton ? 'webclient.sideview.collectiveprocessing.link' : 'webclient.sideview.multiselection.link') | i18n}}
			</a>
		</div>
	</div>
	<div *ngIf="totalEOCount !== undefined && sideviewMenuWidth > 192" class="sideview-statusbar-content">
		<span id="sideview-statusbar-count" #totoalCount>{{totalEOCount}}</span> {{(totalEOCount === 1 ? 'webclient.datarecord' : 'webclient.datarecords') | i18n}}
		<div
			*ngIf="showListExportButton()"
			id="export-bo-list"
			pTooltip="{{'webclient.sideview.listexport.title' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
		>
			<button
				class="btn btn-small export-bo-list icon-btn"
				(click)="openExportBoListModal()"
				[disabled]="isEoModified"
			>
				<span class="fa fa-download" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>
