@import "../../statusbar";

:host {
	height: $statusbar-height;
    // problems with overflow hidden and fixed search editor, is it really necessary?
	// overflow: hidden;
	background-color: $statusbar-background-color;
	position: relative;
	border-right: 1px solid #e3e3e3;
}

a {
	cursor: pointer;
}

.multi-selection-statusbar-button a:hover {
	color: inherit;
	text-decoration: none;
}

.sideview-statusbar {
	display: flex;
}

.sideview-statusbar-buttons {
	flex: 1;
	margin-left: 5px;
	margin-top: 4px;
	height: 17px;
}
.sideview-statusbar-buttons span {
	font-size: 0.875rem;
}

.sideview-statusbar-content {
	display: flex;
	font-size: $status-bar-font-size;
	color: $statusbar-text-color;
	white-space: nowrap;
	padding-top: 2px;
	padding-left: 10px;
	margin-right: 5px;
}

.multi-selection-statusbar-button {
	padding-left: 2px;
	flex-grow: 1;
}

#sideview-statusbar-count {
	padding-right: 2px;
}

#sideviewmenu-btn-collapse span,
#sideviewmenu-btn-expand span {
	font-size: $status-bar-font-size;
}

.icon-btn span, #export-bo-list {
	color: #337ab7;
	text-decoration: none;
	background-color: transparent;
}

button.export-bo-list {
	padding: 0 0 0 5px;
	margin-top: -4px;
}
