img {
	height: unset;
	padding-right: 4px;
	vertical-align: sub;
}

.nuc-button:disabled {
	opacity: 0.75;
}

.btn-primary:hover {
	background-color: #acacac;
	border-color: #acacac;
}

button {
	position: relative;
	padding-bottom: 10px;
}

button::before {
	content: '';
	border-bottom: 2px solid #000;
	position: absolute;
	bottom: -5px;
	left: -2px;
	right: 0;
	width: calc(100% + 4px)
}
