<prime-custom-splitter
	[layout]="orientation"
	[collapsable]="collapsable"
	[style]="getStyle()"
	(onResizeEnd)="panelResized($event)"
	[gutterSize]="dividerSize" #splitter>
	<ng-template pTemplate>
		<nuc-web-container
			[eo]="eo"
			[webComponent]="firstPanel"
			[style]="{width: '100%'}"
		></nuc-web-container>
	</ng-template>
	<ng-template pTemplate>
		<nuc-web-container
			[eo]="eo"
			[webComponent]="secondPanel"
			[style]="{width: '100%'}"
		></nuc-web-container>
	</ng-template>
</prime-custom-splitter>
