.planning-resource-header {
	box-shadow: rgba(0, 0, 0, 0.15) 0 -50px 36px -28px inset;
	overflow: hidden;
	position: absolute;
}

.planning-resource-header.vertical {
	border-bottom:  1px solid #999999;
	/*border-right: 1px solid #999999;*/
}

.planning-resource-header.horizontal {
	/*border-bottom:  1px solid #999999;*/
	border-right: 1px solid #999999;
}

.resize-handle-x {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 5px;
	height: 100%;
	cursor: ew-resize;
}

.resize-handle-y {
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0px;
	cursor: ns-resize;
}

