<div class="planning-resource-header"
     [ngClass]="viewConfiguration.tableAlignment === 0 ? 'horizontal' : 'vertical'"
     [style.left]="(viewConfiguration.tableAlignment == 1) ? '0px' : resourceIndex * viewConfiguration.resourceCellSize + 'px'"
     [style.top]="(viewConfiguration.tableAlignment == 0) ? '0px' : resourceIndex * viewConfiguration.resourceCellSize + 'px'"
     [style.width]="(viewConfiguration.tableAlignment == 1) ? '100%' : viewConfiguration.resourceCellSize + 'px'"
     [style.height]="(viewConfiguration.tableAlignment == 0) ? '100%' : viewConfiguration.resourceCellSize + 'px'"
     [style.float]="(viewConfiguration.tableAlignment == 0) ? 'left' : ''">
	<div class="resource-content" style="width: calc(100%); height: calc(100%); overflow: hidden; line-height: 100%; font-size: 13px; padding-left: 2px; padding-top: 2px; display: inline-block;"
	     pTooltip="{{resource.tooltip}}"
	     [tooltipOptions]="tooltipDefaults"
	     [innerHTML]="resource.label"
	></div>
	<div #horizontalDragAndDropHandle
	     class="resize-handle-y"
	     *ngIf="(viewConfiguration.tableAlignment == 1)">
	</div>
	<div #horizontalDragAndDropHandle
	     class="resize-handle-x"
	     *ngIf="(viewConfiguration.tableAlignment == 0)"></div>
</div>
