<div class="nuclos-desktop" style=" overflow: hidden;">
	<span
		*ngFor="let searchfilter of favoriteFilters"
		class="searchfilter-favorite-button"
		[ngClass]="{'searchfilter-favorite-button-selected': searchfilter.selected,
								'searchfilter-favorite-button-unselected': !searchfilter.selected}"
		(click)="toggleFilterSelection(searchfilter)"
	>
			<i *ngIf="searchfilter.content.favoriteIcon"
			   class="material-icons" aria-hidden="true">{{ searchfilter.content.favoriteIcon }}</i>
		{{searchfilter.name}}
		<span class="fas sr-only">{{'webclient.sideview.listfilter.title' | i18n}}</span>
	</span>
</div>
