@media (max-width: 540px) {
	.nuclos-desktop {
		display: none;
	}
	.nuclos-mobile {

	}
}

@media (min-width: 540px) {
	.nuclos-desktop {
		display: flex;
	}
	.nuclos-mobile {
		display: none;
	}
}

:host ::ng-deep .input-group-text {
	font-size: 0.6875rem !important;
}

:host ::ng-deep .custom-select {
	font-size: 0.6875rem !important;
}

:host {
	flex-direction: row;
	display: flex;
}

.searchfilter-favorite-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 8px;
	margin-right: 3px;
	font-size: .75rem;
	font-weight: var(--bs-body-font-weight);
	font-family: var(--bs-body-font-family);
}

.searchfilter-favorite-button:hover {
	color: #0275d8 !important;
	cursor: pointer;
}

.searchfilter-favorite-button-selected {
	color: black;
}

.searchfilter-favorite-button-selected i {
	color: black;
}

.searchfilter-favorite-button-unselected {
	color: darkgray;
}

.searchfilter-favorite-button-unselected i {
	color: dimgray;
}

.searchfilter-favorite-button i {
	font-size: 1rem;
	margin-right: 2px;
}

.searchfilter-favorite-button:hover i {
	color: inherit;
}

