<button class="icon-picker"
    (click)="selectIcon()"
	[disabled]="disabled">
	<span class="picker-label"
	      *ngIf="pickerLabel">{{ pickerLabel }}</span>
	<i *ngIf="selectedIcon"
        class="material-icons icon-preview">{{ selectedIcon }}</i>
	<i *ngIf="!selectedIcon"
        class="material-icons icon-preview icon-preview-empty">help</i>
</button>