.icon-picker {
    border: lightgray dashed 1px;
    border-radius: 4px;
    padding: 3px 3px 2px 4px;
}

.icon-picker:disabled {
    cursor: not-allowed;
    background-color: unset;
}

.picker-label {
    margin-right: 5px;
}

.icon-preview {
    font-size: 1rem;
    vertical-align: text-bottom;
}

.icon-preview-empty {
    opacity: 0;
}