<input
	#input
	type="url"
	class="form-control form-control-sm"
	[style.width]="getWidth() + 'px'"
	[style.height]="getHeight() + 'px'"
	[ngModel]="getValue()"
	(ngModelChange)="setStringValue($event)"
	(keydown)="keydown($event)"
	(blur)="focusIsLost()"
/>

<span class="icons">
	<a
		class="complete-hyperlink-editing"
		href="#{{router.url}}"
		(click)="stopEditing()"
	>
		<i class="fa fa-check fa-lg" aria-hidden="true"></i>
		<span class="fas sr-only">{{'common.stop.editing' | i18n}}</span>
	</a>
</span>
