<div #searchEditorButtonContainer id="search-editor-button-container"
     (clickOutside)="clickOutside($event)" nucClickOutside>
	<button id="search-editor-button"
	        class="btn btn-sm search-editor-button"
	        [ngClass]="{'search-editor-button-marked': isSelectedSearchfilterEnabled() && !isEditorFixedAndShowing(),
	                    'search-editor-button-fixed': isEditorFixedAndShowing()}"
	        (click)="toggleSearchEditor()">
		<div class="search-editor-button-icons">
			<i class="fa fa-search"></i>
			<i class="fa fa-sm fa-caret-down"></i>
		</div>
	</button>

	<div id="search-editor-popover">
		<div *ngIf="isPopoverShowing() && !isEditorFixed()">
			<nuc-search-editor class="search-editor">
			</nuc-search-editor>
		</div>
	</div>
</div>

