<p-editor
	#editor
	(onTextChange)="onChangeCallback($event)"
	*ngIf="!isHidden"
	[id]="getId()"
	[style]="getStyle()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	[readonly]="!isWritable()"
	[(ngModel)]="editorValue"
>
	<p-header>
		<span class="ql-formats">
			<button aria-label="Bold" type="button" class="ql-bold"></button>
			<button	aria-label="Italic" type="button" class="ql-italic"></button>
			<button	aria-label="Underline" type="button" class="ql-underline"></button>
		</span>
		<span class="ql-formats">
		    <button value="ordered" aria-label="Ordered List" type="button" class="ql-list"></button>
		    <button value="bullet" aria-label="Unordered List" type="button" class="ql-list"></button>
		</span>
		<span class="ql-formats">
			<nuc-text-module
				*ngIf="isWritable() && hasTextModules()"
				[eo]="getEntityObject()"
				[attributeMetaId]="getName()"
				[getCaretPosition]="getCaretPosition"
				[insertText]="insertText"
				[setFocus]="setFocus"
				[controlType]="'html-editor'"
			></nuc-text-module>
		</span>
	</p-header>
</p-editor>
