.container {
	height: 100%;
	width: 100%;
	display: table;
	padding-bottom: 15px;
}

.header {
	display: table-row;
	vertical-align: top;
	height: auto
}

.content {
	display: table-row;
	vertical-align: top;
	height: 100%;
}

.log {
	height: 100%;
	display: block;
}

.footer {
	display: table-row
}
