<input
	#emailInput
	*ngIf="isWritable() && (editing || !getUrl()) && !isHidden"
	type="email"
	[attr.id]="getId()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	[ngStyle]="getStyle()"
	class="form-control form-control-sm"
	[ngClass]="getCssClasses()"
	[ngModel]="getEmailAttribute()"
	(ngModelChange)="editing = true; setEmailAttribute($event);"
	(focusout)="stopEditing()"
/>
<a
	*ngIf="!editing && getUrl() && !isHidden"
	type="email"
	[attr.id]="getId()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	class="form-control form-control-sm ellipsis"
	[ngClass]="getCssClasses()"
	[href]="getUrl()"
	target="_blank"
	(focus)="focus()"
	(mouseover)="mouseover = true"
	(mouseleave)="mouseover = false"
>{{getEmailAttribute()}}</a>

<span *ngIf="isWritable() && getUrl() && !isHidden" class="icons">
	<a
		*ngIf="!editing"
		class="edit-email"
		(click)="toggleEditing()"
		href="#{{router.url}}"
		pTooltip="{{'webclient.button.editEmail' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
	>
		<i class="fa fa-edit fa-lg" aria-hidden="true"></i>
		<span class="fas sr-only">{{'webclient.button.editEmail' | i18n}}</span>
	</a>
	<a
		*ngIf="editing"
		href="#{{router.url}}"
		class="complete-email-editing"
		(click)="toggleEditing()"
	>
		<i class="fa fa-check fa-lg" aria-hidden="true"></i>
		<span class="fas sr-only">{{'webclient.button.editEmail' | i18n}}</span>
	</a>
</span>
<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
