input {
	height: 100%
}

input::-ms-clear {
	display: none;
}

a {
	border: none;
	background: inherit;
	padding-top: 2px;
}

a:focus {
	border: none;
	box-shadow: none;
	-webkit-animation: color-change 2s infinite;
	-moz-animation: color-change 2s infinite;
	-o-animation: color-change 2s infinite;
	animation: color-change 2s infinite;
}

.disabled {
	pointer-events: none;
	cursor: default;
}

.icons {
	position: absolute;
	top: 3px;
	right: 3px;
	padding-top: 0.2em;
	padding-right: 0.2em;
	display: none;
}

:host:hover .icons {
	display: inherit;
}

@-webkit-keyframes color-change {
	0% { color: #337ab7; }
	50% { color: indigo; }
	100% { color: #337ab7; }
}
@-moz-keyframes color-change {
	0% { color: #337ab7; }
	50% { color: indigo; }
	100% { color: #337ab7; }
}
@-ms-keyframes color-change {
	0% { color: #337ab7; }
	50% { color: indigo; }
	100% { color: #337ab7; }
}
@-o-keyframes color-change {
	0% { color: #337ab7; }
	50% { color: indigo; }
	100% { color: #337ab7; }
}
@keyframes color-change {
	0% { color: #337ab7; }
	50% { color: indigo; }
	100% { color: #337ab7; }
}
