:host {
	height: 100%;
}

#detail-modal-dialog {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.modal-body {
	flex: 1
}

.modal-body-content {
	display: flex;
	flex-flow: column;
	height: 100%;
}
