<div id="detail-modal-dialog" class="dialog">
	<div class="modal-header" *ngIf="independentContext">
		<nuc-detail-toolbar
			[eo]="eo"
			[autoSelectAfterSaveEnabled]="false"
			[autoSelectAfterDeleteEnabled]="false"
			[useResultServiceForCancelation]="false"
			[showCancelForNewObject]="true"
			[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
			[modal]="true"
		></nuc-detail-toolbar>
		<button id="button-close" type="button" class="btn-close" data-dismiss="modal" [attr.aria-label]="'common.close' | i18n" (click)="close()">
		</button>
	</div>

	<div class="modal-body">
		<div class="modal-body-content">
			<nuc-graph [eo]="eo" [modal]="true" *ngIf="hasDefaultPath()"></nuc-graph>
			<nuc-layout
				[eo]="eo"
			></nuc-layout>
		</div>

	</div>

	<div class="modal-footer" *ngIf="!independentContext">
		<button id="button-ok" type="button" class="btn btn-primary" (click)="close()">
			{{ 'webclient.button.ok' | i18n }}
		</button>
		<button id="button-cancel" type="button" class="btn btn-primary" (click)="cancel()">
			{{ 'webclient.button.cancel' | i18n }}
		</button>
	</div>
</div>

