<div class="container-fluid">
	<div class="row">
		<h3 class="col-md-12 text-center mt-3">{{'webclient.login.richClientCompleted.title' | i18n}}</h3>
	</div>

	<div class="row">
		<div class="col-md-12 text-center mb-4">
			{{'webclient.login.richClientCompleted.message' | i18n}}
		</div>
	</div>

	<div class="col-md-8 mx-auto text-center">
		<a (click)="navigateHome()">
			<img src="assets/images/coffee.jpg" alt="Start using this web client"/>
		</a>
	</div>

</div>
