<nuc-mandator-stripe></nuc-mandator-stripe>

<nuc-detail-toolbar
	[eo]="eo"
	[canCreateBo]="canCreateBo"
	[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
	[collectiveProcessing]="collectiveProcessing"
	(onBackToCollectiveProcessingClick)="onBackToCollectiveProcessingClick.emit($event)"
	[additionTemplateButtons]="displayDefaultPathFully ? [] : [graphBtn]"
></nuc-detail-toolbar>
<ng-container *ngIf="displayDefaultPathFully">
	<nuc-graph [eo]="eo" *ngIf="hasDefaultPath()"></nuc-graph>
</ng-container>
<ng-template #graphBtn>
	<ng-container *ngIf="!displayDefaultPathFully">
		<button class="btn btn-sm btn-primary"
		        [disabled]="pathBtnDisabled"
		        (click)="this.showDefaultPathContentInDialog(graphContent)"
		        aria-hidden="true" pTooltip="{{'webclient.path.button.show'  | i18n}}" [tooltipOptions]="tooltipDefaults">
			<i class="fa fa-project-diagram"></i>
			<span class="fas sr-only">{{'webclient.path.button.show' | i18n}}</span>
		</button>
		<ng-template #graphContent>
			<nuc-graph [eo]="eo" *ngIf="hasDefaultPath()"></nuc-graph>
		</ng-template>
	</ng-container>
</ng-template>

<nuc-layout
	[eo]="eo"
	(onLayoutLoaded)="layoutLoaded($event)"
	*ngIf="eo !== undefined"
></nuc-layout>


<div *ngIf="eoResultService.isEoNotFound()" class="card mx-auto w-25" id="error-container">
	<div class="card-header">
		<h4 align="middle">{{'webclient.error.title' | i18n}}</h4>
	</div>
	<div class="card-body text-sm-center">
		{{'webclient.error.eo.not-found' | i18n}}
	</div>
</div>
