<div class="main-container" *ngIf="planningTable">
	<p-toolbar styleClass="toolbarS">
		<div>
			<div class="p-toolbar-group-left tools-left" style="float: left;">
				<div class="col-md-auto centeredTextContent">

				<!--		Datechooser From-->
					<label for="datechooser-From" style="margin-left: 0em; font-size: 13px;">{{'webclient.planningTable.time.from' | i18n}}: </label>
					<nuc-datechooser #chooserFrom style="width: 6em; margin-left: 0.5em;"
									 id="datechooser-From"
									 [inputStyle]="{ fontSize: '13px' }"
									 [model]="viewConfiguration.dateFrom"
					                 (keyup.enter)="onFromPickerLeft()"
					                 (onPickerClose)="onFromPickerLeft()"
					                 (focusout)="onFromPickerLeft()"
					></nuc-datechooser>

				<!--		Datechooser Until-->
					<label for="datechooser-Until" style="margin-left: 1em; font-size: 13px;">{{'webclient.planningTable.time.until' | i18n}}: </label>
					<nuc-datechooser #chooserUntil style="width: 6em; margin-left: 0.5em;"
									 id="datechooser-Until"
									 [inputStyle]="{ fontSize: '13px' }"
									 [model]="viewConfiguration.dateUntil"
									 (keyup.enter)="onUntilPickerLeft()"
					                 (onPickerClose)="onUntilPickerLeft()"
					                 (focusout)="onUntilPickerLeft()"
					></nuc-datechooser>

					<label for="nuclosCurrentTimeMode" style="margin-left: 1em; font-size: 13px;">{{'webclient.planningTable.time.mode' | i18n}}: </label>
				</div>

				<!--		Dropdown Menu to choose the Time Mode -->
				<div class="dropdown" style="width: 6em; margin-left: 0.5em;">
					<button id="nuclosCurrentTimeMode" class="btn btn-secondary btn-sm dropdown-toggle"
							style="background-color: white; color: black;"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							pTooltip="{{'webclient.planningTable.time.mode.current' | i18n}}"
							[tooltipOptions]="tooltipDefaults">
						<span>{{viewConfiguration.baseUnit.nameKey | i18n}}</span>
					</button>
					<div class="dropdown-menu">
						<div *ngFor="let timeMode of timeModes;">
							<a class="dropdown-item time-item"
							   id="{{timeMode.nameKey.replace('webclient.planningTable.time.mode.', '')}}"
							   style="color: black;"
							   tabindex="0"
							   aria-haspopup="true"
							   (click)="planningTableComponent.setBaseUnit(timeMode)"
							>
								<span>{{timeMode.nameKey | i18n}}</span>
							</a>
						</div>
					</div>
				</div>

				<div class="dropdown" style="">
					<button id="nuclosCurrentFilter" class="btn btn-secondary btn-sm dropdown-toggle"
							style="background-color: white; color: black;"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							pTooltip="{{'webclient.planningTable.filter.current' | i18n}}"
							[tooltipOptions]="tooltipDefaults">
					<span>
						{{viewConfiguration.searchFilter ? viewConfiguration.searchFilter.filterName : 'webclient.planningTable.filter.none' | i18n}}
					</span>
					</button>
					<div class="dropdown-menu">
						<div *ngFor="let filter of searchFilters;">
							<a class="dropdown-item"
							   style="color: black;"
							   tabindex="0"
							   aria-haspopup="true"
							   (click)="planningTableComponent.setSearchFilter(filter)"
							>
								<span>{{filter ? filter.filterName : 'webclient.planningTable.filter.none' | i18n}}</span>
							</a>
						</div>
					</div>
				</div>

				<div style="padding-left: 1em; padding-right: 1em;">
					<div class="col-md-auto centeredTextContent">
						<p-checkbox labelStyleClass="checkboxLabel"
									[hidden]="!planningTableComponent.planningView.isMultiUserTable() && !viewConfiguration.showOwnEventsOnly"
									[binary]="true"
									[ngModel]="viewConfiguration.showOwnEventsOnly"
									label="{{'webclient.planningTable.bookings.show.own.only' | i18n}}"
									(onChange)="setShowOwnEventsOnly($event)"></p-checkbox>
					</div>
				</div>
			</div>
			<div class="p-toolbar-group-left mobile-tools" style="float: left; padding-right: 1em;">
				<button class="btn btn-sm btn-secondary test"
						(click)="openModal()">
					<i class="fa fa-fw fa-cog" pTooltip="{{'webclient.planningTable.button.fitview' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				</button>
			</div>
			<div class="p-toolbar-group-left toolbar-editing" style="float: right;" *ngIf="planningTableComponent.enabled">
				<div class="dropdown" style="" *ngIf="planningTableComponent.planningView.metaMap.size > 0 && (elementSelection.selectedElements.length > 0 || cellSelection)">
					<button id="createPlanElement" class="btn btn-success btn-sm "
					        data-bs-toggle="dropdown"
					        aria-haspopup="true"
					        aria-expanded="false"
					        pTooltip="{{'webclient.planningTable.time.mode.current' | i18n}}"
					        [tooltipOptions]="tooltipDefaults">
						<i class="fa fa-fw fa-plus" style="float: left; height: 100%; bottom: 0;"></i>
					</button>
					<div class="dropdown-menu">
<!--						first list all bookings -->
						<div *ngFor="let metaDef of planningTableComponent.planningView.bookingDefMetas;">
							<a class="dropdown-item time-item"
							   id="selection_create_{{metaDef.meta.getEntityName().split(' ').join('_').toLowerCase()}}"
							   style="color: black;" aria-haspopup="true"
							   (click)="createPlanElement(metaDef.meta, metaDef.entityName);"
							>
								<span>{{metaDef.meta.getEntityName()}}</span>
							</a>
						</div>
<!--						then list all milestones -->
						<div *ngFor="let metaDef of planningTableComponent.planningView.milestoneDefMetas;">
							<a class="dropdown-item time-item"
							   id="selection_create_{{metaDef.meta.getEntityName().split(' ').join('_').toLowerCase()}}"
							   style="color: black;" aria-haspopup="true"
							   (click)="createPlanElement(metaDef.meta, metaDef.entityName);"
							>
								<span>{{metaDef.meta.getEntityName()}}</span>
							</a>
						</div>
<!--						if a booking is selected, offer to set the from booking for creating a relation -->
						<div *ngIf="elementSelection.selectedElements.length == 1 && isBooking(elementSelection.selectedElements[0])">
							<a class="dropdown-item time-item"
							   id="set_relation_from_booking"
							   style="color: black;" aria-haspopup="true"
							   (click)="setRelationFrom(elementSelection.selectedElements[0])"
							>
								<span>{{'webclient.planningTable.build.relation.from' | i18n}}</span>
							</a>
						</div>
						<ng-container *ngFor="let metaDef of planningTableComponent.planningView.relationDefMetas;">
							<div *ngIf="elementSelection.selectedElements.length == 1 && currentRelationFrom && isBooking(elementSelection.selectedElements[0])">
								<a class="dropdown-item time-item"
								   id="selection_create_relation_{{metaDef.meta.getEntityName().split(' ').join('_').toLowerCase()}}"
								   style="color: black;" aria-haspopup="true"
								   (click)="createRelation(metaDef.meta, metaDef.entityName, elementSelection.selectedElements[0]);"
								>
									<span>{{metaDef.meta.getEntityName()}}</span>
								</a>
							</div>
						</ng-container>
					</div>
				</div>
				<button class="btn btn-sm btn-success"
				        id="showElementDetails"
				        *ngIf="elementSelection.selectedElements.length === 1"
						(click)="showDetailsForSelectedElement()">
					<i class="fa fa-fw fa-pencil-square-o" pTooltip="{{'webclient.planningTable.button.refresh' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				</button>
				<button class="btn btn-sm btn-success"
				        id="removeSelectedElements"
				        *ngIf="elementSelection.selectedElements.length > 0"
						(click)="removeSelectedElements()">
					<i class="fa fa-fw fa-trash" pTooltip="{{'webclient.planningTable.button.refresh' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				</button>
			</div>
		</div>

		<div class="p-toolbar-group-right">
			<div class="col-md-auto">
				<button class="btn btn-sm btn-success"
				        (click)="exportSvg()">
					<i class="fa fa-fw fa-print" pTooltip="{{'webclient.planningTable.button.export' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				</button>
				<button class="btn btn-sm btn-success"
				        (click)="planningTableComponent.refresh()">
					<i class="fa fa-fw fa-sync" pTooltip="{{'webclient.planningTable.button.refresh' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				</button>
				<button class="btn btn-sm btn-success"
				        (click)="planningTableComponent.fitContent()">
					<i class="fa fa-fw fa-arrows-alt-h" pTooltip="{{'webclient.planningTable.button.fitview' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				</button>
				<button class="btn btn-sm btn-success"
				        (click)="planningTableComponent.switchAxis()">
					<i class="fa fa-align-justify" pTooltip="{{'webclient.planningTable.button.alignment' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
				</button>
			</div>
		</div>

	</p-toolbar>
</div>
