::ng-deep .p-toolbar.toolbarS {
	border: none;
	border-radius: 0px;
	box-shadow: none;
	padding: 8px;
}

::ng-deep .p-checkbox-label.checkboxLabel {
	font-size: 0.8rem !important;
}

.main-container {
	/*flex: 0 1 auto;*/
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-radius: 3px 3px 0px 0px;
}

@media (max-width: 970px) {
	.tools-left {
		display: none;
	}
	.mobile-tools {

	}
}

@media (min-width: 970px) {
	.tools-left {

	}
	.mobile-tools {
		display: none;
	}
}

.toolBarPanel {
	inset: auto;
	/*outline: 1px groove #DDDDDD;*/
	/*background-color: #EEEEEE;*/
}

.centeredTextContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-secondary.test {
	padding: 0px;
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
}

.btn-success {
	padding: 0px;
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
}

.fa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

