<div id="detail-modal-dialog" class="dialog">

	<div class="modal-header">
		<h5 class="modal-title">{{ 'webclient.dashboard.tasklist.config' | i18n }}<br> <b>{{_item.taskList.name}}</b></h5>
	</div>

	<div class="modal-body">
		<div class="form-group form-check">
			<input id="property-show-details-new-tab"
			       type="checkbox"
			       [(ngModel)]="_item.taskList.showDetailsNewTab"
			       class="form-check-input"/>
			<label class="form-check-label"
			       for="property-show-details-new-tab">{{'webclient.dashboard.tasklist.config.showDetailsNewTab.label' | i18n}}</label>
		</div>
	</div>

	<div class="modal-footer">
		<button
			type="submit"
			class="btn btn-primary"
			id="dashboardTasklistConfigSave"
			(click)="saveConfig()"
		>
			{{'webclient.button.save' | i18n}}
		</button>
		<button
			class="btn btn-warning"
			id="dashboardTasklistConfigCancel"
			(click)="cancelConfig()"
		>
			{{'webclient.button.cancel' | i18n}}
		</button>
	</div>

</div>
