<div class="subform-edit-row">
	<div
		*ngIf="canOpenModal()"
		pTooltip="{{'webclient.edit' | i18n}}"
		[tooltipOptions]="tooltipDefaults"
		class="open-icon">
		<a (click)="openInModal()"
		   [ngClass]="{'disabled': !this.subformComponentEnabled}"
		   [attr.aria-disabled]="!this.subformComponentEnabled ? 'true' : null"
		   [attr.disabled]="!this.subformComponentEnabled ? true : null"
		   class="edit-in-modal-link">
			<i class="fa fa-fw fa-edit" aria-hidden="true"></i>
			<span class="fas sr-only">{{'webclient.edit' | i18n}}</span>
		</a>
	</div>

	<div
		*ngIf="canOpenWindow()"
	>
		<div
			*ngIf="showEditRowInNewTab"
			pTooltip="{{'webclient.edit.newtab' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
			class="open-icon"
		>
			<a (click)="openInNewTab()" class="edit-in-window-link">
				<i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
				<span class="fas sr-only">{{'webclient.edit.newtab' | i18n}}</span>
			</a>
		</div>
		<div
			*ngIf="showEditRowInPopup"
			pTooltip="{{'webclient.edit.popup' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
			class="open-icon"
		>
			<a (click)="openInPopup()" class="edit-in-window-link">
				<i class="fa fa-fw fa-window-maximize" aria-hidden="true"></i>
				<span class="fas sr-only">{{'webclient.edit.popup' | i18n}}</span>
			</a>
		</div>
	</div>
</div>
