<div class="input-group">
	<div class="input-group-prepend">
		<label class="input-group-text" for="inputGroupSelect01">Filter</label>
	</div>
	<select (ngModelChange)="onChangeIsCustomized($event)" [ngModel]="booleanFilterType"
	        class="custom-select" id="inputGroupSelect01">
		<option value="all">
			{{'webclient.subform.booleanFilter.all' | i18n }}</option>
		<option value="true">
			{{'webclient.subform.booleanFilter.true' | i18n }}</option>
		<option value="false">
			{{'webclient.subform.booleanFilter.false' | i18n }}</option>
	</select>
</div>
