<div #grid class="grid" id="planningGrid" style="position: relative; overflow: hidden;"
     [style.width]="columnWidth * gridModel.columnCount + 'px'"
     [style.height]="rowHeight * gridModel.rowCount + 'px'">
	<ng-container *ngFor="let gc of gridColumns | keyvalue; trackBy: columnTrackBy">
		<nuc-planning-cell *ngFor="let c of gc.value.cells | keyvalue; trackBy: cellTrackBy"
			[planningTable]="planningTable"
			[timeAllocation]="c.value.timeAllocation"
			[viewConfiguration]="viewConfiguration"
			[cellWidth]="c.value.cellWidth"
			[cellHeight]="c.value.cellHeight"
			[resource]="planningTable.resources[c.value.resourceIndex]"
			[timeIndex]="c.value.timeIndex"
			[resourceIndex]="c.value.resourceIndex"
			[selected]="planningView.cellSelection?.timeIndex == c.value.timeIndex && planningView.cellSelection?.resourceIndex == c.value.resourceIndex"
		>
		</nuc-planning-cell>
	</ng-container>
	<ng-container #viewElementContainer>
		<nuc-booking *ngFor="let b of visibleBookings;" #bookings
			[booking]="b.booking"
			[selected]="planningView.elementSelection.isSelected(b.booking)"
			[planningView]="planningView"
			[viewElement]="b"
			[viewConfiguration]="viewConfiguration"
			[planningTable]="planningTable"
		>
		</nuc-booking>
		<nuc-milestone *ngFor="let m of visibleMilestones;" #milestones
			[milestone]="m.milestone"
			[viewElement]="m"
			[selected]="planningView.elementSelection.isSelected(m.milestone)"
			[planningTable]="planningTable"
			[viewConfiguration]="viewConfiguration"
		>
		</nuc-milestone>
		<nuc-relation *ngFor="let r of visibleRelations;" #relations
		              [viewElement]="r"
		              [fromBooking]="r.fromElement"
		              [toBooking]="r.toElement"
		              [selected]="planningView.elementSelection.isSelected(r.relation)"
		              [edges]="r.edges"
		>
		</nuc-relation>
	</ng-container>
	<nuc-transformed-elements #transformedElements
		*ngIf="planningView.elementSelection.transformation"
		[viewConfiguration]="viewConfiguration"
		[gridModel]="gridModel"
		[transformation]="planningView.elementSelection.transformation"
		[planningTable]="planningTable"
	>
	</nuc-transformed-elements>
</div>
