.grid-cell {
	border-right-style: dashed;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #AAAAAA;
	border-right-color: #AAAAAA;
	position: absolute;
	z-index: 0;
}
