<a class="dropdown-item nuclos-next-state"
   tabindex="0"
   aria-haspopup="true"
   *ngIf="!state.currentState"
   (mouseout)="hover = false"
   (mouseover)="hover = true"
   (click)="changeState.emit(state)"
   [ngStyle]="state.color ? {'background-color': !saveInProgress ? (!hover ? state.color : hoverColor) : '#acacac', 'color': textColor} : {'color' : textColor}"
   [attr.state-number]="state.numeral"
   [attr.state-name]="state.buttonLabel || state.transitionname || ((this.state.showNumeral ? (state.numeral + ' ') : '') + state.name)"
>
	<img *ngIf="state.links?.stateIcon"
	     [src]="state.links?.stateIcon?.href"
	     [hidden]="!state.showIcon"
	     class="state-icon"
	     style="margin-right: 0.5em"
	/>
	<span>{{state.buttonLabel || state.transitionname || ((this.state.showNumeral ? (state.numeral + ' ') : '') + state.name)}}</span>
</a>
