<div class="input-group input-group-sm mb-3" *ngIf="!isHidden">
	<input
		(ngModelChange)="setValue($event)"
		*ngIf="!isHidden"
		[attr.id]="getId()"
		[attr.name]="getNameForHtml()"
		[attr.next-focus-field]="getNextFocusField()"
		[attr.next-focus-comp]="getNextFocusComponent()"
		[attr.initial-focus]="getInitialFocus()"
		[ngClass]="getValidationCssClasses()"
		[ngStyle]="getStyle()"
		[ngModel]="getValue()"
		[readonly]="!isWritable()"
		[style.background]="getValue()"
		class="form-control form-control-sm"
		type="text"
	/>
	<div class="input-group-append">
		<p-colorPicker
			appendTo="body"
			(ngModelChange)="setValue($event)"
			[ngStyle]="{'height': getStyle()['height']}"
			[disabled]="!isWritable()"
			[ngModel]="getValue()"
			format="hex"
		></p-colorPicker>
	</div>
</div>
<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
