:host ::ng-deep span.p-autocomplete.p-component.p-autocomplete-dd {
	width: 100% !important;
}

:host ::ng-deep input.form-control {
	font-size: 0.6875rem !important;
	line-height: 0.6875rem !important;
}

label {
	padding-top: 5px;
}
