<div class="form-group">
	<label for="dashboardName">{{'webclient.dashboard.name' | i18n}}</label><br/>
	<input
		[ngModel]="dashboard.name"
		(ngModelChange)="setName($event)"
		type="text"
		class="form-control"
		id="dashboardName"
		placeholder="Enter name"
	>
</div>

<div class="form-group">
	<label for="startupDefault">{{'webclient.dashboard.startupDefault' | i18n}}</label><br/>
	<input
		[ngModel]="dashboard.startupDefault"
		(ngModelChange)="setStartupDefault($event)"
		type="checkbox"
		class=""
		id="startupDefault"
	>
</div>

<div class="form-group">
	<label for="dynamicTaskLists">{{'webclient.dashboard.dynamicTaskLists' | i18n}}</label><br/>
	<nuc-dropdown
		#dynamicTaskLists
		id="dynamicTaskLists"
		class=""
		[disabled]=""
		[suggestions]="dynamicTaskListMetas"
		field="name"
		[ngModel]="undefined"
		(onSelect)="addTaskList($event)"
		dropdown="true"
		appendTo="body"
	></nuc-dropdown>
</div>

<div class="form-group">
	<label for="searchfilterTaskLists">{{'webclient.dashboard.searchfilterTaskLists' | i18n}}</label><br/>
	<nuc-dropdown
		#searchfilterTaskLists
		id="searchfilterTaskLists"
		class=""
		[disabled]=""
		[suggestions]="searchfilterTaskListMetas"
		field="name"
		[ngModel]="undefined"
		(onSelect)="addTaskList($event)"
		dropdown="true"
		appendTo="body"
	></nuc-dropdown>
</div>

<div class="form-group">
	<label for="dynamicChartLists">{{'webclient.dashboard.dynamicCharts' | i18n}}</label><br/>
	<nuc-dropdown
		#dynamicChartLists
		id="dynamicChartLists"
		class=""
		[disabled]=""
		[suggestions]="dynamicChartListMetas"
		field="name"
		[ngModel]="undefined"
		(onSelect)="addChart($event)"
		dropdown="true"
		appendTo="body"
	></nuc-dropdown>
</div>

<div class="form-group">
	<label for="searchfilterChartLists">{{'webclient.dashboard.searchfilterCharts' | i18n}}</label><br/>
	<nuc-dropdown
		#searchfilterChartLists
		id="searchfilterChartLists"
		class=""
		[disabled]=""
		[suggestions]="searchfilterChartListMetas"
		field="name"
		[ngModel]="undefined"
		(onSelect)="addChart($event)"
		dropdown="true"
		appendTo="body"
	></nuc-dropdown>
</div>

<div class="form-group" *ngIf="existAddons()">
	<label for="addons">{{'webclient.dashboard.addons' | i18n}}</label><br/>
	<nuc-dropdown
		#addons
		id="addons"
		class=""
		[suggestions]="getAddons()"
		field="name"
		[ngModel]="undefined"
		(onSelect)="addAddon($event)"
		dropdown="true"
		appendTo="body"
	></nuc-dropdown>
</div>
