<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="fadingClass" [ngStyle]="{'background-color': getBgColor()}">
	<!-- NUCLOS-8692 prevent login/password autocompletion-->
	<div *ngIf="loggedIn" style="display:none">
		<input autocomplete="off" type="password" tabindex="-1"/>
	</div>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="offcanvas"
	        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
	        aria-label="Toggle navigation" role="button">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a
		id="logo"
		class="navbar-brand btn btn-link"
		[routerLink]="loggedIn ? ['/dashboard'] : ['/login']"
		tabindex="0"
		aria-haspopup="true"
	>
		<nuc-dashboard-notification-count>
			<nuc-loading-indicator
				[thresholdInMilliseconds]="1000"
			></nuc-loading-indicator>
		</nuc-dashboard-notification-count>
	</a>


	<div class="offcanvas offcanvas-end" id="navbarNavDropdown">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasExampleLabel">{{'webclient.menu' | i18n }}</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" [attr.aria-label]="'common.close' | i18n"></button>
		</div>
		<div class="offcanvas-body">
			<nuc-current-mandator class="nav-item"></nuc-current-mandator>
			<ul *ngIf="loggedIn && menuStructure" class="navbar-nav me-auto dynamic-menu">
				<li *ngFor="let menuItem of getUnlabeledMenuStructure()" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
					   tabindex="0"
					   aria-haspopup="true"
					   data-bs-toggle="dropdown"
					   data-bs-auto-close="outside"
					   role="button"
					   id="Dropdown-{{menuItem.name.replace(' ', '').trim()}}">
						{{menuItem.name}}
					</a>
					<ul (wheel)="menuService.doScroll($event)"
					    [attr.aria-labelledby]="'Dropdown-' + menuItem.name.replace(' ', '').trim()"
					    class="dropdown-menu multi-level"
					    role="menu">
						<nuc-menu-item
							[menuItem]="menuItem"
						></nuc-menu-item>
					</ul>
				</li>
			</ul>

			<ng-container *ngIf="loggedIn && addonMenu.length > 0">
				<ul class="navbar-nav mr-5 pr-0">
					<ng-container *ngFor="let addonMenuItem of addonMenu">
						<ng-container *ngIf="addonMenuItem.position === undefined || addonMenuItem.position === 'mainmenu'"
						              [ngSwitch]="addonMenuItem.entries !== undefined && addonMenuItem.entries.length > 0">
							<ng-container *ngSwitchCase="true">
								<li class="nav-item dropdown">
									<a
										class="dropdown-toggle nav-link"
										data-bs-toggle="dropdown"
										data-bs-auto-close="outside"
										tabindex="0"
										aria-haspopup="true"
										role="button"
									>
									<span class="icon-container">
										<img *ngIf="addonMenuItem.icon" alt="I" src="{{addonMenuItem.icon}}">
									</span>
										{{addonMenuItem.name}}
									</a>
									<ul (wheel)="menuService.doScroll($event)" aria-labelledby="dropdownMenu"
									    class="dropdown-menu multi-level" role="menu">
										<li *ngFor="let subAddonMenuItem of addonMenuItem.entries">
											<nuc-addon-menu-item
												[menuItem]="subAddonMenuItem"
												[position]="'mainmenu'"
											></nuc-addon-menu-item>
										</li>
									</ul>
								</li>
							</ng-container>
							<ng-container *ngSwitchCase="false">
								<li class="nav-item">
									<nuc-addon-menu-item
										[menuItem]="addonMenuItem"
										[position]="'mainmenu'"
									></nuc-addon-menu-item>
								</li>
							</ng-container>
						</ng-container>
					</ng-container>
				</ul>
			</ng-container>

			<div class="navbar-nav mr-0 pr-0">

				<nuc-full-text-search class="navbar-text mr-2"></nuc-full-text-search>

				<nuc-locale></nuc-locale>

				<nuc-news-menu
					[addonMenuItems]="addonMenu">
				</nuc-news-menu>

				<ng-container *ngFor="let labeledItem of labeledMenuItems">
					<nuc-labeled-menu
						#labeledMenu
						[staticItems]="labeledItem.entries"
						[name]="labeledItem.name"
						[label]="labeledItem.label"
						[iconClass]="labeledItem.iconClass"
						[icon]="labeledItem.icon"
						[addonMenuItems]="addonMenu"
					></nuc-labeled-menu>
				</ng-container>

				<nuc-user-menu
					[loggedIn]="loggedIn"
					[username]="username"
					[anonymous]="isAnonymous()"
					[canSharePreferences]="canSharePreferences()"
					[canExecuteReport]="canExecuteReport()"
					[addonMenuItems]="addonMenu"
				></nuc-user-menu>

			</div>
		</div>
	</div>
</nav>
