#logo {
	outline: none;
	padding-left: 6px;
	display: inline-block;
}

#logo img {
	height: 27px;
	width: 27px;
	float: left;
}

nav {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.nav-item {
	margin-left: 0;
}

@media (min-width: 992px) {
	.nav-item {
		float: left;
	}
}

.navbar-brand {
	margin-right: 0;
}

.navbar-toggler {
	margin-top: 4px;
}

.navbar-toggler span {
	height: 1em;
}

.navbar-toggler-right {
	top: 0;
}

#navbarNavDropdown > .navbar-nav {
	flex-wrap: wrap;
}

a:hover {
	cursor: pointer;
}

.dropdown-toggle {
	white-space: nowrap;
}

nuc-loading-indicator {
	width: 27px;
	height: 27px;
}

nuc-current-mandator {
	align-self: center;
}

.dynamic-menu {
	display: block;
}
