<div id="detail-modal-dialog" class="dialog">

	<div class="modal-header">
		<h5 class="modal-title">{{ 'webclient.dashboard.addon.config' | i18n }}: <b>{{_item.addon.name}}</b></h5>
	</div>

	<div class="modal-body">
		<div *ngFor="let property of _item.addon.propertyDefinitions">
			<div *ngIf="property.type === 'string'"
			     class="form-group">
				<label for="property-string-{{property.name}}">{{property.name}}</label>
				<input id="property-string-{{property.name}}"
					type="text"
					[(ngModel)]="property.value"
					class="form-control"/>
			</div>
			<div *ngIf="property.type === 'number'"
			     class="form-group">
				<label for="property-number-{{property.name}}">{{property.name}}</label>
				<input id="property-number-{{property.name}}"
				       type="number"
				       [(ngModel)]="property.value"
				       class="form-control"/>
			</div>
			<div *ngIf="property.type === 'boolean'"
			     class="form-group form-check">
				<input id="property-boolean-{{property.name}}"
				       type="checkbox"
				       [(ngModel)]="property.value"
				       class="form-check-input"/>
				<label class="form-check-label"
				       for="property-boolean-{{property.name}}">{{property.name}}</label>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button
			class="btn btn-warning"
			id="perspectiveCancel"
			(click)="cancelConfig()"
		>
			{{'webclient.button.cancel' | i18n}}
		</button>
		<button
			type="submit"
			class="btn btn-primary"
			id="perspectiveSave"
			(click)="saveConfig()"
		>
			{{'webclient.button.save' | i18n}}
		</button>
	</div>

</div>
