<p-multiSelect
	#dropdown
	dropdownIcon="pi pi-angle-down"
	styleClass="custom-multi-select form-control form-control-sm"
	[ngModel]="model"
	(ngModelChange)="selectEntry($event)"
	(onFilter)="loadSearchLovDropDownOptions($event.filter)"
	[overlayOptions]="overlayOptions"
	[options]="suggestions"
	[disabled]="disabled"
	[id]="id"
	[attr.for-id]="attribute.boAttrId"
	(onPanelShow)="loadSearchLovDropDownOptions('')"
	optionLabel="name"
	display="chip"
>
	<ng-template pTemplate="selectedItems">
		<div class="p-multiselect-label">
			<div class="p-multiselect-token ng-star-inserted" *ngFor="let item of model">
				<span class="p-multiselect-token-label">{{ item.name }}</span>
				<span class="p-multiselect-token-icon pi pi-times-circle ng-star-inserted" (click)="removeEntry(item)"></span>
			</div>
		</div>
	</ng-template>
</p-multiSelect>
