::ng-deep :host {
	display: flex;
	flex-wrap: nowrap;
}

::ng-deep .p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
	display: block;
}

::ng-deep .p-multiselect-token {
	background-color: #007ad9;
	color: white;
}

::ng-deep .p-multiselect-token .p-multiselect-token-icon {
	font-size: 0.6875rem;
}

::ng-deep .p-multiselect-token .p-multiselect-token-label {
	padding: 0rem;
}

::ng-deep .p-multiselect-token .p-multiselect-token-label {
	padding: 0rem;
	font-size: 0.6875rem;
}

::ng-deep .p-multiselect-filter-container {
	display: flex;
	justify-content: center;
}

::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
	margin-top: -0.35rem;
}

::ng-deep .p-multiselect-close-icon {
	font-size: 0.6875rem;
}

::ng-deep .p-multiselect-filter-icon {
	font-size: 0.6875rem;
}

::ng-deep .p-multiselect-trigger-icon {
	color: white;
	font-size: 0.6875rem;
}

::ng-deep .p-multiselect .p-multiselect-trigger {
	width: 14px;
	background-color: lightgray;
}

::ng-deep .p-multiselect .p-multiselect-trigger:hover {
	width: 14px;
	background-color: #116fbf;
	border-color: #116fbf;
}

::ng-deep .p-multiselect-filter {
	font-size: 0.6875rem !important;
	height: 20px;
}

::ng-deep .custom-multi-select:active {
	border-color: #337ab7;
	color: #2e6da4;
}

::ng-deep .custom-multi-select {
	font-size: 0.6875rem !important;
	width: 100%;
	height: 100%;
	min-height: 100%;
	border: none;
	padding: 0;
	background-color: #FFF;
}

::ng-deep .custom-multi-select.form-control.form-control-sm.p-multiselect:focus-within {
	border: 1px solid #337ab7;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

::ng-deep .custom-multi-select.form-control.form-control-sm.p-multiselect {
	border: 1px solid #ced4da;
	background-color: #FFF;
	min-width: 120px;
}

::ng-deep .p-multiselect-item span {
	font-size: 0.6875rem !important;
}

::ng-deep p-multiselect {
	font-size: 0.6875rem !important;
	width: 100%;
	height: 100%;
	padding: 0;
}

::ng-deep .p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
	padding: 0.05rem;
}

::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-label {
	padding: 0rem;
}

::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token {
	padding: 0 0.25rem;
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}

::ng-deep p-chip {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}

::ng-deep .p-chip.p-component {
	border-radius: 3px;
	margin: 0.1rem;
	height: 18px;
}

::ng-deep .custom-chip div {
	margin-left: 0.1rem;
	font-size: 0.6875rem !important;
	margin-top: 0;
	margin-bottom: 0;
}

.p-chip .p-chip-text {
	font-size: 0.6875rem !important;
	margin-top: 0;
	margin-bottom: 0;
}

.ui-chips > ul.ui-inputtext .ui-chips-token {
	font-size: 0.6875rem;
}

.multiselection-overlay {
	display: flex;
	align-items: center;
	z-index: -1;
	position: absolute;
	top: 10%;
	right: 14px;
}

::ng-deep .p-multiselect .p-multiselect-label {
	font-size: 0.6875rem;
	height: 100%;
	align-content: center;
	visibility: visible;
}

::ng-deep .p-checkbox .p-checkbox-box .p-checkbox-icon {
	font-size: 0.6875rem;
	font-weight: bold;
}

::ng-deep .p-multiselect-panel .p-checkbox-box {
	width: 0.8rem;
	height: 0.8rem;
	line-height: 0.6875rem;
	align-self: center;
}

::ng-deep .p-multiselect-label.p-placeholder.p-multiselect-label-empty {
	visibility: hidden !important;
}

