<ng-container *ngFor="let m of _menuItem.entries">

	<!-- menu entry-->
	<li *ngIf="m.entries === undefined && mpVisibility.get(m) != false">
		<a
			[routerLink]="m.boMetaId ? (['/view', m.boMetaId, m.createNew ? 'new' : ''] | trimEmptyPathSegments) : m.href"
			(click)="closeDropdown($event)"
			[queryParams]="m.processMetaId ? {'processMetaId' : m.processMetaId} : {}"
			class="dropdown-item d-flex"
			[ngClass]="{'dropdown-menu-container': !m.boMetaId}"
			[attr.parentId]="m.parentId"
			[attr.id]="m.id"
		>
			<div class="p-2">
				<span *ngIf="m.icon" class="icon-container">
					<img *ngIf="m.icon" src="{{iconBaseHref}}/{{m.icon}}" alt="">
					<i *ngIf="!m.boMetaId" class="fa {{m.icon}}" aria-hidden="true"></i>
				</span>
			</div>
			<div class="p-2">{{m.name}}</div>
			<div class="ml-auto p-2">
				<span *ngIf="m.keyStroke && m.keyStrokeModifier" class="key-container">
					<kbd>{{getModifierStringRepresentation(m)}} + {{m.keyStroke.toUpperCase()}}</kbd>
				</span>
			</div>
		</a>
	</li>

	<!-- submenu entry -->
	<li *ngIf="m.entries !== undefined" class="dropdown-submenu">
		<a aria-expanded="false"
		   aria-haspopup="true"
		   tabindex="0"
		   class="dropdown-item d-flex"
		   data-bs-toggle="dropdown"
		   data-bs-auto-close="outside">
			<div class="p-2">&nbsp;</div>
			<div class="p-2">
				{{m.name}}
			</div>
			<div class="ml-auto p-2">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</div>
		</a>
		<ul (wheel)="menuService.doScroll($event, true)"
		    class="dropdown-menu dropdown-menu-left">
			<nuc-menu-item [menuItem]="m"></nuc-menu-item>
		</ul>
	</li>

</ng-container>
