.booking-base {
	background-color: white;
	float: left;
	z-index: 1;
	position: absolute;
	border: 2px groove #000000;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 0.8rem;
	white-space: nowrap;
	padding-left: 2px;
	cursor: default;
}

.booking-base:hover {
	box-sizing: border-box;
	border: 2px groove orange;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 2;
}

.booking-selected {
	box-sizing: border-box;
	border: 2px groove #cd5700;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 2;
	touch-action: none;
}

.booking-invalid {
	box-sizing: border-box;
	border: 2px groove red;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 2;
}

.booking-label {
	white-space: pre;
}

.resize-handle-left {
	position: absolute;
	top: 0px;
	left: -3px;
	width: 5px;
	height: 100%;
	cursor: ew-resize;
}

.resize-handle-right {
	position: absolute;
	top: 0px;
	right: -3px;
	width: 5px;
	height: 100%;
	cursor: ew-resize;
}

.resize-handle-top {
	position: absolute;
	width: 100%;
	height: 5px;
	top: -3px;
	cursor: ns-resize;
}

.resize-handle-bottom {
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: -3px;
	cursor: ns-resize;
}

