<div #root
     class="booking-base"
     attr.data-booking-index="{{bookingIndex}}"
     attr.data-resource-index="{{resourceIndex}}"
	 [ngClass]="styleClasses"
	 [style.top]="viewElement.top + 'px'"
	 [style.left]="viewElement.left + 'px'"
	 [style.width]="viewElement.width + 'px'"
	 [style.height]="viewElement.height + 'px'"
	 [style.background-color]="booking.backgroundColor"
     [style.color]="textColor"
>
	<div class="booking-label" [innerHTML]="booking.label | valueToSafeHtml"></div>
	<div class="resize-handle-left"
	     *ngIf="viewConfiguration.tableAlignment === 1"
	></div>
	<div class="resize-handle-right"
	     *ngIf="viewConfiguration.tableAlignment === 1"
	></div>
	<div class="resize-handle-top"
	     *ngIf="viewConfiguration.tableAlignment === 0"
	></div>
	<div class="resize-handle-bottom"
	     *ngIf="viewConfiguration.tableAlignment === 0"
	></div>
</div>
