<div class="ag-floating-filter-body">
	<div class="ag-floating-filter-input">
		<nuc-datechooser
			type="date"
			id="{{colId}}"
			[inputStyle]="{'min-height': '20px', 'height': '20px'}"
			[model]="model"
			(modelChange)="onChangeEvent($event)">
		</nuc-datechooser>
	</div>
</div>
