.planning-time-header {
	outline: 1px solid #999999;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	background-color: white;
	/*display: flex;*/
	justify-content: center;
	/*align-items: center;*/
	position: absolute;
	overflow: hidden;
}

.resize-handle-x {
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	width: 5px;
	height: 100%;
	z-index: 2;
	/*background-color: red;*/
	cursor: ew-resize;
}

.resize-handle-y {
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0;
	/*float: right;*/
	z-index: 2;
	/*background-color: black;*/
	cursor: ns-resize;
}

