<div id="change-state-dialog" class="dialog">
	<div class="modal-header">
		<div class="modal-title">{{ 'state.change.confirm' | i18n}}</div>
		<div id="change-state-gradient" [ngStyle]="getGradientStyle()"></div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<table class="state-table mt-1">
					<tr>
						<td class="align-bottom">
							<img *ngIf="currentStateInfo?.links?.buttonIcon"
							     [src]="currentStateInfo?.links?.buttonIcon.href"
							     class="nuc-current-state-icon"
							/>

							<h5 *ngIf="!currentStateInfo?.links?.buttonIcon" class="mb-0 nuc-current-state-numeral">
								{{currentStateInfo?.numeral}}
							</h5>
						</td>
						<td rowspan="2">
							<i class="fa fa-arrow-right state-arrow" aria-hidden="true"></i>
						</td>
						<td class="align-bottom">
							<img *ngIf="targetStateInfo?.links?.buttonIcon"
							     [src]="targetStateInfo.links?.buttonIcon.href"
							     class="nuc-target-state-icon"
							/>

							<h5 *ngIf="!targetStateInfo?.links?.buttonIcon" class="mb-0 nuc-target-state-numeral">
								{{targetStateInfo?.numeral}}
							</h5>
						</td>
					</tr>
					<tr>
						<td>
							<h5 class="nuc-current-state-label">{{currentStateInfo?.statename}}</h5>
						</td>
						<td>
							<h5 class="nuc-target-state-label">{{targetStateInfo?.statename}}</h5>
						</td>
					</tr>
				</table>
			</div>
			<div *ngIf="targetDescriptionIsSet && targetDescriptionIsHtml" class="mt-4 text-center" [innerHTML]="targetDescriptionForHtml">
			</div>
			<div *ngIf="targetDescriptionIsSet && !targetDescriptionIsHtml" class="mt-4 text-center">
				{{targetStateInfo?.description}}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" (click)="ok()" id="button-ok">
			{{'webclient.button.ok' | i18n}}
		</button>

		<button class="btn btn-warning" (click)="cancel()" id="button-cancel">
			{{'webclient.button.cancel' | i18n}}
		</button>
	</div>
</div>

