#change-state-gradient {
	height: 10px;
	width: 100%;
}

.modal-body {
	text-align: center;
}

.modal-title {
	margin: 0.5em 0;
	font-weight: bold;
}

.modal-header {
	flex-direction: column;
	padding: 0;
	background-color: #555;
	color: #fff;
}

.state-table {
	margin: 0 auto;
}

.state-arrow {
	width: 5rem;
}

img {
	max-height: 2em;
	object-fit: contain;
}
