<div
	(click)="toggleValue()"
>
	<i
		class="fa"
		[ngClass]="{
			'fa-square-o': !getValueMapped() || getValueMapped() === 2,
			'fa-check-square-o': getValueMapped() == 1,
			'fa-plus': getValueMapped() === 3,
			'fa-minus': getValueMapped() === 4
			}"
		aria-hidden="true"
	></i>
	<span class="fas sr-only">{{'webclient.field.boolean' | i18n}}</span>
</div>
