/* You can add global styles to this file, and also import other style files */
/**
ngx-tab-scroll
 */
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

@import 'node_modules/material-design-icons-iconfont/src/material-design-icons.scss';
@import "node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import 'node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin.scss';

@function text-clr($color) {
	@if (lightness($color) > 50) {
		@return #000;
	} @else {
		@return #fff;
	}
}

/*
form
 */
$form-input-disabled-background-color: #f8f8f8;


/*
data rows
 */
$row-selected-background-color: #D0D0D0;
$row-odd-background-color: #ebebeb;
$row-multiselected-background-color: #1190fe40;

$row-deleted-background-color: #FFBBBB;
$row-deleted-selected-background-color: #DDA0A0;

$row-modified-background-color: #FFFFAA;
$row-modified-selected-background-color: #F5F5A0;

$row-new-background-color: #B1F5B1;
$row-new-selected-background-color: #84C783;

.ag-theme-balham {
	@include ag-theme-balham((
		// use theme parameters where possible
		selected-row-background-color: $row-selected-background-color,
		odd-row-background-color: $row-odd-background-color,
		header-background-color: #f8f8f8,
		font-size: 0.6875rem,
		icon-size: 11px
	));

	.ag-cell-inline-editing {
		height: 100%;
	}

	.ag-cell-value {
		width: 100%;
	}
}

html {
	font-size: 100%;
}

html, body, nuc-root {
	height: 100%;
}

nuc-root {
	display: flex;
	flex-flow: column;
}

button {
	cursor: pointer;
}

kbd {
	background-color: #828282;
}

.input-group {
	flex-wrap: nowrap;
}

.gridLoadingIcon {
	font-size: 2.5rem;
	color: rgba(242, 242, 242, 0.91);
	animation: rotateHourglassLoading 6s infinite;
}

@keyframes rotateHourglassLoading {
	0% {
		transform: rotate(0deg)
	}
	16.67%, 25%, 50% {
		transform: rotate(180deg)
	}
	66.67%, 75%, 100% {
		transform: rotate(360deg)
	}
}

ngb-datepicker, .ngb-dp-body {
	z-index: 1200 !important;
}

/* disable scroll bouncing */
.no-touch html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* make center div content to use complete width */
#center > * {
	width: 100%;
}

#center > router-outlet {
	width: initial;
}

.p-tooltip {
	border-radius: 6px;
	z-index: 100000;
}

.p-tooltip.theme-light .p-tooltip-text{
	border: 1px solid rgba(0,0,0,.16);
	background-color: #fff !important;
	color: black !important;
	font-size: 0.75rem;
}

.p-tooltip.theme-dark .p-tooltip-text{
	font-size: 0.75rem;
}

/* disable text selection (e.g. after double click) */
.disable-text-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card {
	margin-bottom: 10px;
	border-radius: 0;
}

.card > .card-header {
	border-radius: 0!important;
}

/*
cards with scrollbars
 */
.card.scrollable {
	display: flex;
	flex-flow: column;
}

.card.scrollable .card-body {
	flex: 1;
	overflow: auto;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

/**
 search text input with clear input button
 */
.search-input input {
	height: 21px;
	border: none;
	background-color: white;
}

.search-input .clear-searchfilter {
	position: relative;
	top: 2px;
	left: -21px;
	cursor: pointer;
	color: lightgray;
}

.search-input:hover .clear-searchfilter {
	color: black;
}

/* primeng autocomplete:  make empty options the same height as non empty options */
p-autocomplete li {
	min-height: 26px;
}

p-autocomplete {
	border: 1px solid white;
	display: block;
}

span.p-component {
	font-size: 0.6875rem;
}

.p-autocomplete-panel {
	z-index: 1200 !important; // this seems to be needed because the auto calculation does not work within modal dialogs
}

.p-autocomplete-emptymessage {
	font-size: 0.6875rem;
}

/* LOV */
p-autocomplete input.ui-inputtext {
	padding: initial;
	padding-left: 3px;
	width: 100%;
}

p-autocomplete .ui-autocomplete {
	width: 100%;
	display: flex;
}

p-autocomplete .ui-autocomplete-input {
	margin-right: -15px!important;
	border-radius: 3px!important;
    background-color: inherit;
}

p-autocomplete .p-button.p-button-icon-only {
	width: 14px;
	padding-top: 0.35em;
}

p-autocomplete .p-button {
	width: 14px;
	background: lightgray;
	border-color: lightgray;
}

/* autocomplete dropdown button is disabled to fix tab focus problem */
p-autocomplete ::ng-deep .p-autocomplete-dropdown:disabled {
	opacity: 1;
}

p-autocomplete ::ng-deep .p-autocomplete-dropdown span {
	width: 14px;
}

p-autocomplete:hover .ui-widget-header .ui-button,
p-autocomplete:hover .ui-widget-content .ui-button,
p-autocomplete:hover .ui-button,
p-autocomplete:hover .p-button {
	border: 1px solid #2399e5;
	background: #2399e5;
}

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus,
.ui-inputtext.ui-state-hover,
p-autocomplete .ui-inputtext:hover,
p-autocomplete .ui-inputtext:enabled:hover {
	box-shadow: none;
}

/**
primeng context menu
 */
.p-contextmenu, .p-contextmenu .p-menuitem, .p-contextmenu .p-menuitem-icon {
	font-size: 0.6875rem;
}

.p-contextmenu .p-menuitem-link {
	padding: 0.5em !important;
}

/**
primeng tab panels / tab view
 */
.p-tabview .p-tabview-panels {
	padding: 0 !important;
}

.p-tabview {
	height: 100%;
}
.p-tabview-panels {
	height: 100%;
}
.p-tabview-panel {
	height: 100%;
}

/*
form input placeholder
 */
$placeholder-color: darkgray !important;


.form-control:-ms-input-placeholder {
	color: $placeholder-color;
}

.form-control::placeholder {
	color: $placeholder-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 600000s 0s, color 600000s 0s;
	-webkit-text-fill-color: #000;
}

.form-control:disabled {
	background-color: #f8f8f8 !important;
}

.ng-busy-default-sign {
	border-top: 1px solid #d8d8d8;
	border-top-left-radius: 4px;
}

.image-modal .modal-dialog {
	max-width: calc(100vw - 100px);
	max-height: calc(100vh - 100px);
}


/* remove blue glow on modal close buttons */
button.close:focus {
	outline: none !important;
}

// unset small monospace formatting for <pre> tags in modals (used for inputrequired / error messages)
.modal-body pre {
	font-size: unset;
	font-family: unset;
	white-space: pre-wrap;
}

/**
Toggletip Bubble
 */
/* the bubble element, added inside the toggletip live region */

.toggletip-bubble {
	display: inline-block;
	position: absolute;
	border-radius: 6px;
	z-index: 1056;
	border: 1px solid rgba(0,0,0,.2);
	padding: 0.5rem;
	background-color: #fff;
	color: black;
	font-size: 0.75rem;
	inline-size: max-content;
	margin-left: .25rem;
	margin-right: .25rem;
}

.toggletip-bubble {
	&:before {
		content: "";
		position: absolute;
		top: .25rem;                         // half way down (vertical center).
		left:-.5rem;
		border: solid .25rem transparent;
		border-right-color: #333;
		z-index: 1056;
	}

	&.left-side {
		&:before {
			display: none;
		}

		&:after {
			content: "";
			position: absolute;
			top: .25rem;                         // half way down (vertical center).
			right:-.5rem;
			border: solid .25rem transparent;
			border-left-color: #333;
			z-index: 1056;
		}
	}
}


ngx-loading {
	/* show ngx-loading above modal dialogs (with z-index: 1050) */
	z-index: 1060;
}

body.maintenancemode {
	border: 5px solid orange;
}

.app-loading {
	background-color: #e4e5e6;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.app-loading-body {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow-x: hidden;
}

.app-loading-body .main {
	flex: 1;
	min-width: 0;
}
