<nuc-modal-dialog
	[title]="'webclient.shortcut.help' | i18n">
	<div role="region">
		<div class="grid p-fluid">
			<div class="col-12 md:col-4">
				<div class="p-inputgroup" role="search">
					<label for="quick-search" class="block">{{'webclient.keyboardhelp.quicksearch' | i18n}}</label>
					<input id="quick-search" [(ngModel)]="filterText" type="text" pInputText placeholder="{{'webclient.keyboardhelp.quicksearch' | i18n}}">
					<button type="button" pButton pRipple [loading]="searching" label="{{'webclient.keyboardhelp.dosearch' | i18n}}" (click)="filterItems(filterText)"></button>
				</div>
			</div>
		</div>
		<table class="table table-hover table-borderless" tabindex="0" [ngStyle]="{
			'display': 'block',
			'overflow-y': 'auto',
			'height': (this.pagingNumber * 40) + 40 + 'px'
		}">
			<thead>
				<tr>
					<th scope="col" style="width: 80%;">{{'webclient.keyboardhelp.description' | i18n }}</th>
					<th scope="col">{{'webclient.keyboardhelp.modifier' | i18n }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let keys of getHotkeys().slice(showStartIndex, showStartIndex + pagingNumber)">
					<td>{{ keys['description'] }}</td>
					<td>
						<span class="key-container">
							<kbd *ngIf="keys['modifier'] !== undefined">{{getModifierStringRepresentation(keys)}}
								+ {{keys['keys'].toUpperCase()}}</kbd>
							<kbd *ngIf="keys['modifier'] === undefined">{{keys['keys'].toUpperCase()}}</kbd>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<nav [attr.aria-label]="'webclient.pagination.keyboardhelp' | i18n">
			<ul class="pagination pagination-sm justify-content-center">
				<li [ngClass]="{'disabled': showStartIndex == 0}" class="page-item">
					<a (click)="navigateToIndex($event, showStartIndex - pagingNumber)" class="page-link" tabindex="0"
					   href="{{'#' | current_href}}">
						<i aria-hidden="true" class="fas fa-angle-double-left" title="{{'webclient.pagination.previous' | i18n}}" ></i>
						<span class="fas sr-only">{{'webclient.pagination.previous' | i18n}}</span>
					</a>
				</li>
				<li *ngFor="let page of arrayOfPages; index as i;" [ngClass]="{'active': ((i * pagingNumber) === showStartIndex)}"
				    class="page-item">
					<a (click)="navigateToIndex($event, i * pagingNumber)" class="page-link" tabindex="0"
					   href="{{'#' | current_href}}">{{'webclient.pagination.page' | i18n}} {{ i + 1}}</a>
				</li>
				<li [ngClass]="{'disabled': (showStartIndex / pagingNumber) == (arrayOfPages.length - 1)}" class="page-item">
					<a (click)="navigateToIndex($event, showStartIndex + pagingNumber)" class="page-link" tabindex="0"
					   href="{{'#' | current_href}}">
						<i aria-hidden="true" class="fas fa-angle-double-right" title="{{'webclient.pagination.next' | i18n}}" ></i>
						<span class="fas sr-only">{{'webclient.pagination.next' | i18n}}</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</nuc-modal-dialog>
