<ng-container *ngIf="eoChart && eoChart.searchItems && eoChart.searchItems.length > 0">
	<form
		id="chartFilterForm"
		class="form-inline"
		(submit)="search()"
	>
		<div *ngFor="let searchTemplate of eoChart.searchItems; let i = index">
			<label>{{searchTemplate.label}}</label>
			<ng-container [ngSwitch]="searchTemplate.inputType">
				<div *ngSwitchCase="'dropdown'" class="chart-filter-item">
					<nuc-chart-filter-lov
						[searchTemplate]="searchTemplate"
						[eoChart]="eoChart"
					></nuc-chart-filter-lov>
				</div>
				<div *ngSwitchCase="'string'" class="chart-filter-item">
					<input
						type="text"
						[(ngModel)]="searchTemplate.value"
						[ngModelOptions]="{standalone: true}"
						class="form-control form-control-sm"
					/>
				</div>
				<div *ngSwitchCase="'datepicker'" class="chart-filter-item">
					<nuc-datechooser
						[model]="searchTemplate.value"
						(modelChange)="searchTemplate.value = $event"
					></nuc-datechooser>
				</div>
			</ng-container>
		</div>
		<input type="submit" id="buttonChartSearch" class="btn btn-sm btn-default" value="{{'webclient.button.ok' | i18n}}" />
	</form>
</ng-container>
