<div *ngIf="!isHidden" [ngStyle]="getStyle()">
	<input
		(ngModelChange)="setValue($event)"
		*ngIf="!isHidden"
		[attr.id]="getId()"
		[attr.initial-focus]="getInitialFocus()"
		[attr.name]="getNameForHtml()"
		[attr.next-focus-field]="getNextFocusField()"
		[attr.next-focus-comp]="getNextFocusComponent()"
		[disabled]="!isWritable()"
		[ngClass]="getValidationCssClasses()"
		[ngModel]="getValue()"
		[readonly]="!isWritable()"
		type="checkbox"
	/>
	<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
	<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
</div>
