<h4 style="text-align: center;">{{ 'webclient.collectiveProcessing.editingFields' | i18n}}</h4>

<div class="attribute-dropdown-add mt-lg-3">
	<p-fieldset legend="{{'webclient.collectiveProcessing.editingFieldAdd' | i18n}}">
		<nuc-dropdown
			#dropdown
			(completeMethod)="queryAttribute($event)"
			[internalFiltering]="false"
			(onSelect)="addAttributeToTable($event)"
			[ngModel]="addAttribute"
			[suggestions]="autocompleteResults"
			dropdown="true"
			id="nuc-field-select-dropdown"
		></nuc-dropdown>
	</p-fieldset>
</div>
<div class="text-center mt-lg-5">
	<div class="btn-group">
		<button (click)="startEditing()"
		        [disabled]="this.eoResultService.getCollectiveEditing().getEditingAttributes().length == 0"
		        class="btn btn-success"
		        id="startCollectiveEditingBtn"
		>{{'webclient.collectiveProcessing.editStartBtn' | i18n}}</button>
		<button (click)="stopEditing()"
		        class="btn btn-warning"
		        id="stopCollectiveEditingBtn">{{'webclient.collectiveProcessing.editStopBtn' | i18n}}</button>
	</div>
</div>
<div *ngIf="this.eoResultService.getCollectiveEditing().hasEditedValues()" class="mt-lg-5">
	<table class="table table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">{{'webclient.collectiveProcessing.editingFieldTableHeader1' | i18n}}</th>
			<th scope="col">{{'webclient.collectiveProcessing.editingFieldTableHeader2' | i18n}}</th>
			<th scope="col">{{'webclient.collectiveProcessing.editingFieldTableHeader3' | i18n}}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let field of this.eoResultService.getCollectiveEditing().getEditingAttributes()">
			<td><label for="nuc-attribute-{{field.getAttributeID()}}">{{field.getName()}}</label></td>
			<td>
				<ng-container [ngSwitch]="getInputType(field)">
					<ng-container *ngSwitchCase="'input'">
						<input (change)="enterValue(field, $event.target.value)" class="form-control"
						       id="nuc-attribute-{{field.getAttributeID()}}"
						       name="{{field.getAttributeID()}}"
						       type="text"
						       value="{{this.eoResultService.getCollectiveEditing().getAttributeValue(field.getAttributeID())}}"/>
					</ng-container>
					<ng-container *ngSwitchCase="'text'">
						<textarea (change)="enterValue(field, $event.target.value)"
						          class="form-control form-control-sm"
						          id="nuc-attribute-{{field.getAttributeID()}}"
						          name="{{field.getAttributeID()}}"
						          rows="2">{{this.eoResultService.getCollectiveEditing().getAttributeValue(field.getAttributeID())}}</textarea>
					</ng-container>
					<ng-container *ngSwitchCase="'dropdown'">
						<nuc-dropdown
							(completeMethod)="loadFilteredEntries($event, field)"
							(onSelect)="enterValue(field, $event)"
							[field]="'name'"
							[internalFiltering]="false"
							[ngModel]="this.eoResultService.getCollectiveEditing().getAttributeValue(field.getAttributeID())"
							[suggestions]="getLovsForField(field)"
							dropdown="true"
							id="nuc-attribute-{{field.getAttributeID()}}"
						></nuc-dropdown>
					</ng-container>
					<ng-container *ngSwitchCase="'date'">
						<nuc-datechooser
							(modelChange)="enterValue(field, $event)"
							[enabled]="true"
							[id]="'nuc-attribute-' + field.getAttributeID()"
							[model]="this.eoResultService.getCollectiveEditing().getAttributeValue(field.getAttributeID())"
							[nameForHtml]="field.getAttributeID()"
						></nuc-datechooser>
					</ng-container>
					<ng-container *ngSwitchCase="'not-supported'">
						{{'webclient.collectiveProcessing.editNotSupported' | i18n }}
					</ng-container>
				</ng-container>
			</td>
			<td>
				<button (click)="openValuesInDialog(field)"
				        class="btn btn-info btn-sm"
				        type="button">
					{{'webclient.collectiveProcessing.editingFieldCountAttributeBtn' | i18n}}
				</button>
			</td>
			<td>
				<button (click)="removeAttributeFromTable(field.getName())"
				        class="btn btn-danger btn-sm"
				        type="button">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
		<tr *ngFor="let deletedfield of this.eoResultService.getCollectiveEditing().getDeletedEditingAttributes()"
		    class="table-warning">
			<td><label for="nuc-attribute-deleted-{{deletedfield.getAttributeID()}}">{{deletedfield.getName()}}</label>
			</td>
			<td>
				<ng-container [ngSwitch]="getInputType(deletedfield)">
					<ng-container *ngSwitchCase="'input'">
						<input (change)="enterValue(deletedfield, $event.target.value)" [disabled]="true"
						       class="form-control"
						       id="nuc-attribute-deleted-{{deletedfield.getAttributeID()}}"
						       name="{{deletedfield.getAttributeID()}}"
						       type="text"
						       value="{{this.eoResultService.getCollectiveEditing().getDeletedAttributeValue(deletedfield.getAttributeID())}}"/>
					</ng-container>
					<ng-container *ngSwitchCase="'text'">
						<textarea (change)="enterValue(deletedfield, $event.target.value)"
						          [disabled]="true"
						          class="form-control form-control-sm"
						          id="nuc-attribute-deleted-{{deletedfield.getAttributeID()}}"
						          name="{{deletedfield.getAttributeID()}}"
						          rows="2">{{this.eoResultService.getCollectiveEditing().getDeletedAttributeValue(deletedfield.getAttributeID())}}</textarea>
					</ng-container>
					<ng-container *ngSwitchCase="'dropdown'">
						<nuc-dropdown
							(completeMethod)="loadFilteredEntries($event, deletedfield)"
							(onDropdownClick)="loadEntries(deletedfield)"
							(onSelect)="enterValue(deletedfield, $event)"
							[disabled]="true"
							[field]="'name'"
							[ngModel]="this.eoResultService.getCollectiveEditing().getDeletedAttributeValue(deletedfield.getAttributeID())"
							[suggestions]="getLovsForField(deletedfield)"
							dropdown="true"
							id="nuc-attribute-deleted-{{deletedfield.getAttributeID()}}"
						></nuc-dropdown>
					</ng-container>
					<ng-container *ngSwitchCase="'date'">
						<nuc-datechooser
							(modelChange)="enterValue(deletedfield, $event)"
							[enabled]="false"
							[id]="'nuc-attribute-deleted-' + deletedfield.getAttributeID()"
							[model]="this.eoResultService.getCollectiveEditing().getDeletedAttributeValue(deletedfield.getAttributeID())"
							[nameForHtml]="deletedfield.getAttributeID()"
						></nuc-datechooser>
					</ng-container>
					<ng-container *ngSwitchCase="'not-supported'">
						{{'webclient.collectiveProcessing.editNotSupported' | i18n }}
					</ng-container>
				</ng-container>
			</td>
			<td>
				{{'webclient.collectiveProcessing.editDeleted' | i18n}}
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		</tbody>
	</table>
</div>
