:host {
	padding-left: 1em;
	padding-right: 1em;
}

.attribute-dropdown-add {
	width: 500px;
	margin: auto;
}

:host ::ng-deep .p-fieldset-legend-text, :host ::ng-deep .p-fieldset-legend {
	line-height: 0.6875rem;
	font-size: 0.6875rem;
	padding: 0.3em;
}
