<div class="d-grid gap-2 d-md-block" *ngIf="canConfigureCharts()">

	<button
		id="configureChart"
		class="btn btn-sm btn-default"
		(click)="toggleConfig()"
	>
		<i class="fa fa-fw fa-cog" pTooltip="{{'webclient.charts.configure' | i18n}}" [tooltipOptions]="tooltipDefaults" aria-hidden="true"></i>
		<span class="fas sr-only">{{'webclient.charts.configure' | i18n}}</span>
	</button>

	<button
		*ngIf="eoChart.chartPreference.dirty"
		id="saveChart"
		class="btn btn-sm btn-primary"
		(click)="save()"
	>
		<i class="fa fa-fw fa-floppy-o" pTooltip="{{'webclient.charts.save' | i18n}}" aria-hidden="true" [tooltipOptions]="tooltipDefaults"></i>
		<span class="fas sr-only">{{'webclient.charts.save' | i18n}}</span>
	</button>

	<button
		id="deleteChart"
		class="btn btn-sm btn-warning"
		(click)="delete()"
	>
		<i class="fa fa-fw fa-trash" pTooltip="{{'webclient.charts.delete' | i18n}}" aria-hidden="true" [tooltipOptions]="tooltipDefaults"></i>
		<span class="fas sr-only">{{'webclient.charts.delete' | i18n}}</span>
	</button>

	<button
		*ngIf="isExportAvailable()"
		id="exportChart"
		class="btn btn-sm btn-default"
		(click)="exportChart()"
	>
		<i class="fa fa-fw fa-download" pTooltip="{{'webclient.charts.export' | i18n}}" aria-hidden="true" [tooltipOptions]="tooltipDefaults"></i>
		<span class="fas sr-only">{{'webclient.charts.export' | i18n}}</span>
	</button>

</div>
