<div class="container">
	<div class="row">
		<h3 class="col-md-12 text-center mt-3">{{'webclient.sessionInfo' | i18n}}</h3>
	</div>

	<div class="row">
		<div class="col-md-12 text-center mb-4">
			For debugging/testing purposes.
		</div>
	</div>

	<!-- session-info-** class for integration test selectors -->
	<dl class="{{'row session-info-' + entry.key | valueToSafeHtmlString}}" *ngFor="let entry of displayData" [pTooltip]="entry.key | valueToSafeHtmlString" [tooltipOptions]="tooltipDefaults">
		<dt class="col-md-6 text-right">{{entry.key}}</dt>
		<dd class="col-md-6">{{entry.value}}</dd>
	</dl>
</div>
