// Colours -----------------------------------------
$grey:  #777;
$grey2: #dfe3e4;
$blue:  #2183dd;
$green: #009900;
$white: #fff;

.nextStatesButtonsList {
	display: flex;
	flex-direction: column;
}

.nextStatesButtonsList > nuc-next-state {
	margin-bottom: 0.2em;
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
	background: #696969;
}

.step-text-field {
	display: flex;
	line-height: 1;
	justify-content: center;
}

.step-text-field > .state-icon > img {
	width: 16px;
	height: 16px;
}

.step-text-field > .state-name {
	padding-top: 1px;
	padding-left: 2px;
	word-break: break-all;
}

.outsidepathBtn {
	position: absolute;
	padding: 0;
	transform: rotate(90deg) rotateY(180deg);
}

.outsidepathBtn ::ng-deep span.p-button-label {
	display: none;
}

.outsidepathBtn > i {
	font-size: 2rem;
}

:host ::ng-deep .p-button.p-button-lg .p-button-icon  {
	font-size: 1.5rem !important;
}

// Progress Bar ------------------------------------
.nuc-progress {
	position: relative;
	display: flex;

	.no_more_bar {
		position: absolute;
		top: 17px;
		height: 5px;
		z-index: 1;
		background-color: white;
	}

	.numeral_text {
		position: absolute;
		top: 12px;
		width: 22px;
		font-size: 0.6875rem;
		text-align: center;
		z-index: 3;
	}

	// Background Track
	.nuc-progress-track {
		position: absolute;
		top: 17px;
		width: 100%;
		height: 5px;
		background-color: $grey2;
	}

	// Each Step on the Progress Bar
	.nuc-progress-step {
		position: relative;
		width: 100%;
		font-size: .8rem;
		text-align: center;
		padding-left: 2em;
		padding-right: 2em;
		z-index: 2;

		&.is-enabled {
			.step-text-field > .state-name {
				color: #1190fe;
			}
		}

		// Hide the final step's progress bar
		&:last-child:after {
			display: none;
		}

		// Step's circle in default state
		&:before {
			content: " ";
			display: flex;
			margin: 0 auto;
			margin-bottom: 10px;
			width: 10px;
			font-size: 1.375rem;
			height: 10px;
			background: $white;
			padding: 0.5em;
			border: 4px solid $grey2;
			border-radius: 100%;
			color: transparent;
		}

		// Step's progress bar in default state
		&:after {
			content: "";
			position: absolute;
			top: 6px;
			left: 50%;
			width: 0;
			transition: width 1s ease-in;
			height: 5px;
			background: $grey2;
			z-index: -1;
		}

		// Step's active state
		&.is-active {

			&:before {
				border: 4px solid $grey;
				width: 40px;
				height: 40px;
			}
		}

		// Step's complete state
		&.is-complete {

			// Step's circle in complete state
			&:before {
				font-family: 'Font Awesome 5 Free';
				color: $white;
				background: $green;
				border: 4px solid transparent;
			}
		}
	}
}

// Animations --------------------------------------
// Pulse animation for Step's circle in active state
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(33,131,221, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(33,131,221, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(33,131,221, 0);
	}
}

// Progressing to next step animation for Step's progress bar
@keyframes nextStep {
	0% { width: 0; }
	100% { width: 100%; }
}

.container {
	margin-top: 0.5em;
}
