<div class="container-fluid" (mouseleave)="mouseOutResetGraph()">
	<div class="nuc-progress" #progressElement>
		<ng-container *ngIf="!pathData?.moreBefore">
			<div class="no_more_bar" [ngStyle]="{'left': '0', 'width': (stepBoxWidth / 2) + 'px'}"></div>
		</ng-container>
		<ng-container *ngIf="!pathData?.moreAfter">
			<div class="no_more_bar" [ngStyle]="{'width': (stepBoxWidth / 2) + 'px', 'left': (((graphStepsDisplay.length) * stepBoxWidth) - (stepBoxWidth / 2)) + 'px'}"></div>
		</ng-container>
		<p-progressBar  *ngIf="viewLoaded" [showValue]="false" [style]="{
		'position': 'absolute',
		'top': '17px',
		'height': '5px',
		'width': '100%'
		}"
		[value]="progressValue | async"></p-progressBar>
		<ng-container *ngFor="let step of graphStepsDisplay; let index = index; let first = first; let last = last;">
			<div class="numeral_text"
			     id="{{step.stateId}}Numeral"
			[ngStyle]="{
			'left': (((index + 1) * stepBoxWidth) - ((stepBoxWidth / 2) + (step.isActive && step.numeral > 99 ? 12.5 : 11))) + 'px',
			'color': getFontColorForBackground(step),
			'font-size': step.isActive ? '.875rem' : '.7rem',
			'top': step.isActive ? '9px' : '12px',
			'cursor': !step.isEnabled ? '' : 'pointer'
			}"
		     (mouseover)="mouseOverCalculateGraph(step)"
		     (mouseleave)="mouseOutResetGraph()"
		     (click)="changeState(step)">
				{{showNumerals() ? step.numeral : hideStateButton(step) ? '&nbsp;&nbsp;' : ''}}
				<img [src]="stateButtonURI(step)"
				     [hidden]="hideStateButton(step)"
				     [style]="step.isActive ? 'width:36px; padding-right: 6px; margin-top: -4px; margin-left: -3px' : 'width:18px; margin-top: -1px'"
				/>
			</div>
			<div id="{{step.stateId}}" class="nuc-progress-step"
			     [ngStyle]="{
			     'margin-top': step.isActive ? '0' : '5px'
			     }"
			[ngClass]="{'is-complete': step.isComplete, 'is-active': step.isActive, 'is-enabled': step.isEnabled}">
				<div class="step-text-field">
					<div class="state-icon" *ngIf="step.isActive">
						<img [src]="stateIconURI(step)"
					           [hidden]="!showIcons()"
						/>
					</div>
					<div class="state-name"
					     [ngStyle]="{
							'cursor': !step.isEnabled ? '' : 'pointer'
					     }"
					     (mouseover)="mouseOverCalculateGraph(step)"
					     (mouseleave)="mouseOutResetGraph()"
					     (click)="changeState(step)">{{step.statename}}</div>

				</div>
				<ng-container *ngIf="outsidePathStates(step).length > 0">
					<button pButton pRipple type="button" class="p-button-rounded p-button-lg p-button-text outsidepathBtn"
					        [ngStyle]="{
					            'left': (stepBoxWidth / 2) + 30 + 'px',
					            'top': step.isActive && (!last && !pathData.moreAfter) ? '20px' : '5px'
					        }"
					        aria-label="Next outside states"
							(click)="nextStatePanel.toggle($event)">
						<i class="material-icons">alt_route</i>
					</button>
					<p-overlayPanel #nextStatePanel baseZIndex="0">
						<ng-template pTemplate>
							<div class="nextStatesButtonsList">
								<ng-container *ngFor="let nextState of outsidePathStates(step)">
									<nuc-next-state
										[state]="fetchNextStateInfo(nextState) | async"
										(changeState)="nextStatePanel.hide(); changeStateWithStateInfo($event)"
									></nuc-next-state>
								</ng-container>
							</div>
						</ng-template>
					</p-overlayPanel>
				</ng-container>
			</div>
		</ng-container>
	</div>
</div>
