<div #root
     class="milestone-base"
     attr.data-milestone-index="{{milestoneIndex}}"
     attr.data-resource-index="{{resourceIndex}}"
     [ngClass]="styleClasses"
     [style.top]="viewElement.top + 'px'"
     [style.left]="viewElement.left + 'px'"
     [style.width]="viewElement.width + 'px'"
     [style.height]="viewElement.height + 'px'"
>
	<div
		class="milestone-inside"
		attr.data-milestone-index="{{milestoneIndex}}"
		attr.data-resource-index="{{resourceIndex}}"
		[style.top]="(2) + 'px'"
		[style.left]="(2) + 'px'"
		[style.width]="(viewElement.width - 4) + 'px'"
		[style.height]="(viewElement.height - 4) + 'px'"
		[style.background-color]="milestone.backgroundColor"
	>

	</div>
	<div class="resize-handle-left" *ngIf="viewConfiguration.tableAlignment === 1"></div>
	<div class="resize-handle-right" *ngIf="viewConfiguration.tableAlignment === 1"></div>
	<div class="resize-handle-top" *ngIf="viewConfiguration.tableAlignment === 0"></div>
	<div class="resize-handle-bottom" *ngIf="viewConfiguration.tableAlignment === 0"></div>
</div>
<span #label class="milestone-label" style=""
      [style.top]="viewElement.top + 'px'"
      [style.left]="(viewElement.left + viewElement.width + 8) + 'px'"
      [style.height]="viewElement.height + 'px'"
>
	{{formattedDate}}
</span>
