.milestone-base {
	float: left;
	z-index: 3;
	position: absolute;
	overflow: hidden;
	background-color: black;
	/*clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);*/
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.milestone-inside {
	background-color: #FFFFFF;
	float: left;
	z-index: 3;
	position: absolute;
	overflow: hidden;

	/*clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);*/
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.milestone-inside-selected {
	touch-action: none;
}

.milestone-base:hover {
	background-color: orange;
}

.milestone-selected {
	background-color: #cd5700;
	touch-action: none;
}

.milestone-label {
	position: absolute;
	font-size: 0.8rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.resize-handle-left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 6px;
	height: 100%;
	cursor: ew-resize;
}

.resize-handle-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 6px;
	height: 100%;
	cursor: ew-resize;
}

.resize-handle-top {
	position: absolute;
	width: 100%;
	height: 6px;
	top: 0px;
	cursor: ns-resize;
}

.resize-handle-bottom {
	position: absolute;
	width: 100%;
	height: 6px;
	bottom: 0px;
	cursor: ns-resize;
}

