<input
	*ngIf="!isHidden"
	type="text"
	[attr.id]="getId()"
	[attr.name]="getNameForHtml()"
	[ngStyle]="getStyle()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	class="form-control form-control-sm"
	[ngClass]="getValidationCssClasses()"
	[ngModel]="getValue()"
	(ngModelChange)="setValue($event)"
	[readonly]="!isWritable()"
/>
<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
