<div style="height: 100%; display: flex; flex-direction: column">
	<div style="padding-left: 4px;">
		<i class="fa fa-chart-simple ml-1" aria-hidden="true"></i>

		{{item.chart.name.de}}
	</div>

	<div style="flex: 1">
		<nuc-chart-detail *ngIf="eoChart"
		                  [eoChart]="eoChart"
		                  [allCharts]="[eoChart]"
		                  [toolbar]="false"
		                  class="p-1"
		></nuc-chart-detail>
	</div>

	<div class="modal-footer" *ngIf="defaultConfigMode">
		<button
			type="submit"
			class="btn btn-primary"
			id="dashboardChartConfigSave"
			(click)="saveConfig()"
		>
			{{'webclient.button.save' | i18n}}
		</button>
		<button *ngIf="defaultConfigMode"
			class="btn btn-warning"
			id="dashboardChartConfigCancel"
			(click)="cancelConfig()"
		>
			{{'webclient.button.cancel' | i18n}}
		</button>
	</div>
</div>
