<button
	[class]="'btn btn-sm btn-primary nuc-button ' + getCssClass()"
	(click)="buttonClicked()"
	[disabled]="!isEnabled() || loading"
	[attr.name]="getNameForHtml()"
	[ngStyle]="getStyle()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
>
	<div class="button-container">
		<div *ngIf="loading" class="loading">
			<i aria-hidden="true" class="fas fa-spin fa-spinner" title="{{'common.loading' | i18n}}"
			   [ngStyle]="{'font-size': getLoadingIconSize()}"></i>
			<span class="fas sr-only">{{'common.loading' | i18n}}</span>
		</div>
		<div *ngIf="hasIcon()" class="icon">
			<img
				[src]="getIconUrl()"
				[ngStyle]="{'height': getIconMaxHeight()}"
				alt="{{getLabel()}} Icon"
			/>
		</div>
		<div class="label"
			[ngStyle]="{'flex-grow': getLabelFlexGrow()}">
			<nuc-tooltip-value *ngIf="!isHidden" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>
			{{getLabel()}}
		</div>
	</div>
</button>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip"></nuc-toggletip>

<span #addonViewContainerDummy></span>
