img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

button {
	padding: 0;
	font-size: 0.6875rem;
}

.button-container {
	display: flex;
	padding: 0.1em 0.2em;
	height: 100%;
	align-items: center;
}

.loading {
	flex-grow: 0.25;
	align-self: center;
}

.label {
	overflow: hidden;
	text-overflow: ellipsis;
	align-self: center;
}

.icon {
	flex-grow: 0.25;
	align-self: center;
}
