<ng-template pTemplate="header">
	<ng-container
		*ngTemplateOutlet="titleTemplate ? titleTemplate : defaultTitleTemplate;context:{value: value, index: index}"
	></ng-container>
</ng-template>

<ng-template pTemplate="content">
	<ng-container
		*ngTemplateOutlet="contentTemplate ? contentTemplate : defaultContentTemplate;context:{value: value, index: index}"
	></ng-container>
</ng-template>


<ng-template #defaultTitleTemplate>Default {{title}}</ng-template>
<ng-template #defaultContentTemplate>Default {{value}}</ng-template>
