<ng-container *ngIf="!hasDefaultPath">
	<ng-container *ngIf="isDisplayAsCombobox">
		<nuc-state-dropdown
			[currentAndNextStates]="currentAndNextStates"
			[currentState]="currentState"
			[saveInProgress]="saveInProgress"
			[hidden]="currentState==null"
			(changeState)="changeState($event)"
		></nuc-state-dropdown>
	</ng-container>
	<ng-container *ngIf="!isDisplayAsCombobox">
		<span *ngFor="let state of currentAndNextStates" >
			<nuc-current-state
				*ngIf="state.currentState"
				[state]="state"
			></nuc-current-state>
			<nuc-next-state
				*ngIf="!state.currentState"
				[state]="state"
				[saveInProgress]="saveInProgress"
				(changeState)="changeState($event)"
			></nuc-next-state>
		</span>
	</ng-container>
</ng-container>
