@import "../../../styles";

:host {
	height: 100%;
}

.container-fluid {
	padding: 0px
}

.grid-container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.nucgrid {
	height: 100%;
	flex: 1;
}

a i {
	font-size: smaller;
}


:host ::ng-deep .ag-theme-balham {
	font-size: 0.6875rem; /* 11px */
}

:host ::ng-deep .ag-theme-balham .ag-header-cell {
	padding-top: 0px;
}

/* remove empty line in header */
:host ::ng-deep .ag-theme-balham .ag-header-cell-text {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0;
}

:host ::ng-deep .ag-theme-balham .ag-header-cell-grouped .ag-header-cell-text {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
}

:host ::ng-deep .ag-theme-balham .ag-row-even {
	background-color: #f8f8f8;
}

:host ::ng-deep .ag-theme-balham .ag-row-odd {
	background-color: #ebebeb;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected {
	background-color: $row-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .row-modified {
	background-color: $row-modified-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected.row-modified,
:host ::ng-deep .ag-theme-balham .ag-row-selected .row-modified {
	background-color: $row-modified-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .row-new {
	background-color: $row-new-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected.row-new,
:host ::ng-deep .ag-theme-balham .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host ::ng-deep .ag-theme-balham .row-deleted {
	background-color: $row-deleted-background-color;
}

:host ::ng-deep .ag-theme-balham .ag-row-selected.row-deleted,
:host ::ng-deep .ag-theme-balham .ag-row-selected .row-deleted {
	background-color: $row-deleted-selected-background-color;
}


:host ::ng-deep .ag-theme-balham .ag-header-group-cell {
	padding: 3px;
}

/* correct dropdown position */
:host ::ng-deep p-autoComplete .ui-autocomplete-panel {
	top: 24px;
}
