<div id="generation-result-dialog" class="dialog">
	<div class="modal-header">
		{{'webclient.generator.result' | i18n}}
	</div>
	<div class="modal-body">
		<a
			[href]="targetURL"
			target="_blank"
			(click)="close()"
		>
			{{'webclient.generator.result.show' | i18n: metaName}}
		</a>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" (click)="close()" id="button-close">
			{{'webclient.button.close' | i18n}}
		</button>
	</div>
</div>

