<ng-container *ngFor="let tb of transformBookings;">
	<div
		class="booking-base-transform"
		[style.top]="tb.top + 'px'"
		[style.left]="tb.left + 'px'"
		[style.width]="tb.width + 'px'"
		[style.height]="tb.height + 'px'"
		[style.color]="tb.textColor"
		[style.background-color]="tb.booking.backgroundColor"
		attr.data-booking-index="{{tb.bookingIndex}}"
		attr.data-resource-index="{{tb.resourceIndex}}"
	>
		<div class="booking-label disable-text-selection" style="white-space: nowrap; padding-left: 2px;" [innerHTML]="tb.booking.label | valueToSafeHtml"></div>
	</div>
</ng-container>
<ng-container *ngFor="let tm of transformMilestones;">
	<div #root
	     class="milestone-base"
	     [style.top]="tm.top + 'px'"
	     [style.left]="tm.left + 'px'"
	     [style.width]="tm.width + 'px'"
	     [style.height]="tm.height + 'px'"
	     attr.data-milestone-index="{{tm.milestoneIndex}}"
	     attr.data-resource-index="{{tm.resourceIndex}}"
	>
		<div
			class="milestone-inside"
			[style.top]="(2) + 'px'"
			[style.left]="(2) + 'px'"
			[style.width]="(tm.width - 4) + 'px'"
			[style.height]="(tm.height - 4) + 'px'"
			[style.background-color]="tm.milestone.backgroundColor"
			attr.data-milestone-index="{{tm.milestoneIndex}}"
			attr.data-resource-index="{{tm.resourceIndex}}"
		>

		</div>
	</div>
	<span #label style="position: absolute; font-size: 13px; display: inline-flex; justify-content: center; align-items: center; white-space: nowrap;"
	      [style.top]="tm.top + 'px'"
	      [style.left]="(tm.left + tm.width + 8) + 'px'"
	      [style.height]="tm.height + 'px'"
	>
	{{tm.dateLabel}}
</span>
</ng-container>
