.booking-base-transform {
	background-color: white;
	float: left;
	z-index: 2;
	position: absolute;
	border: 2px groove #000000;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 13px;
}

.milestone-base {
	float: left;
	z-index: 3;
	position: absolute;
	overflow: hidden;
	background-color: black;
	/*clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);*/
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.milestone-inside {
	background-color: #FFFFFF;
	float: left;
	z-index: 3;
	position: absolute;
	overflow: hidden;

	/*clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);*/
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

