<a
	*ngIf="isVisible"
	class="search-reference search-entries-in-other-window"
	href="#{{router.url}}"
	(click)="searchReference($event)"
	pTooltip="{{'webclient.button.search' | i18n}}" [tooltipOptions]="tooltipDefaults">
	<i class="fa fa-search" aria-hidden="true"></i>
	<span class="fas sr-only">{{'webclient.button.search' | i18n}}</span>
</a>
