<button
	id="openCharts"
	class="btn btn-sm"
	(click)="openModal()"
>
	<i class="fa fa-fw fa-chart-pie" pTooltip="{{'webclient.charts' | i18n}}" [tooltipOptions]="tooltipDefaults" aria-hidden="true"></i>
	<span class="fas sr-only">{{'webclient.charts' | i18n}}</span>
</button>
