<button
	type="submit"
	class="btn btn-sm btn-primary"
	pTooltip="{{'webclient.button.printouts' | i18n}}"
	[tooltipOptions]="tooltipDefaults"
	(click)="openPrintoutDialog()"
	[disabled]="saveInProgress"
>
	<i class="fa fa-fw fa-print" aria-hidden="true"></i>
	<span class="fas sr-only">{{'webclient.button.printouts' | i18n}}</span>
</button>
