<a
	*ngIf="isVisible"
	class="edit-reference"
	href="#{{router.url}}"
	(click)="editReference($event)"
	pTooltip="{{'webclient.button.open' | i18n}}" [tooltipOptions]="tooltipDefaults">
	<i class="fa fa-external-link" aria-hidden="true"></i>
	<span class="fas sr-only">{{'webclient.button.open' | i18n}}</span>
</a>
