<div class="container-fluid">

	<div class="row mt-1 backlink">
		<div class="col-md-2">
			<a [routerLink]="['/businesstests/advanced']">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				{{'webclient.businesstests.link.backToOverview' | i18n}}
			</a>
		</div>
	</div>

	<div class="container">
		<div class="row mt-1 mt-1">
			<div class="col-md-2">
				<input id="saveButton" class="btn btn-primary form-control" type="button"
				       value="{{'webclient.businesstests.save' | i18n}}"
				       (click)="save()"
				       [disabled]="started"/>
			</div>
			<div class="col-md-2">
				<input id="executeButton" class="btn btn-success form-control" type="button"
				       value="{{'webclient.businesstests.execute' | i18n}}"
				       (click)="run()"
				       [disabled]="new || started"/>
			</div>
			<div class="col-md-3 push-md-5 text-right">
				<button class="btn btn-link" id="deleteLink"
				        (click)="delete()"
				        [disabled]="new || started">
					<i class="fa fa-trash" aria-hidden="true"></i>
					{{'webclient.businesstests.delete' | i18n}}
				</button>
			</div>
		</div>

		<span id="testUID" style="display: none">{{test?.id?.uid}}</span>

		<div class="row mt-2">
			<div class="form-group col-md-4">
				<label class="form-control-label" for="testName">{{'webclient.businesstests.label.test' | i18n}}</label>
				<input id="testName" class="form-control form-control-sm" type="text"
				       [(ngModel)]="test && test.name"/>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label class="form-control-label" for="testSource">{{'webclient.businesstests.label.script' |
					i18n}}: </label>
				<ace-editor #editor
				            id="testSource"
				            class="editor"
				            [text]="test?.source"
				            (textChanged)="setSource($event)"
				            [mode]="'groovy'"
				            [theme]="'eclipse'"
				            ui-ace="{
					useWrapModel: true
					require: ['ace/ext/language_tools'],
					advanced: {
						enableSnippets: true,
						enableBasicAutocompletion: true,
						enableLiveAutocompletion: true
					}
				}"></ace-editor>
			</div>
		</div>

		<div class="row">
			<label class="col-md-2">{{'webclient.businesstests.label.state' | i18n}}: </label>
			<div id="testState" class="col-md-5" [ngSwitch]="test?.state">
				<div style="color: green; font-weight: bold" *ngSwitchCase="'GREEN'">OK</div>
				<div style="color: orange; font-weight: bold" *ngSwitchCase="'YELLOW'">WARNING</div>
				<div style="color: red; font-weight: bold" *ngSwitchCase="'RED'">ERROR</div>
			</div>

			<label class="col-md-2">{{'webclient.businesstests.label.start' | i18n}}: </label>
			<div id="testStartDate" class="col-md-3">
				{{test?.startdate?.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}
			</div>
		</div>
		<div class="row">


			<label class="col-md-2">{{'webclient.businesstests.label.warningCount' | i18n}}: </label>
			<div id="testWarningCount" class="col-md-5">
				{{test?.warningCount}}
			</div>

			<label class="col-md-2">{{'webclient.businesstests.label.end' | i18n}}: </label>
			<div id="testEndDate" class="col-md-3">
				{{test?.enddate?.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}
			</div>

		</div>

		<div class="row">
			<label class="col-md-2">{{'webclient.businesstests.label.errorCount' | i18n}}: </label>
			<div id="testErrorCount" class="col-md-5">
				{{test?.errorCount}}
			</div>


			<label class="col-md-2">{{'webclient.businesstests.label.duration' | i18n}} (ms): </label>
			<div id="testDuration" class="col-md-3">
				{{test?.duration}}
			</div>
		</div>

		<div class="row">
			<label class="col-md-2">{{'webclient.businesstests.label.result' | i18n}}: </label>
			<div id="testResult" class="col-md-5" style="white-space: pre">{{test?.result}}</div>
			<label class="col-md-2">{{'webclient.businesstests.label.entity' | i18n}}: </label>
			<div id="testEntity" class="col-md-3">
				{{test?.entity}}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label for="testLog">{{'webclient.businesstests.label.log' | i18n}}: </label>
				<textarea id="testLog" class="form-control" rows="20" readonly>{{log}}</textarea>
			</div>
		</div>
	</div>
</div>
