<nuc-favorite-filters-row [favoriteFilters]="favoriteFilters"></nuc-favorite-filters-row>

<nuc-favorite-filter-hamburger [favoriteFilters]="favoriteFilters" [selectedFilter]="selectedFilter"></nuc-favorite-filter-hamburger>
