<button
	type="submit"
	class="btn btn-primary btn-sm nuclos-next-state nuc-button"
	(click)="changeState.emit(state)"
	pTooltip="{{'webclient.button.change.state.to' | i18n:state.name}}"
	[tooltipOptions]="tooltipDefaults"
	[attr.state-number]="state.numeral"
	[attr.state-name]="state.buttonLabel || state.transitionname || ((this.state.showNumeral ? (state.numeral + ' ') : '') + state.name)"
	[disabled]="saveInProgress"
	[ngStyle]="state.color ? {'background-color': !saveInProgress ? state.color : '#acacac', 'color': textColor} : null"
>
	<img *ngIf="state.links?.stateIcon"
	     [src]="state.links?.stateIcon?.href"
	     [hidden]="!state.showIcon"
	/>
	<span>{{state.buttonLabel || state.transitionname || ((this.state.showNumeral ? (state.numeral + ' ') : '') + state.name)}}</span>
</button>
