<label>{{'webclient.perspective.subform.table' | i18n}}</label>

<div
	*ngIf="getPreferenceEntries().length == 0; else subformPreferenceTable"
	class="row"
>
	<div class="col-md-12 text-center text-muted small">
		{{'webclient.perspective.subform.table.not.available' | i18n}}
	</div>
</div>

<ng-template
	#subformPreferenceTable
>
	<table class="table table-sm table-bordered small">
		<tr>
			<th>{{'webclient.perspective.subform.table.entity' | i18n}}</th>
			<th>{{'webclient.perspective.subform.table.preference' | i18n}}</th>
		</tr>
		<tr *ngFor="let entry of getPreferenceEntries()" class="text-nowrap">
			<td class="align-middle">
				<label
					[for]="'subformTable_' + entry.subEntityClassId"
					class="mb-0"
				>{{entry.subEntityName}}</label>
			</td>
			<td class="small">
				<select
					[id]="'subformTable_' + entry.subEntityClassId"
					[ngModel]="getSelectedColumnPref(entry.subEntityClassId)"
					(ngModelChange)="selectSubformColumnPref(entry.subEntityClassId, $event)"
					(change)="change.next()"
					[disabled]="entry.columnPreferences?.length <= 0"
					class="form-control form-control-sm"
				>
					<option></option>
					<option
						*ngFor="let pref of entry.columnPreferences"
						[value]="pref.prefId"
					>
						{{pref.name}}
					</option>
				</select>
			</td>
		</tr>
	</table>
</ng-template>
