<div id="detail-modal-dialog" class="dialog">
	<div class="modal-header">
		{{title}}
	</div>

	<div class="modal-body">

		<nuc-layout
			[ngStyle]="{ width:(width+8)+'px', height:(height+8)+'px' }"
			[eo]="eo"
		></nuc-layout>

	</div>

	<div class="modal-footer">
		<div id="errorMessage" *ngIf="errorMessage" [innerHTML]=errorMessage></div>
		<button id="button-ok" type="button" class="btn btn-primary"
		        (click)="ok()"
				[disabled]=disableControls>
			{{ 'webclient.button.ok' | i18n }}
		</button>
		<button id="button-cancel" type="button" class="btn btn-primary"
		        (click)="cancel()"
		        [disabled]=disableControls>
			{{ 'webclient.button.cancel' | i18n }}
		</button>
	</div>
</div>

