
<label for="perspectiveSideviewMenu">{{'webclient.perspective.sideviewmenu' | i18n}}</label>
<select
	id="perspectiveSideviewMenu"
	[(ngModel)]="perspective.sideviewMenuPrefId"
	(change)="change.next(null)"
	class="form-control"
	[disabled]="!hasSideviewMenuPrefs()"
>
	<option></option>
	<option
		*ngFor="let pref of model.getSideviewMenuPrefs(perspective)"
		[value]="pref.prefId"
	>
		{{pref.name}}
	</option>
</select>
