<div class="locking-container">
	<span id="lock-info-icon" class="fa fa-fw fa-lock"></span>
	<div id="lock-info">
		{{'webclient.button.lockedby' | i18n}}
		<label>{{eo?.getAttribute('nuclosOwner')?.name}}</label>
	</div>

	<button id="unlock-button" class="btn btn-outline-secondary btn-sm " *ngIf="eo?.getData().links.lock" [disabled]="eo?.isDirty()"
		(click)="unlock()">
		{{'webclient.button.unlock' | i18n}}
	</button>
</div>
