.locking-container {
	height: 100%;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#lock-info-icon {
	line-height: 1.35;
	color: red;
}

#lock-info {
	font-size: 0.9rem;
	margin-left: 5px;
}

button {
	margin-left: 10px;
}
