textarea {
	resize: none;
	width: 100%;
	height: 100%;
}

.textarea-overlay, .textarea-overlay-hover {
	margin-left: 1px !important;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 1px;
}

.input-group .form-control:focus {
	z-index: 0;
}

.textarea-overlay-disabled {
	display: none;
}

.textarea-overlay {
	background-color: #ffffff;
	z-index: -1;
	padding-left: 5px;
	padding-top: 5px;
	border-radius: 2px;
}

.textarea-overlay-hover:hover .textarea-overlay {
	z-index: 101;
	animation: showtooltip 1s linear alternate;
}
