<div style="height: 100%; flex-grow: 1;">
	<div class="input-group input-group-sm" [ngStyle]="getInputGroupStyle()">
			<textarea
				[ngStyle]="getStyle()"
				#textarea
				*ngIf="!isHidden"
				class="form-control form-control-sm"
				[ngClass]="getValidationCssClasses()"
				[rows]="getRows()"
				[id]="getId()"
				[attr.name]="getNameForHtml()"
				[attr.next-focus-field]="getNextFocusField()"
				[attr.next-focus-comp]="getNextFocusComponent()"
				[ngModel]="getValue()"
				(ngModelChange)="setValue($event)"
				[readonly]="!isWritable()"
			></textarea>
		<div
			class="textarea-overlay-hover"
			*ngIf="isWritable() && hasTextModules()">
			<div
				class="textarea-overlay">
				<nuc-text-module
					[attributeMetaId]="getName()"
					[eo]="getEntityObject()"
					[getCaretPosition]="getCaretPosition"
					[setFocus]="setFocus"
					[controlType]="'textarea'"
				></nuc-text-module>
			</div>
		</div>
		<a *ngIf="isLocalized"
		   tabindex="1"
		   style="font-size: 0.6875rem; height: 20px;"
		   class="p-inputgroup-addon p-element p-button p-button-icon-only p-component p-ripple"
		   role="button"
		   href="{{'#' | current_href}}"
		   (keyup)="processKeyInput($event)"
		   (click)="editLocalization()">
			<i style="color: white;" class="fas fa-globe"></i>
			<span class="fas sr-only">{{ 'webclient.localization.edit.sr' | i18n: attributeMeta.getName() }}</span>
		</a>
	</div>
</div>
<div style="align-self: flex-start; height: 20px; display: flex;">
	<nuc-toggletip [forId]="getId()" style="align-self: center;" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
</div>
