<button
	style="border: none; background: none;"
	id="{{subformFilterKey.foreignkeyfieldToParent}}"
	(click)="toggleSubformSearchEditor()"
	(clickOutside)="clickOutside($event)"
	nucClickOutside
>
	<div style="position: relative;">
		<i class="fa fa-search" style="position: relative; left: -0.3rem;"></i>
		<i class="fa fa-sm fa-caret-down" style="position: relative; left: -0.5rem; top: -0.4rem;"></i>
	</div>
	<span class="fas sr-only">{{'webclient.sideview.listfilter.title' | i18n}}</span>
</button>
