<div class="container-fluid">
	<div class="row" style="margin-top: 20px; float: left; white-space: nowrap">
		<div class="col-md-2">
			<a [routerLink]="['/businesstests']">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				{{'webclient.businesstests.link.backToOverview' | i18n}}
			</a>
		</div>
	</div>

	<div class="container">
		<div class="row mt-1">
			<div class="col-md-3">
				<button id="generateAllTests" class="form-control form-control-sm btn btn-primary" style="width:100%"
				        type="button"
				        (click)="generateAllTests()"
				        [disabled]="started">
					{{'webclient.businesstests.generate' | i18n}}
				</button>
			</div>
			<div class="col-md-3">
				<button id="executeAllTests" class="form-control form-control-sm btn btn-success" type="button"
				        (click)="runAllTests()"
				        [disabled]="started">
					{{'webclient.businesstests.execute.all' | i18n}}
				</button>
			</div>
			<div class="col-md-3 push-md-3 text-right">
				<button id="createNewTest" class="btn btn-link" [routerLink]="['/businesstests/new']"
				        [disabled]="started">
					{{'webclient.businesstests.create.manually' | i18n}}
				</button>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12">
				<nuc-progress-bar [progress]="progress"
				                  *ngIf="started">
				</nuc-progress-bar>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12">
				<textarea id="output" class="form-control" rows="10" readonly>{{executionResult}}</textarea>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12">
				<nuc-businesstest-overview></nuc-businesstest-overview>
			</div>
		</div>

		<div class="row mt-3 mr-0 ml-0" style="overflow-x: auto">
			<h4>{{'webclient.businesstests.details' | i18n}}</h4>
			<table class="table table-details">
				<tr>
					<th>{{'webclient.businesstests.label.test' | i18n}}</th>
					<th>{{'webclient.businesstests.label.start' | i18n}}</th>
					<th>{{'webclient.businesstests.label.end' | i18n}}</th>
					<th>{{'webclient.businesstests.label.duration' | i18n}}</th>
					<th>{{'webclient.businesstests.label.message' | i18n}}</th>
					<th>{{'webclient.businesstests.label.warningCount' | i18n}}</th>
					<th>{{'webclient.businesstests.label.errorCount' | i18n}}</th>
					<th>{{'webclient.businesstests.label.state' | i18n}}</th>
					<th class="th-delete">
						<button class="btn btn-link mr-0 ml-0 pr-0 pl-0 pt-0"
						        pTooltip="{{'webclient.businesstests.delete.all' | i18n}}"
						        [tooltipOptions]="tooltipDefaults"
						        id="deleteAllTests"
						        (click)="deleteAllTests()"
						        [disabled]="started">
							<i class="fa fa-trash mr-0" aria-hidden="true"></i>
						</button>
					</th>
				</tr>
				<tr *ngFor="let test of tests" [id]="'test_' + test.id.string" [ngSwitch]="test?.state">
					<td><a [routerLink]="['/businesstests/', test.id.string]">{{test.name}}</a></td>
					<td>{{test.startdate?.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}</td>
					<td>{{test.enddate?.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}</td>
					<td>{{test.duration}}</td>
					<td>{{test.result}}</td>
					<td>{{test.warningCount}}</td>
					<td>{{test.errorCount}}</td>
					<td *ngSwitchDefault=""></td>
					<td style="color: green; font-weight: bold" *ngSwitchCase="'GREEN'">OK</td>
					<td style="color: orange; font-weight: bold" *ngSwitchCase="'YELLOW'">WARNING</td>
					<td style="color: red; font-weight: bold" *ngSwitchCase="'RED'">ERROR</td>
					<td>
						<button class="btn btn-link mr-0 ml-0 pr-0 pl-0 pt-0"
						        pTooltip="{{'webclient.businesstests.delete' | i18n}}"
						        [tooltipOptions]="tooltipDefaults"
						        [attr.id]="'del_test_' + test.id.string"
						        (click)="deleteTest(test.id.string)"
						        [disabled]="started">
							<i class="fa fa-trash mr-0" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
