<label for="perspectiveLayout">{{'webclient.perspective.layout' | i18n}}</label>
<select
	id="perspectiveLayout"
	[(ngModel)]="perspective.layoutId"
	(change)="onChange()"
	class="form-control"
>
	<option></option>
	<option
		*ngFor="let layout of model.layoutInfos"
		[value]="layout.uid.uid">
		{{layout.name}}
	</option>
</select>
<input id="perspectiveLayoutForNew"
	type="checkbox"
	[(ngModel)]="perspective.layoutForNew"/>
<label for="perspectiveLayoutForNew">{{'webclient.perspective.layout.forNew' | i18n}}</label>
