<div *ngIf="!menuEmpty && (visible | async)">
	<ul id="{{name}}-menu" class="navbar-nav">
		<li class="nav-item dropdown">
			<a
				class="nav-link dropdown-toggle ellipsis"
				data-bs-toggle="dropdown"
				data-bs-auto-close="outside"
				aria-haspopup="true"
				aria-expanded="false"
				tabindex="0"
			>
				<span *ngIf="iconClass" class="icon-container">
					<i class="fa {{iconClass}}" aria-hidden="true"></i>
				</span>
				<span *ngIf="label">{{label}}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-end">
				<nuc-menu-item
					[menuItem]="item"
				></nuc-menu-item>

				<ng-container *ngIf="addonMenuItems !== undefined && addonMenuItems.length > 0">
					<nuc-addon-menu-item
						*ngFor="let menuItem of addonMenuItems"
						[menuItem]="menuItem"
						[position]="addonMenuPosition">
					</nuc-addon-menu-item>
				</ng-container>
			</div>
		</li>
	</ul>
</div>
