<p-tabView
	       #tabView
	       [scrollable]="true"
	       [activeIndex]="selectedTabIndex"
	       [ngClass]="{'no-padding': noHeaderPadding, 'dynamic-height': dynamicHeight}"
	       (onChange)="emitTabChange($event)">

		<!-- Explicitly defined tabs -->
		<p-tabPanel
			*ngFor="let tab of tabs; let i = index"
			[id]="tab.id"
			[header]="tab.title"
			[selected]="i === 0"
			[cache]="false"
			[ngClass]="{'no-padding': noHeaderPadding}"
			[headerStyleClass]="'no-padding'"
		>
			<ng-template pTemplate="content">
				<ng-container *ngTemplateOutlet="tab.contentTemplate?.templateRef;context:{value: tab, index: i}"></ng-container>
			</ng-template>
		</p-tabPanel>

		<!-- Tabs created for given values -->
		<p-tabPanel
			*ngFor="let value of values; let i = index"
			[id]="tabId(i)"
			[selected]="i === 0"
			[cache]="false"
			[headerStyleClass]="noHeaderPadding ? 'no-padding' : ''"
		>
			<ng-template pTemplate="header">
				<div
					[attr.index]="i"
					class="tab-title"
				>
					<ng-container *ngTemplateOutlet="titleTemplate;context:{value: value, index: i}"></ng-container>
				</div>
			</ng-template>

			<ng-template pTemplate="content">
				<ng-container *ngTemplateOutlet="contentTemplate;context:{value: value, index: i}"></ng-container>
			</ng-template>
		</p-tabPanel>

		<!-- "Add new" tab -->
		<p-tabPanel
			*ngIf="canAdd"
			[id]="addTabId"
			[selected]="false"
			[header]="addTabId"
			[headerStyleClass]="'add-tab-button'"
			[cache]="true"
		>
			<ng-template pTemplate="header">
				<div style="padding: 10px; margin: -10px;"
					(click)="addTab($event)"
					[id]="idForAdd || 'addTab'"
				>
					+
				</div>
			</ng-template>
		</p-tabPanel>
</p-tabView>
