:host ::ng-deep .p-tabview .p-tabview-nav li {
	margin-right: 0 ;
}

:host ::ng-deep .p-tabview-nav {
	flex-wrap: wrap;
}

:host ::ng-deep .p-tabview-panels {
	border: 1px solid lightgray;
	border-top: 0;
	/*padding: 5px;*/
	background-color: #f8f8f8;
}

:host ::ng-deep .dynamic-height > .p-tabview {
	min-height: 200px;
}

:host ::ng-deep .p-tabview-scrollable {
	display: flex;
	flex-direction: column;
}

:host ::ng-deep .p-tabview-scrollable .p-tabview-nav-container {
	overflow: unset;
	border-bottom: 1px solid #c8c8c8;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
	background-color: transparent ;
	color: #337ab7 ;
	padding: 0.5rem 1rem ;
	border-left: none ;
	font-weight: normal ;
	border-radius: 0 ;
	height: 28px ;
	line-height: 0.6875rem ;
	font-size: 0.6875rem ;
	white-space: nowrap;
}

:host ::ng-deep .no-padding > .p-tabview .p-tabview-nav li .p-tabview-nav-link {
	padding: 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li:first-child .p-tabview-nav-link {
	border-left: 1px solid #d9d9d9 ;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:hover,
:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:focus{
	background-color: #e5e5e5 ;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
	box-shadow: none;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
	background-color: #e8e8e8 ;
	border-color: #d9d9d9 ;
	border-radius: 0 ;
}

:host ::ng-deep  .ag-theme-balham .ag-root-wrapper {
	border-top: none;
	border-right: none;
}

:host ::ng-deep .no-padding > .p-tabview .p-tabview-nav-btn.p-link {
	padding: 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav-btn.p-link {
	background-color: #e5e5e5 ;
	border: 1px solid lightgray;
	padding: 0.5rem 1rem ;
	color: #337ab7 ;
	height: 28px ;
	line-height: 0.6875rem ;
	font-size: 0.6875rem ;
	box-shadow: none ;
}

:host ::ng-deep .p-tabview-nav-next .p-tabview-nav-btn:focus {
	box-shadow: none ;
}
:host ::ng-deep .p-tabview .p-tabview-nav-btn.p-link:hover {
	background-color: #e5e5e5 ;
}

:host ::ng-deep .add-tab-button a {
	background-color: unset !important;
}

:host ::ng-deep .add-tab-button a:hover {
	background-color: lightgray !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight.add-tab-button .p-tabview-nav-link {
	background-color: unset;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight.add-tab-button .p-tabview-nav-link:hover {
	background-color: lightgray;
}

:host ::ng-deep .p-component .pi {
	font-size: 0.6875rem ;
	line-height: 0.6875rem ;
}

#newChart, #newSeries, #newDashboard {
	margin: -8px -16px -8px -16px;
	padding: 8px 16px 8px 16px;
}

::ng-deep .tab-background:hover, ::ng-deep a[role="tab"]:focus .tab-background {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

::ng-deep .p-highlight .tab-background {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.125));
}

.tab-title {
	display: flex;
	flex: 1;
	height: 100%;
}
