<div class="dialog" style="max-height: 85vh;">

	<div class="modal-header">
		<h5 class="modal-title">{{'webclient.localization.dialog.title' | i18n}}</h5>
	</div>

	<div class="modal-body" style="height: 100%; min-height: 0; max-height: 70vh; overflow: auto">
			<table class="table table-hover table-borderless" tabindex="0" >
				<thead>
					<th style="width: 20%;">{{'webclient.localization.dialog.language' | i18n}}</th>
					<th style="width: 65%;">{{attributeMeta.getName()}}</th>
					<th style="width: 15%;"></th>
				</thead>
				<tbody>
				<tr id="{{keys.datalanguage}}" *ngFor="let keys of dataLanguages">
					<td [ngClass]="{ primary: primaryDataLanguage?.datalanguage === keys.datalanguage }">{{keys.datalanguageLabel}}</td>
					<td>
						<input
							pInputText
							[ngModel]="languageEntryMap.get(keys) ?? ''"
							(ngModelChange)="languageEntryMap.set(keys, $event)"
							[maxlength]="attrMetaScale"
							*ngIf="attrMetaScale < 4000"
							style="width: 100%;">
						<textarea
							pInputText
							[ngModel]="languageEntryMap.get(keys) ?? ''"
							(ngModelChange)="languageEntryMap.set(keys, $event)"
							rows="5"
							[maxlength]="attrMetaScale"
							*ngIf="!attrMetaScale || attrMetaScale >= 4000"
							style="width: 100%;"></textarea>
					</td>
					<td style="vertical-align: middle; text-align: center;">
						<button *ngIf="!(keys.datalanguage === primaryDataLanguage?.datalanguage)" class="btn btn-sm btn-success">leeren</button>
					</td>
				</tr>
				</tbody>
			</table>
	</div>

	<div class="modal-footer">
		<button id="button-ok" type="button" class="btn btn-primary" (click)="close()">
			{{ 'webclient.button.ok' | i18n }}
		</button>
		<button id="button-cancel" type="button" class="btn btn-primary" (click)="cancel()">
			{{ 'webclient.button.cancel' | i18n }}
		</button>
	</div>
</div>
