<gridster
	*ngIf="dashboard"
	[options]="options"
>
	<gridster-item
		[item]="item"
		*ngFor="let item of dashboard.content.items"
		[attr.item-x]="item.x === undefined ? 0 : item.x"
		[attr.item-y]="item.y === undefined ? 0 : item.y"
		[attr.item-rows]="item.rows"
		[attr.item-cols]="item.cols"
		[attr.item-type]="item.type"
	>
		<div class="dashboard-item-container">

			<!-- TODO: Create different grid item types dynamically, e.g. with ng-dynamic-component -->
			<nuc-dashboard-tasklist
				*ngIf="item.type === 'tasklist'"
				[active]="item.active"
				class="item"
				[item]="item"
			></nuc-dashboard-tasklist>

			<nuc-dashboard-addon
				*ngIf="item.type === 'addon'"
				[active]="item.active"
				class="item"
				[item]="item"
			></nuc-dashboard-addon>

			<nuc-dashboard-chart
				*ngIf="item.type === 'chart' && item.active"
				[active]="item.active"
				class="item"
				[item]="item"
			></nuc-dashboard-chart>

			<div class="overlay" *ngIf="configMode">
				<div class="corner">
					<a name="delete-dashboard-item"
						class="ml-2"
						(mousedown)="removeItem($event, item)"
                        (touchstart)="removeItem($event, item)"
					>
						<i class="fa fa-trash"></i>
					</a>
					<button *ngIf="item.configurable"
					        #configButton
					   name="show-config"
					   class="ml-2 show-config-button"
					   (mousedown)="showConfig($event, item)"
					   (touchstart)="showConfig($event, item)">
						<i class="fa fa-cog" pTooltip="{{tooltips[item.type]}}" [tooltipOptions]="tooltipDefaults"></i>
					</button>
				</div>
			</div>
		</div>
	</gridster-item>
</gridster>
