:host {
	width: 100%;
}

.lov-container {
	position: relative;
	height: 100%;
	flex-grow: 1;
	background-color: rgba(255, 255, 255, .9);
}

button {
	height: 100%;
	background: lightgray;
	border-color: lightgray;
}

:host, :host .form-control {
	font-size: 0.75rem;
}

:host ::ng-deep .ui-widget, :host ::ng-deep .ui-button, .lov-item, :host ::ng-deep .pi {
	font-size: 0.6875rem;
}

@import "lov-overlay.scss";

:host ::ng-deep .p-inputtext, :host ::ng-deep .p-autocomplete-dropdown {
	font-size: 0.6875rem;
}

:host ::ng-deep .p-autocomplete > .p-button {
	padding: 0.35em 0 0 0 !important;
}

:host ::ng-deep .p-autocomplete-input {
	padding: 0.2em;
}

:host ::ng-deep .p-inputtext {
	color: #495057;
	border-color: #ced4ea;
}

:host ::ng-deep .p-inputtext:hover {
	border-color: #ced4ea;
}

.lov-overlay {
	display: flex;
	align-items: center;
	z-index: -1;
}

:host:hover .lov-overlay {
	z-index: 101;
	animation: showtooltip 1s linear alternate;
}

@keyframes showtooltip {
	from { z-index: -1; }
	to { z-index: 101; }
}

.lov-overlay:hover i {
	font-weight: bolder;
}

a {
	cursor: pointer;
}

p-autocomplete {
	height: 100%;
	margin-right: auto;
	border: 0px;
}

:host ::ng-deep .ui-autocomplete-loader {
	hidden: true;
}

:host ::ng-deep p-autoComplete span {
	height: 100%;
	width: 100%;
}

:host ::ng-deep input {
	height: 100%;
	opacity: 1;
	background-color: #FFFFFF;

	&:disabled {
		background-color: #f8f8f8;
		opacity: 1;
		cursor: not-allowed !important;
	}

	&:read-only {
		background-color: #e9ecef;
		border-color: rgba(0, 0, 0, 0.15) !important;

		+ button {
			pointer-events: none;
		}
	}
}

@import "lov-highlight.scss";
