<div
	*ngIf="!isHidden"
	class="lov-container"
	[style.width]="getWidth() + 'px'"
	[style.height]="getHeight() + 'px'"
	[attr.for-id]="getId()"
	[attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
	[attr.next-focus-comp]="getNextFocusComponent()"
	[attr.initial-focus]="getInitialFocus()"
	[attr.disabled]="!isWritable()"
	[ngClass]="getValidationCssClasses()"

	tabindex="0"
	(focus)="setFocus()"
	(mouseover)="hover=true"
	(mouseleave)="hover=false"

	nucClickOutside
	(clickOutside)="outsideClick($event)"
>
	<nuc-tooltip-value *ngIf="!isHidden" [tooltipId]="getId()" [tooltip]="tooltip | valueToSafeHtmlString"></nuc-tooltip-value>

	<p-autoComplete

		#autoComplete

		[attr.for-id]="getId()"
		[inputId]="getId()"
		[ngModel]="displayValue"
		(ngModelChange)="setValueImmediatelyIfNoReference($event)"
		[forceSelection]="false"
		(onBlur)="blur()"

		[inputStyle]="getStyle()"
		[panelStyle]="getStyle()"
		[suggestions]="lovEntries"

		(completeMethod)="autocompleteSearch($event.query)"

		dropdown="true"
		dropdownMode="nuclos"
		(onDropdownClick)="toggleResultPanelAndLoad($event)"
		(click)="toggleResultPanelAndLoad($event)"
		(onShow)="setupPanelAndInput()"

		(onSelect)="selectDropdownOption($event)"

		(keyup)="keyup($event)"
		(keydown)="keydown($event)"

		field="name"
		[readonly]="!isWritable()"
		dropdownIcon="pi pi-angle-down"

		appendTo="body"
	>
		<ng-template let-lovItem pTemplate="item">
			<div class="dd-item"
			     [ngClass]="{'lov-item': true, 'selected': lovItem.selected}">
				{{lovItem.name}}
			</div>
		</ng-template>
	</p-autoComplete>

	<div class="lov-overlay"
	     [style.background]="hover ? 'linear-gradient(to right, transparent, ' + (this.webComponent.customBackgroundColor ?? '#FFF') + ' 10%)' : ''"
	     *ngIf="getAttributeMeta() !== undefined" [ngClass]="{'lov-overlay-disabled': !isWritable()}">
		<nuc-refresh-reference-target
			*ngIf="isWritable()"
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
			[popupParameter]="getAdvancedProperty('popupparameter')"
			(click)="refreshReferenceClick()"
			[lovHandler]="getLovHandler()"
		></nuc-refresh-reference-target>

		<nuc-search-reference-target
			*ngIf="isWritable()"
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
			[popupParameter]="getAdvancedProperty('popupparameter')"
			(click)="searchReferenceClick()"
			[lovHandler]="getLovHandler()"
		></nuc-search-reference-target>

		<nuc-edit-reference-target
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
			[attribute]="getValue()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
			[noCloseAfterSave]="getAdvancedProperty('NO_CLOSE')"
			[lovHandler]="getLovHandler()"
			(referenceUpdated)="initDisplayValue()"
		></nuc-edit-reference-target>

		<nuc-add-reference-target
			*ngIf="isWritable()"
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
			(click)="addReferenceClick()"
			[lovHandler]="getLovHandler()"
		></nuc-add-reference-target>
	</div>
</div>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>

