.lov-overlay {
	position: absolute;
    height: 80%;
    border-radius: 2px;
	right: 17px;
	top: 10%;
	padding-left: 3px;
	padding-right: 3px;
}

.lov-overlay-disabled {
    //background-color: rgba(248, 248, 248, .9);
	background-color: #e9ecef;
}
