<div class="toolbar">
	<div *ngIf="!showProgress()" class="btn-group mr-2" role="group">
		<button
			id="backToDetails"
			class="btn btn-sm btn-success toolbar-item"
			(click)="backToDetails()"
		>
			{{ 'webclient.button.backToDetails' | i18n }}
		</button>
		<button
			id="backToCollectiveProcessing"
			class="btn btn-sm btn-success toolbar-item"
			[disabled]="true"
		>
			{{ 'webclient.button.backToCollectiveProcessing' | i18n }}
		</button>
	</div>
	<div *ngIf="!showProgress()">
		<button
			id="cancelCollectiveProcessing"
			class="btn btn-sm btn-warning toolbar-item"
			(click)="cancelCollectiveProcessing()"
		>
			<i class="fa fa-fw fa-times"></i>
			{{ 'webclient.button.cancelCollectiveProcessing' | i18n }}
		</button>
	</div>
	<div *ngIf="showProgress()" class="btn-group mr-2" role="group">
		<button
			id="closeProgress"
			class="btn btn-sm btn-success toolbar-item"
			(click)="closeProgress()"
		>
			{{ 'webclient.button.close' | i18n }}
		</button>
		<button
			*ngIf="isProgressing"
			id="abortProgress"
			class="btn btn-sm btn-warning toolbar-item"
			(click)="abortProgress()"
		>
			<i class="fa fa-fw fa-times"></i>
			{{ 'webclient.button.cancel' | i18n }}
		</button>
	</div>
</div>

<div class="collective-processing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<ng-container *ngIf="!showProgress()">
		<p *ngIf="multiSelectionResult.headerMultiSelectionAll && !multiSelectionResult.hasIds()">
			{{ 'webclient.collectiveProcessing.header.all' | i18n }}
		</p>
		<p
			*ngIf="
				multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds() > 1
			"
		>
			{{
				'webclient.collectiveProcessing.header.allExcept'
					| i18n: multiSelectionResult.countIds()
			}}
		</p>
		<p
			*ngIf="
				multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds() == 1
			"
		>
			{{ 'webclient.collectiveProcessing.header.allExceptOne' | i18n }}
		</p>
		<p
			*ngIf="
				!multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds() > 1
			"
		>
			{{
				'webclient.collectiveProcessing.header.many' | i18n: multiSelectionResult.countIds()
			}}
		</p>
		<p
			*ngIf="
				!multiSelectionResult.headerMultiSelectionAll &&
				multiSelectionResult.countIds() == 1
			"
		>
			{{ 'webclient.collectiveProcessing.header.one' | i18n }}
		</p>
	</ng-container>
	<ng-container *ngIf="showProgress()">
		<ng-container [ngSwitch]="isProgressing">
			<ng-container *ngSwitchCase="true">
				<p>{{ 'webclient.collectiveProcessing.header.progress' | i18n }}</p>
			</ng-container>
			<ng-container *ngSwitchCase="false">
				<p>{{ 'webclient.collectiveProcessing.header.result' | i18n }}</p>
			</ng-container>
		</ng-container>
	</ng-container>
</div>

<div *ngIf="!showProgress() && !showEdit()" class="container-fluid row card-deck mb-3 mx-auto text-container">
	<div class="card mb-4 col-sm-12 shadow-sm" *ngIf="noProgressingOptions">
		<div class="card-header">
			<span class="my-0 font-weight-normal">{{
				'webclient.collectiveProcessing.selOptionsNotFound.title' | i18n
			}}</span>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				{{ 'webclient.collectiveProcessing.selOptionsNotFound.message' | i18n }}
			</li>
		</ul>
	</div>
	<nuc-web-scrollable-box
		[boxHeight]="300"
		[boxListLayout]="editList"
		[boxTitle]="this.i18n.getI18n('webclient.collectiveProcessing.actions.name')"
		[boxVisible]="(actions$ | async)?.length > 0"
		[items]="actions$ | async"
		[boxWidth]="190"
		class="mb-4 col-sm-4">
	</nuc-web-scrollable-box>
	<nuc-web-scrollable-box
		[boxHeight]="300"
		[boxListLayout]="stateChangeList"
		[boxTitle]="this.i18n.getI18n('webclient.collectiveProcessing.stateChange.name')"
		[boxVisible]="(stateChanges$ | async)?.length > 0"
		[items]="stateChanges$ | async"
		[boxWidth]="190"
		class="mb-4 col-sm-4">
	</nuc-web-scrollable-box>
	<nuc-web-scrollable-box
		[boxHeight]="300"
		[boxListLayout]="functionsList"
		[boxTitle]="this.i18n.getI18n('webclient.collectiveProcessing.customRules.name')"
		[boxVisible]="(functions$ | async)?.length > 0"
		[items]="functions$ | async"
		[boxWidth]="190"
		class="mb-4 col-sm-4">
	</nuc-web-scrollable-box>
</div>

<nuc-collective-processing-progress
	*ngIf="showProgress()"
	(progressNumber)="progress($event)"
	(progressStatus)="updateStatusLine($event)">
</nuc-collective-processing-progress>

<nuc-collective-editing
	(editingEvent)="triggerEditing($event)"
	*ngIf="showEdit()">
</nuc-collective-editing>

<ng-template #editList let-item>
	<li
		class="list-group-item ellipsis collective-processing-object-action"
	>
		<ng-container [ngSwitch]="item.name">
			<ng-container *ngSwitchCase="'delete'">
				<a (click)="executeAction(item)" class="card-link"
				   tabindex="0"
				   aria-haspopup="true">
					{{'webclient.collectiveProcessing.actions.delete.name' | i18n}}
				</a>
				<div class="card-function-icon">
					<sup><span class="fa fa-fw fa-trash-o"></span></sup>
				</div>
			</ng-container>
			<ng-container *ngSwitchCase="'edit'">
				<a (click)="executeAction(item)" class="card-link"
				   tabindex="0"
				   aria-haspopup="true">
					{{'webclient.collectiveProcessing.actions.edit.name' | i18n}}
				</a>
				<div class="card-function-icon">
					<sup><span class="fa fa-fw fa-pencil-square-o"></span></sup>
				</div>
			</ng-container>
		</ng-container>
	</li>
</ng-template>

<ng-template #stateChangeList let-item>
	<li
		[ngStyle]="{ 'background-color': item.color }"
		class="list-group-item ellipsis collective-processing-state-change-action"
		id="collective-processing-state-{{ cleanStringForId(item.subName) }}"
	>
		<a (click)="executeAction(item)"
		   [ngStyle]="{ 'color': calculateTextColorFromBackgroundColor(item.color, false) }" class="card-link"
		   tabindex="0"
		   [pTooltip]="(item.name) | valueToSafeHtmlString"
		   [tooltipOptions]="tooltipDefaults"
		   aria-haspopup="true"
		>{{
			item.name
			}}</a>
		<div class="card-function-icon">
			<sup
			><span
				[ngStyle]="{ 'color': calculateTextColorFromBackgroundColor(item.color, true) }">{{ item.subName }}</span></sup
			>
		</div>
	</li>
</ng-template>

<ng-template #functionsList let-item>
	<li
	    class="list-group-item ellipsis collective-processing-function-action"
	    id="collective-processing-function-{{ cleanStringForId(item.name) }}">
		<a (click)="executeAction(item)"
		   class="card-link"
		   tabindex="0"
		   aria-haspopup="true"
		   [pTooltip]="(item.description ?? item.name) | valueToSafeHtmlString"
		   [tooltipOptions]="tooltipDefaults">
			{{item.name}}
		</a>
		<div class="card-function-icon"><sup><span class="fa fa-fw fa-code"></span></sup></div>
	</li>
</ng-template>
