@import "../../../../styles";
@import "../detail-toolbar/detail-toolbar.component.css";

:host, :host .form-control {
	font-size: 0.8rem;
	margin-bottom: 15px;
}

:host {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

nuc-collective-processing {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

.collective-processing-header {
	max-width: 700px;
	font-size: 1rem;
	font-weight: 300;
}

.card-deck {
	margin: 5px;
	align-content: center;
	max-width: 700px;
}

.card {
	padding: 0;
}

.card-body {
	margin: 4px;
}

.card-function-icon {
	position: absolute;
	top: 0;
	right: 2px;
	text-align: right;
	color: gray;
}

.list-group-item a {
	text-decoration: none;
}
