
<div class="button-container hamburger-container nuclos-mobile">
	<button #hamburgerButton
	        id="favorite-filter-hamburger"
	        style="border: none;"
	        (click)="showDialog()"
	>
		<i class="fa fa-bars" aria-hidden="true"> </i>
		<span class="fas sr-only">{{'webclient.sideview.listfilter.title' | i18n}}</span>
	</button>
</div>
