@media (max-width: 540px) {
	.nuclos-desktop {
		display: none;
	}
	.nuclos-mobile {

	}
}

@media (min-width: 540px) {
	.nuclos-desktop {

	}
	.nuclos-mobile {
		display: none;
	}
}

i:hover {
	color: black;
	cursor: pointer;
}

:host {
	display: flex;
	align-items: center;
}
