<nuc-addon-executor
	[addonPosition]="'menu-bottom'"
	[entityClassId]="getMeta()?.getEntityClassId()"
></nuc-addon-executor>

<div id="toolbar" class="bg-faded">
	<div>
		<button
			*ngIf="!getMeta()?.displayAsListOnly()"
			class="btn btn-sm view-button-mainbar"
			pTooltip="{{'webclient.view.toggle' | i18n}}"
			[tooltipOptions]="tooltipDefaults"
			(click)="toggleLayoutDirection()">
			<i class="fas" [ngClass]="{'fa-grip-horizontal': !contentIsHorizontal, 'fa-grip-vertical': contentIsHorizontal}"></i>
		</button>
	</div>
	<nuc-view-preferences-config
		*ngIf="!sidebarShowExplorerTree"
		[mainbarButton]="true"
		[meta]="getMeta()"
		[selectedSideviewmenuPref$]="getSideviewmenuPrefSubject()"
	>
	</nuc-view-preferences-config>

	<nuc-search-bar *ngIf="!sidebarShowExplorerTree" [meta]="getMeta()"></nuc-search-bar>

	<nuc-perspective [activatedPerspective]="perspectiveService.getSelectedPerspective()"></nuc-perspective>
</div>

<nuc-addon-executor
	[addonPosition]="'content-top'"
	[entityClassId]="getMeta()?.getEntityClassId()"
></nuc-addon-executor>

<div id="content" [ngStyle]="{'flex-direction': contentIsHorizontal ? 'column' : 'row'}">
	<nuc-addon-executor
		[addonPosition]="'content-left'"
		[entityClassId]="getMeta()?.getEntityClassId()"
	></nuc-addon-executor>

	<!-- TODO: Use auxiliary routes for switching between sidebar components -->
	<div id="sidebar-container" class="navigation-container {{entityClassId}}">
		<nuc-sidebar
			#sidebar
			[meta]="getMeta()"
			[sideviewmenuPreference]="getSideviewmenuPref()"
			[horizontalMode]="contentIsHorizontal"
			[sidebarMode]="sidebarShowExplorerTree ? 'tree' : 'sidebar'"
			[selectedEo]="getSelectedEo()"
			[searchtemplatePreference]="getSearchtemplatePref()"
			[multiSelectionDisabled]="isMultiSelectionDisabled()"
			(onMultiSelectionChange)="multiSelectionChanged($event)"
			[collectiveProcessingAllowed]="collectiveProcessingAllowed"
		></nuc-sidebar>
	</div>

	<div id="collective-processing-container" *ngIf="isShowCollectiveProcessing() && !isSidebarMaximized()">
		<nuc-collective-processing
			(onMultiSelectionChange)="multiSelectionChanged($event)"
			(statusLine)="updateCollectiveProcessingStatus($event)">
		</nuc-collective-processing>
		<nuc-detail-statusbar [rightSideString]="collectiveProcessingStatusLine" [rightSideTitleString]="collectiveProcessingStatusLine"></nuc-detail-statusbar>
	</div>

	<div id="detail-container" class="{{entityClassId}}" *ngIf="!isShowCollectiveProcessing() && !isSidebarMaximized() && !getMeta()?.displayAsListOnly()">
		<nuc-addon-executor
			[addonPosition]="'detail-top'"
			[entityClassId]="getMeta()?.getEntityClassId()"
		></nuc-addon-executor>

		<nuc-detail
			[meta]="getMeta()"
			[eo]="getSelectedEo()"
			[canCreateBo]="canCreateBo()"
			[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
			[collectiveProcessing]="collectiveProcessing"
			(onBackToCollectiveProcessingClick)="setShowCollectiveProcessing(true)"
			(onDetailLayoutLoaded)="triggerLayoutLoaded()"
		></nuc-detail>

		<nuc-detail-statusbar [rightSideString]="changedByString" [rightSideTitleString]="createdByString">
		</nuc-detail-statusbar>

		<nuc-addon-executor
			[addonPosition]="'detail-bottom'"
			[entityClassId]="getMeta()?.getEntityClassId()"
		></nuc-addon-executor>
	</div>

	<nuc-addon-executor
		[addonPosition]="'content-right'"
		[entityClassId]="getMeta()?.getEntityClassId()"
	></nuc-addon-executor>
</div>

<nuc-addon-executor
	[addonPosition]="'content-bottom'"
	[entityClassId]="getMeta()?.getEntityClassId()"
></nuc-addon-executor>
