:host {
	display: flex;
	flex-flow: column;
	height: initial;
}

#toolbar {
	padding-left: 10px;
    background-image:linear-gradient(180deg, #cbe3ff 0%, #e3e3e3 25%);
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
	justify-content: space-between;
}

#content {
	flex: 1;
	display: flex;
	flex-direction: row;
	overflow: auto;
}

#content > #detail-container, #collective-processing-container {
	flex: 1;
	padding-left: 0px;

	display: flex;
	flex-direction: column;
	height: initial;
}

[mwlResizable] {
	position: relative;
	border: 1px solid lightgray;
}

nuc-explorertrees, nuc-view-preferences-config, nuc-search-bar {
	float: left;
}

.navigation-container {
	height: initial !important;
}

.view-button-mainbar {
	 margin-top: 4px;
	 margin-left: -1px;
	 vertical-align: 1px;
	 padding-top: 0px;
	 padding-right: 7px;
	 height: 22px;
	 border: 1px solid #80bbff;
	 border-radius: 2px;
	 background: #f5f8fa;
 }
