<div
	#sidebar
	id="sidebar"

	mwlResizable
	[enableGhostResize]="false"
	(resizing)="onResize($event)"
	(resizeEnd)="onResizeEnd($event)"
	[ngClass]="{'flex-column': horizontalMode, 'flex-row': !horizontalMode, 'border-right-custom': !horizontalMode, 'border-bottom': horizontalMode}"
	[ngStyle]="getVisualizationStyle()"
>
	<div class="flex-column overflow-hidden"
	     *ngIf="sidebarMode === 'sidebar'"
	     [ngStyle]="getVisualizationStyle(resizeWidth)">
		<div id="search-editor-container"
		     *ngIf="isSearchEditorFixedAndShowing()"
		     mwlResizable
		     [enableGhostResize]="false"
		     (resizing)="onResizeSearch($event)"
		     (resizeEnd)="onResizeEndSearch($event)">
			<nuc-search-editor id="search-editor"
			                   [searchAttributesContainerHeight]="getSearchAttributesContainerHeight()">
				>
			</nuc-search-editor>
			<div mwlResizeHandle id="search-editor-resize-handle"
			    [resizeEdges]="{bottom: true, right: false, top: false, left: false}">
				<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			</div>
		</div>

		<nuc-entity-object-grid
			id="sidebar-grid"
			[gridOptions]="gridOptions"
			[columns]="gridColumns"
			[sortModel]="sortModel"
			(rowSelected)="rowSelected($event)"
			(rowClicked)="rowClicked($event)"
			(gridReady)="gridReady()"
			(modelUpdated)="autoSizeColumnsForCardLayout()"
			[showMultiSelection]="showMultiSelection"
			[multiSelectionDisabled]="multiSelectionDisabled"
			(onMultiSelectionChange)="onMultiSelectionChange.emit($event)"
			[allowMultiRowSelection]="!multiSelectionDisabled"
			class="d-flex flex-grow-1"
		></nuc-entity-object-grid>

		<nuc-statusbar
			id="sidebar-statusbar"
			[meta]="getMeta()"
			[sideviewmenuPreference]="sideviewmenuPreference"
			[searchtemplatePreference]="searchtemplatePreference"
			*ngIf="sideviewmenuPreference"
			[sideviewMenuWidth]="getSidebarWidth()"
			(sideviewMenuWidthChange)="sidebarWidthChanged()"
			[sidebar]="this"
			[showCollectiveProcessingButton]="collectiveProcessingAllowed"
		></nuc-statusbar>
	</div>
	<nuc-side-explorer-tree id="explorer-tree"
	                        *ngIf="sidebarMode === 'tree'"
	                        class="d-flex flex-grow-1"
	                        style="min-width: 0; overflow: auto;"
	                        [selectedEo]="selectedEo"
	                        ></nuc-side-explorer-tree>
	<div class="d-flex flex-column justify-content-center" *ngIf="!displayAsListOnly">
		<nuc-resizehandledivider
			[dividerWidth]="resizeWidth"
			[resizeEdges]="{bottom: horizontalMode, right: !horizontalMode, top: false, left: false}"
		    [showLeftToggle]="true"
			[horizontal]="horizontalMode"
		    [showRightToggle]="true"
			(leftToggle)="resizeLeftMax()"
			(rightToggle)="resizeRightMax()">
		</nuc-resizehandledivider>
	</div>
</div>
