.content {
	display: table;
	width: 100%;
	height: 100%;
}

.output-container {
	display: table-row;
	height: 100%;
}

.output-wrapper {
	height: 100%;
	overflow-y: scroll;
	background-color: #eeeeee;
	border: 1px solid black;
	padding: 0px;
}

.output {
	height: 100%;
	padding: 0;
	font-size: 0.615rem;
	font-family: "Courier New", Courier, monospace;
	display: table;
	vertical-align: top;
}

.log-line {
	display: table-row;
	vertical-align: top;
	height: auto;
}

.log-cell {
	display: table-cell;
}

.log-number {
	white-space: nowrap;
	padding-right: 10px;
}

.log-date {
	white-space: nowrap;
	padding-right: 10px;
}

.log-level {
	padding-right: 10px;
}

.log-level-INFO {
	background-color: #ffffff
}

.log-level-DEBUG {
	background-color: #eeeeee;
}

.log-level-WARN {
	background-color: #ffeb6e;
}

.log-level-ERROR {
	background-color: #ff8f86;
}

.log-message {
	width: 100%;
}

.log-message.SQLLogger, .log-message.SQLTimer {
	color: cornflowerblue;
}

:host ::ng-deep .highlight {
	background: yellow;
}

.output-options {
	margin-top: 10px;
}

#clear-log.btn {
	margin-right: 10px;
}
