<div class="content">
	<nuc-server-log-options
		[(autoScroll)]="autoScroll"
		[(logLevel)]="logLevel"
		[(textFilter)]="textFilter"
		class="content-row"
	></nuc-server-log-options>

	<div class="output-container">
		<div class="output-wrapper">
			<div class="output">
				<div
					class="log-line"
					*ngFor="let message of messages | serverLogFilter: { message: textFilter, level: logLevel === 'ALL' ? '' : logLevel }; let last = last"
					[ngClass]="'log-level-' + message.level"
					pTooltip="{{message.loggerName}}"
					[tooltipOptions]="tooltipDefaults"
				>
					<div class="log-cell log-number">#{{message.counter}}</div>
					<div class="log-cell log-date">{{message.formattedDate}}</div>
					<div class="log-cell log-level">{{message.level}}</div>
					<div class="log-cell log-level"></div>
					<div class="log-cell log-message {{message.loggerName}}"
					     [innerHTML]="message.message | highlight: textFilter"></div>
					<nuc-is-last [isLast]="last" (onLastDone)="scrollOutput($event)"></nuc-is-last>
				</div>
				<div style="display: table-row; height: 100%"></div>
			</div>
		</div>
	</div>

	<div class="output-options form-inline">
		<div class="form-group">
			<button
				id="clear-log"
				(click)="messages = []"
				pTooltip="{{'webclient.serverInfo.log.clear.tooltip' | i18n}}"
				[tooltipOptions]="tooltipDefaults"
				class="btn btn-default">
				{{'webclient.serverInfo.log.clear' | i18n}}
			</button>

			<label for="line-limit">{{'webclient.serverInfo.log.messageLimit' | i18n}}</label>
			<input
				id="line-limit"
				type="text"
				[(ngModel)]="messageLimit"
				class="form-control col-md-2 mx-sm-3"
				pTooltip="{{'webclient.serverInfo.log.messageLimit.tooltip' | i18n}}"
				[tooltipOptions]="tooltipDefaults"
			/>
		</div>
	</div>

	<div class="form-group">
		<a [href]="getDownloadLink('server')" class="download">
			{{'webclient.serverInfo.log.download' | i18n:'server.log'}}
		</a>
	</div>
	<div class="form-group">
		<a [href]="getDownloadLink('stacktrace-business')" class="download">
			{{'webclient.serverInfo.log.download' | i18n:'stacktrace-business.log'}}
		</a>
	</div>
	<div class="form-group">
		<a [href]="getDownloadLink('stacktrace-internal')" class="download">
			{{'webclient.serverInfo.log.download' | i18n:'stacktrace-internal.log'}}
		</a>
	</div>

</div>
