<div class="ag-floating-filter-body">
	<div class="ag-floating-filter-input">
		<nuc-dropdown
			#dropdown
			id="{{colId}}"
			[ngModel]="model"
			(onSelect)="selectEntry($event)"
			[suggestions]="suggestions"
			[internalFiltering]="false"
			appendTo="body"
			dropdown="true"
			field="name">
		</nuc-dropdown>
	</div>
</div>
