<div class="toolbar"
	*ngIf="collectiveProcessing">
	<nuc-detail-toolbar-item class="toolbar-item">
		<div class="btn-group mr-2" role="group">
			<button
				id="backToDetails"
				class="btn btn-sm btn-success toolbar-item"
				[disabled]=true>
				{{'webclient.button.backToDetails' | i18n}}
			</button>
			<button
				id="backToCollectiveProcessing"
				class="btn btn-sm btn-success"
				(click)="onBackToCollectiveProcessingClick.emit()"
			>
				{{'webclient.button.backToCollectiveProcessing' | i18n}}
			</button>
		</div>
	</nuc-detail-toolbar-item>
</div>
<div class="toolbar"
	*ngIf="!collectiveProcessing">
	<div class="toolbar-items">
		<nuc-detail-buttons
			[eo]="eo"
			[canCreateBo]="canCreateBo"
			[autoSelectAfterSaveEnabled]="autoSelectAfterSaveEnabled"
			[autoSelectAfterDeleteEnabled]="autoSelectAfterDeleteEnabled"
			[useResultServiceForCancelation]="useResultServiceForCancelation"
			[showCancelForNewObject]="showCancelForNewObject"
			[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
			[modal]="modal"
		></nuc-detail-buttons>

		<ng-container *ngFor="let templateBtn of additionTemplateButtons">
			<ng-container *ngTemplateOutlet="templateBtn"></ng-container>
		</ng-container>

		<nuc-detail-toolbar-printout-item
			[eo]="eo"
		></nuc-detail-toolbar-printout-item>

		<nuc-detail-toolbar-state-item
			[eo]="eo"
			[modal]="modal"
		></nuc-detail-toolbar-state-item>

		<nuc-detail-toolbar-generation-item
			[eo]="eo"
			[modal]="modal"
		></nuc-detail-toolbar-generation-item>

		<nuc-detail-toolbar-chart-item
			[eo]="eo"
			[modal]="modal"
		></nuc-detail-toolbar-chart-item>
	</div>
	<div class="toolbar-status">
		<nuc-detail-toolbar-locking-item
			[eo]="eo"
			[modal]="modal"
		></nuc-detail-toolbar-locking-item>
	</div>
</div>
