.toolbar {
	margin-top: 14px; /* standard border in layout */
	margin-left: 14px;
	display: flex;
	flex-direction: row;
	min-height: 28px;
}

.toolbar-item {
}

.toolbar-items {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

nuc-detail-toolbar-state-item {
	margin-left: 1px;
}
