
#login-container {
	float: none;
	margin: 0px auto;
	margin-top: 30px;
}


#login-container .card-header {
	height: 45px
}

.form-group {
	margin-bottom: 0.1rem;
	display: flex;
	align-items: center;
}

#mandatorless-session-div {
	line-height: 1;
	margin-bottom: 10px;
}

#mandatorless-session {
	font-size: 0.8rem;
	text-decoration: none;
	text-align: left;
	line-height: 1.2;
}

#choose-mandator {
	width: 100%;
}

#sso-button-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

#more-settings-container {
	border-top-width: 0px;
}

.no-bottom-border {
	border-bottom-width: 0px;
}

.sso-button {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 4px;
	margin-right: 4px;
}

.sso-img-icon {
	align-self: center;
	margin-bottom: 4px;
	max-width:26px;
	max-height:26px;
	width: auto;
	height: auto;
}

.sso-fa-icon {
	align-self: center;
	margin-bottom: 4px;
}

.sso-button-label {
	align-self: center;
}
