<div class="row" *ngIf="showRichClientCompleted">
	<h3 class="col-md-12 text-center mt-3">{{'webclient.login.richClientCompleted.title' | i18n}}</h3>
</div>

<div class="row" *ngIf="showRichClientCompleted">
	<div class="col-md-12 text-center mb-4">
		{{'webclient.login.richClientCompleted.message' | i18n}}
	</div>
</div>

<div
	class="card mx-auto p-0"
	id="login-container"
	[ngClass]="{'mandator-selection' : showMandatorForm, 'col-8': showMandatorForm, 'col-5': !showMandatorForm,
				'no-bottom-border': showDataLanguages && !showMandatorForm}"
>
	<div class="card-header">
		<h4 align=middle>{{'webclient.nosession.login.title' | i18n}}</h4>
	</div>
	<div
		class="card-body container"
	>
		<div>
			<div *ngIf="showSso" id="sso-button-container">
				<a *ngFor="let ssoAuthEndpoint of getSsoAuthEndpoints()"
				   class="btn sso-button"
					   (mouseover)="ssoAuthEndpoint.style.hover=true" (mouseleave)="ssoAuthEndpoint.style.hover=false"
					   [ngStyle]="{
					        color: ssoAuthEndpoint.style.hover==true ? ssoAuthEndpoint.style.lightColor : ssoAuthEndpoint.style.darkColor,
					        backgroundColor: ssoAuthEndpoint.style.hover==true ? ssoAuthEndpoint.style.darkColor : ssoAuthEndpoint.style.lightColor,
					        borderColor: ssoAuthEndpoint.style.darkColor
					   }"
					   (click)="ssoAuth(ssoAuthEndpoint.ssoAuthId)"
					>
					<img *ngIf="ssoAuthEndpoint.imageIcon !== undefined"
					     class="sso-img-icon"
					     [src]="ssoAuthEndpoint.imageIcon" />
					<i *ngIf="ssoAuthEndpoint.imageIcon === undefined && ssoAuthEndpoint.faIcon !== undefined"
					   class="fa fa-2x sso-fa-icon"
					   [ngClass]="ssoAuthEndpoint.faIcon"></i>
					<span class="sso-button-label">{{ssoAuthEndpoint.label}}</span>
				</a>
			</div>
			<hr *ngIf="showSso && (showPasswordBasedLogin || errorMessage)">

			<div *ngIf="errorMessage" class="alert alert-danger mb-3" role="alert">
				{{errorMessage | i18n}}
			</div>

			<form id="login-form" (submit)="login()">
				<div class="form-group row" *ngIf="showPasswordBasedLogin">
					<label for="username" class="col-md-4 col-form-label">
						{{'webclient.nosession.txtfield.username' | i18n}}
					</label>
					<div class="col-md-8">
						<input
							#usernameInput
							id="username"
							name="username"
							type="text"
							class="form-control form-control-sm"
							placeholder="{{'webclient.nosession.txtfield.username' | i18n}}"
							[(ngModel)]="username"
							[disabled]="!loginFormEnabled"
						>
					</div>
				</div>

				<div class="form-group row" *ngIf="showPasswordBasedLogin">
					<label for="password" class="col-md-4 col-form-label">
						{{'webclient.nosession.txtfield.password' | i18n}}
					</label>
					<div class="col-md-8">
						<input
							#passwordInput
							id="password"
							name="password"
							type="password"
							class="form-control form-control-sm"
							[(ngModel)]="password"
							[disabled]="!loginFormEnabled"
						>
					</div>
				</div>

				<div class="form-group row" *ngIf="showPasswordBasedLogin">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<div class="form-check">
							<label class="form-check-label text-nowrap">
								<input id="autologin"
									name="autologin"
									type="checkbox"
									class="form-check-input"
									[(ngModel)]="autologin"
									[disabled]="!loginFormEnabled"
								>
								{{'webclient.nosession.checkbox.autologin' | i18n}}
							</label>
						</div>
					</div>
				</div>

				<div class="form-group row" *ngIf="showPasswordBasedLogin && !showMandatorForm">
					<div class="col-md-4"></div>
					<div class="col-md-8 d-grid">
						<button class="btn btn-primary btn-sm"
							type='submit'
							id='submit'
							value='Submit'>
							{{'webclient.nosession.button.signin' | i18n}}
						</button>
					</div>
				</div>


				<div class="form-group row" *ngIf="showMandatorForm">
					<label for="username" class="col-md-4 col-form-label">
						{{'webclient.mandator' | i18n}}
					</label>
					<div class="col-md-8">
						<select
							id="choose-mandator"
							class="form-select form-select-sm"
							name="choose-mandator"
							[(ngModel)]="selectedMandatorId"
						>
							<option
								*ngFor="let mandator of loginInfo.mandators"
								value="{{mandator.mandatorId}}"
							>{{mandator.path}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row" *ngIf="showMandatorForm && showMandatorlessSessionButton">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<div id="mandatorless-session-div">
							<button
								id="mandatorless-session"
								(click)="mandatorlessSession()"
								class="btn-link"
							>
								{{'webclient.button.mandator.mandatorlessSession' | i18n}}
							</button>
						</div>
					</div>

				</div>
				<div class="form-group row" *ngIf="showMandatorForm">

					<div class="col-md-4"></div>
					<div class="col-md-8 d-grid">
						<button class="btn btn-primary btn-sm"
							type='submit'
							id='choose-mandator-button'
							value='Submit'
							(click)="selectMandator()"
						    [disabled]="selectedMandatorId === undefined"
						>
							{{'webclient.button.ok' | i18n}}
						</button>
					</div>
				</div>

				<div *ngIf="showRegistrationLink" class="form-group row mt-3">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						{{'webclient.account.noaccountyet' | i18n}}
						<br/>
						<a [routerLink]="['/account/register']">
							{{'webclient.account.registerhere' | i18n}}
						</a>
					</div>
				</div>

				<div *ngIf="showForgotLoginDetailsLink" class="form-group row mt-3">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<a id="forgot-login-details-link" [routerLink]="['/account/forgotLoginDetails']">
							{{'webclient.account.forgotLoginDetails' | i18n}}
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div
	*ngIf="showDataLanguages && !showMandatorForm"
	class="card mx-auto col-5"
	id="more-settings-container"
>
	<div class="card-footer">
		<h6 align=middle>{{'webclient.more.settings' | i18n}}</h6>
		<div>
			<div *ngIf="showDataLanguages" class="form-group row" id="datalanguages-container">
				<label for="datalanguage" class="col-md-4 col-form-label">
					{{'webclient.datalanguage' | i18n}}
				</label>
				<div class="col-md-8">
					<select
						id="datalanguage"
						class="form-select form-select-sm"
						name="datalanguage"
						[(ngModel)]="selectedDataLanguageId"
					>
						<option
							*ngFor="let datalanguage of dataLanguages"
							[value]="datalanguage.datalanguage"
						>{{datalanguage.datalanguageLabel}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
