:host {
	display: flex;
	flex: 1;
}

progress {
	height: 16px;
	flex: 1;
}

.progress-label {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 0.75rem;
	position: absolute;
	top: 0;
	text-shadow: 0 0 3px black;
}
