<progress class="progress progress-striped progress-animated"
          [value]="progress"
          [max]="maxProgress">
</progress>

<div class="progress-label text-center mx-auto">
	{{progress}} %
</div>