<div
	pTooltip="{{'webclient.subform.button.newRow' | i18n}}"
	[tooltipOptions]="tooltipDefaults"
	*ngIf="matrix.isNewVisible()"
>
	<button
		class="btn btn-small new-subbo"
		(click)="matrix.newEntry()"
		[disabled]="!matrix.isNewEnabled()"
	>
		<i class="fa fa-plus" aria-hidden="true"></i>
		<span class="fas sr-only">{{'common.button.add' | i18n}}</span>
	</button>
</div>
<div
	pTooltip="{{'webclient.subform.button.deleteSelectedRows' | i18n}}"
	[tooltipOptions]="tooltipDefaults"
	*ngIf="matrix.isDeleteVisible()"
>
	<button
		class="btn btn-small delete-selected-subbos"
		(click)="matrix.deleteSelected()"
		[disabled]="!matrix.isDeleteEnabled()"
	>
		<i class="fa fa-trash" aria-hidden="true"></i>
		<span class="fas sr-only">{{'common.button.delete' | i18n}}</span>
	</button>
</div>
