<div class="modal-header">
	<h5 class="modal-title">{{meta.getEntityName()}} </h5>
	<button type="button" class="btn-close" data-dismiss="modal" [attr.aria-label]="'common.close' | i18n" (click)="close()">
	</button>
</div>
<div class="modal-body">

	<div id="accordion" role="tablist" aria-multiselectable="true">

		<div class="card" *ngIf="showViewTypeConfig()">
			<div class="card-header" role="tab" id="heading-viewtype-config">
				<h5 class="mb-0">
					<a id="viewtype-preferences-header" data-bs-toggle="collapse" data-parent="#accordion" href="#collapse-viewtype-config" aria-expanded="true"
					   aria-controls="collapse-viewtype-config">
						{{'webclient.sidebar.viewtype' | i18n}}
					</a>
				</h5>
			</div>

			<div id="collapse-viewtype-config" class="collapse in show" role="tabpanel"
			     aria-labelledby="heading-viewtype-config">
				<div class="card-body">
					<form class="form-inline">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
										<label
											class="btn btn-primary active"
											[ngClass]="{active: viewtype === 'table'}"
											(click)="setViewtype('table')"
										>
											<input type="radio" name="options" id="table" class="btn-check" autocomplete="off" > {{'webclient.sideview.columns' | i18n}}
										</label>
										<label
											class="btn btn-primary"
											[ngClass]="{active: viewtype === 'card'}"
											(click)="setViewtype('card')"
										>
											<input type="radio" name="options" id="card" class="btn-check" autocomplete="off"> {{'webclient.sideview.titleinfo' | i18n}}
										</label>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header" role="tab" id="headingColumnConfig">
				<h5 class="mb-0">
					<a id="column-preferences-header" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseColumnConfig" aria-expanded="true"
					   aria-controls="collapseColumnConfig">
						{{'webclient.sideview.columns' | i18n}}
					</a>
				</h5>
			</div>

			<div id="collapseColumnConfig" class="collapse in show" role="tabpanel"
			     aria-labelledby="headingColumnConfig">
				<div class="card-body">

					<form class="form-inline">

						<div class="row">
							<div class="col-6 mb-3">
								<input
									id="sideviewmenu-name-input"
									*ngIf="selectedSideviewmenuPreference && editSideviewmenu"
									type="text"
									class="form-control form-control-sm"
									placeholder="{{'webclient.preferences.type.sideviewmenu' | i18n}}"
									name="prefName"
									[(ngModel)]="selectedSideviewmenuPreference.name"
									(ngModelChange)="handleNameChange(selectedSideviewmenuPreference)"
								>
								<select
									#sideviewmenuSelector
									id="sideviewmenu-selector"
									*ngIf="!editSideviewmenu"
									name="prefSelector"
									[(ngModel)]="selectedSideviewmenuPreference"
									(ngModelChange)="selectSideviewmenu(selectedSideviewmenuPreference)"
									class="form-control form-control-sm"
								>
									<option value="" disabled>{{'webclient.preferences.select' | i18n}}</option>
									<option *ngFor="let pref of sideviewmenuPreferences" [ngValue]="pref">
										{{ pref.name }}
										<span *ngIf="pref.shared && !pref.customized">({{'webclient.preferences.shared' | i18n}})</span>
										<span *ngIf="pref.customized">({{'webclient.preferences.customized' | i18n}})</span>
									</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<div class="icons" *ngIf="allowSidebarCustomization">
									<a
										id="new-sideviewmenu"
										*ngIf="!editSideviewmenu"
										class="sideviewmenu-icon"
										(click)="newSideviewmenuPref()"
										pTooltip="{{'webclient.sideviewmenu.new' | i18n}}"
										[tooltipOptions]="tooltipDefaults"
									>
										<span class="fa fa-plus fa-fw"></span>
									</a>
									<a
										id="edit-sideviewmenu"
										class="sideviewmenu-icon"
										(click)="editSideviewmenuPref()"
										*ngIf="selectedSideviewmenuPreference && !editSideviewmenu"
										pTooltip="{{'webclient.sideviewmenu.edit' | i18n}}"
										[tooltipOptions]="tooltipDefaults"
									>
										<span class="fa fa-pencil fa-fw"></span>
									</a>
									<a
										id="save-sideviewmenu"
										class="sideviewmenu-icon"
										(click)="editSideviewmenuPrefDone()"
										*ngIf="editSideviewmenu"
									>
										<span class="fa fa-check fa-fw"></span>
									</a>
									<a
										id="discard-sideviewmenu"
										class="sideviewmenu-icon"
										(click)="discardSideviewmenuPref()"
										*ngIf="selectedSideviewmenuPreference && selectedSideviewmenuPreference.customized"
										pTooltip="{{'webclient.sideviewmenu.discard' | i18n}}"
										[tooltipOptions]="tooltipDefaults"
									>
										<span class="fa fa-undo fa-fw"></span>
									</a>
									<a
										id="reset-sorting"
										*ngIf="showResetSortingButton"
										class="sideviewmenu-icon"
										(click)="resetSorting()"
										pTooltip="{{'webclient.sideviewmenu.reset.sorting' | i18n}}"
										[tooltipOptions]="tooltipDefaults"
									>
										<span class="fa fa-sort-amount-asc fa-fw"></span>
									</a>
									<div class="sideviewmenu-icon-spacer"></div>
									<a
										id="delete-sideviewmenu"
										class="sideviewmenu-icon"
										(click)="deleteSideviewmenuPref()"
										*ngIf="showDeleteSideviewmenuPref()"
										pTooltip="{{'webclient.sideviewmenu.delete' | i18n}}"
										[tooltipOptions]="tooltipDefaults"
									>
										<span class="fa fa-trash fa-fw"></span>
									</a>
								</div>
							</div>
							<div class="col-12" *ngIf="allowSidebarCustomization">
								<div id="sideviewmenu-columns-config" class="form-group">
									<nuc-two-side-multi-select
										[list]="sideviewmenuColumns"
										(onChange)="sideviewmenuColumnsChanged(true)"
										[availableHeaderKey]="'viewPreferences.availableColumnsHeader'"
										[selectedHeaderKey]="'viewPreferences.selectedColumnsHeader'"
									>
									</nuc-two-side-multi-select>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>
<div class="modal-footer">
	<button id="button-ok" type="button" class="btn btn-primary" (click)="save()">{{ 'webclient.button.ok' | i18n }}
	</button>
</div>
