a {
	cursor: pointer;
}

:host ::ng-deep .view-preferences-button {
    margin-top: 3px;
    padding: 0px;
    width: 24px;
    height: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: none;
}

:host ::ng-deep .btn:focus {
	border: 1px solid;
}

:host ::ng-deep .view-preferences-button-mainbar {
    margin-top: 4px;
    margin-left: -1px;
    vertical-align: 1px;
    padding-top: 0px;
    padding-right: 7px;
    height: 22px;
    border: 1px solid #80bbff;
    border-radius: 2px;
    background: #f5f8fa;
}
