.card-header a {
	text-decoration: none;
}

.icons a {
	margin-right: 1px;
}

.card-body .form-group {
	margin-bottom: 10px;
}

.sideviewmenu-icon span {
	color: #337ab7;
	cursor: pointer;
}

.sideviewmenu-icon-spacer {
	width: 16px;
	height: auto;
	display: inline-block;
}

#delete-sideviewmenu span {
	color: #d9534f;
}

#reset-sorting span {
	color: #fd770a;
}

#new-sideviewmenu span {
	color: #5cb85c;
}

#sideviewmenu-columns-config {
	width: 100%;
}

.row {
	width: 100%;
}
