<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card mt-5" id="forgot-login-details-container">
				<div class="card-header">
					<h4 align=middle>{{'webclient.account.forgotLoginDetails' | i18n}}</h4>
				</div>
				<div class="card-body">
					<div>

						<div *ngIf="hasMessage()" class="row">
							<div class="col-md-12 text-center">
								<div [class]="'alert alert-' + messageType">
									<b>{{messageTitle}}</b><br/>
									{{messageText}}
								</div>
							</div>
						</div>

						<div *ngIf="showLoginLink" class="row">
							<div class="col-md-12 text-center">
								<a routerLink="/login">
									{{'webclient.account.forgotLoginDetails.backToLogin' | i18n}}
								</a>
							</div>
						</div>

						<div *ngIf="showForm" class="container-fluid">
							<form name="forgotLoginDetails" (ngSubmit)="onSubmit()">

								<div class="form-group row">
									<label class="col-md-6 pl-0">
										{{'webclient.account.forgotLoginDetails.what' | i18n}}
									</label>
									<div class="col-md-6 pl-0">
										<input
											id="radioUsername"
											type="radio"
											name="what"
											value="username"
											[(ngModel)]="what"
										/>

										<label for="radioUsername">
										{{'webclient.account.username' | i18n}}
										</label>
										<br/>
										<input
											id="radioPassword"
											type="radio"
											name="what"
											value="password"
											[(ngModel)]="what"
										/>
										<label for="radioPassword">
										{{'webclient.account.password' | i18n}}
										</label>
									</div>
								</div>

								<div
									*ngIf="what === 'username'"
									class="form-group row"
								>
									<label for="email" class="col-md-6 pl-0">
										{{'webclient.account.forgotLoginDetails.email' | i18n}}
									</label>
									<input id="email"
										class="form-control form-control-sm col-md-6"
										type="email"
										name="email"
										[(ngModel)]="email"
									/>
								</div>

								<div
									*ngIf="what === 'password'"
									class="form-group row"
								>
									<label for="username" class="col-md-6 pl-0">
										{{'webclient.account.forgotLoginDetails.username' | i18n}}
									</label>
									<input id="username"
										class="form-control form-control-sm col-md-6"
										type="text"
										name="username"
										[(ngModel)]="username"
									/>
								</div>

								<div class="form-group row float-right">
									<button
										[disabled]="!canSubmit()"
										class="btn btn-primary from-control"
										type="submit"
									>
										{{'webclient.button.submit' | i18n}}
									</button>
									<button class="btn btn-danger from-control" (click)="cancel()">
										{{'webclient.button.cancel' | i18n}}
									</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
