:host, :host .form-control {
    font-size: 0.75rem;
}

#text-search-container, .searchtemplate-item {
    float: left;
}

#text-search-container {
	float: left;
	margin-right: 12px;
	margin-bottom: 4px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	display: inline-block;
}

#text-search-input {
    margin-top: 4px;
    width: 188px;
    padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px;
	border-top: 1px solid #80bbff;
	border-right: 1px solid #80bbff;
	border-bottom: 1px solid #80bbff;
	border-radius: 2px;
	background: #f5f8fa;
}

.clear-searchfilter {
	position: absolute;
	top: 9px;
	right: 4px;
	color: lightgrey;
}

.clear-searchfilter:hover {
	color: black;
}
