<span id="text-search-container">
	<input
		#textSearchInput
		(keydown.enter)="doTextSearch(textSearch,true)"
		(ngModelChange)="doTextSearch($event)"
		[disabled]="isDisabled()"
		[ngModelOptions]="{standalone: true}"
		[ngModel]="textSearch"
		[placeholder]="getPlaceholder()"
		class="form-control"
		id="text-search-input"
	>
	<i
		(click)="textSearch = ''; doTextSearch(textSearch, true);"
		(keydown.enter)="textSearch = ''; doTextSearch(textSearch, true);"
		*ngIf="textSearch"
		tabindex="0"
		aria-hidden="true"
		class="fa fa-remove clear-searchfilter"
	></i>
	<span class="fas sr-only"
	      *ngIf="textSearch"
	      (click)="textSearch = ''; doTextSearch(textSearch, true);"
	>{{'common.button.delete' | i18n}}</span>
</span>
