<nuc-chart-filter
	[eoChart]="eoChart"
></nuc-chart-filter>

<div *ngIf="loading">{{'common.loading' | i18n}}</div>
<div *ngIf="isConfigurationValid()" [id]="chartId"></div>
<div *ngIf="!isConfigurationValid()" class="alert alert-danger" role="alert">
	{{'webclient.charts.warning.invalidChartConfig' | i18n}}
</div>

<!-- For testing -->
<input type="hidden" id="chartDataCount" [value]="getChartDataCount()"/>
<input type="hidden" id="chartSeriesCount" [value]="getChartSeriesCount()"/>
