<nuc-detail-toolbar-item
	*ngIf="hasVisibleButtons()"
	class="toolbar-item"
>
	<button
		id="selectEntryInOtherWindow"
		class="btn btn-sm btn-success"
		*ngIf="showReferenceSelectionButton"
		(click)="selectThisEoInOtherWindow()"
	>
		<i class="fa fa-fw fa-check" aria-hidden="true" pTooltip="{{'webclient.button.selectEntryInOtherWindow' | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
		<span class="fas sr-only">{{'webclient.button.selectEntryInOtherWindow' | i18n}}</span>
	</button>

	<div *ngIf="!showReferenceSelectionButton">

        <div id="mandatorSelection" *ngIf="showMandatorSelection">
	        <button id="choose-mandator-cancel" class="btn btn-sm btn-warning" (click)="chooseMandatorCancel()">
		        <i pTooltip="{{'webclient.button.cancel' | i18n}}" [tooltipOptions]="tooltipDefaults" class="fa fa-fw fa-remove" aria-hidden="true"></i>
		        <span class="fas sr-only">{{'webclient.button.cancel' | i18n}}</span>
	        </button>
	        <div class="dropdown mandator-container">
		        <button class="btn btn-secondary btn-sm dropdown-toggle"
		                data-bs-toggle="dropdown"
		                aria-haspopup="true"
		                aria-expanded="false"
		        >
			        {{mandatorLabel}}
		        </button>
		        <div class="dropdown-menu">
			        <a class="dropdown-item"
			           tabindex="0"
			           aria-haspopup="true"
			           href="{{'#' | current_href}}"
			           [ngStyle]="{'border-right': '0.4rem solid ' + (mandator.color ?? '#fff')}"
			           *ngFor="let mandator of mandators"
			           (click)="selectMandator(mandator)"
			        >
				        {{mandator.path}}
			        </a>
		        </div>
	        </div>
        </div>

        <div *ngIf="!showMandatorSelection"
            class="d-flex"
			#popover
			data-bs-container="body"
			data-bs-toggle="popover"
			data-bs-placement="bottom"
			data-bs-trigger="manual"
			[attr.data-bs-title]="'webclient.master.dirty.popover.title' | i18n"
			[attr.data-bs-content]="'webclient.master.dirty.popover.text' | i18n"
		>

			<ng-container *ngFor="let button of buttons">
				<button
					*ngIf="button.isVisible(eo)"
					[disabled]="!button.isEnabled(eo)"
					[id]="button.id"
					[class]="button.buttonCssClass"
					(click)="button.action(eo)"
					(blur)="button.blur && button.blur()"
				>
					<i [class]="button.iconCssClass" aria-hidden="true" pTooltip="{{button.labelKey | i18n}}" [tooltipOptions]="tooltipDefaults"></i>
					<span class="fas sr-only">{{button.labelKey | i18n}}</span>
				</button>
			</ng-container>
	        <nuc-addon-executor
		        [addonPosition]="'detail-toolbar'"
		        [entityClassId]="entityClassId"
	        ></nuc-addon-executor>
        </div>
	</div>
</nuc-detail-toolbar-item>

<!-- For testing purposes -->
<input type="hidden" name="isDirty" [value]="!!eo?.isDirty()"/>
<input type="hidden" name="id" [value]="eo?.getId()"/>
