a {
	cursor: pointer;
}

/* Button size must be fixed or we have different sized buttons because of different font sizes. */
button {
	padding: 0;
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
	font-size: 1.125rem;
}

button i {
	width: 100%;
	height: 100%;
}

#newEO {
	padding-top: 1px;
}

/* Font of the cancel-button must be a bit bigger, because the eraser icon is too small. See NUCLOS-5715 */
#cancelEO {
	padding: 0;
	font-size: 1.375rem;
}

#mandatorSelection {
	display: flex;
}

div.mandator-container button {
	width: 100%;
	max-width: 100%;
	padding: 0.25rem;
}

nuc-addon-executor {
	margin-left: 1px;
}

.fa-times {
	font-size: large;
}
