<nuc-news-route></nuc-news-route>

<nuc-css-from-systemparameter></nuc-css-from-systemparameter>
<nuc-css-from-nucletextension></nuc-css-from-nucletextension>

<ng-template ngbModalContainer></ng-template>


<div aria-live="assertive">
	<ng-container [ngSwitch]="busy">
		<ng-container *ngSwitchCase="true">
			<span class="sr-only" role="status">{{'common.loading.start' | i18n}}</span>
		</ng-container>
		<ng-container *ngSwitchCase="false">
			<span class="sr-only" role="status">{{'common.loading.end' | i18n}}</span>
		</ng-container>
	</ng-container>
</div>

<ngx-loading
	[show]="busy"
	[config]="{
			fullScreenBackdrop: true,
			animationType: loadingAnimationType,
	        backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
	        primaryColour: '#ffffff',
	        secondaryColour: '#ffffff',
	        tertiaryColour: '#ffffff'
        }"
></ngx-loading>

<header>
	<nuc-cookie-disclaimer></nuc-cookie-disclaimer>

	<nuc-menu></nuc-menu>
</header>
<main>
	<div id="center">
		<router-outlet></router-outlet>
	</div>
</main>


