<div class="planning-time-header"
     style="position: absolute"
     [style.left]="(viewConfiguration.tableAlignment == 1) ? (start) * viewConfiguration.baseTimeUnitCellSize + 'px' : 0"
     [style.top]="(viewConfiguration.tableAlignment == 0) ? (start) * viewConfiguration.baseTimeUnitCellSize + 'px' : 0"
     [style.width]="(viewConfiguration.tableAlignment == 0) ? '100%' : (viewConfiguration.baseTimeUnitCellSize * (end - start)) + 'px'"
     [style.height]="(viewConfiguration.tableAlignment == 1) ? '100%' : (viewConfiguration.baseTimeUnitCellSize * (end - start)) + 'px'"
>
	<div class="p-element" style="z-index: 0; position: absolute; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
		<span class="time-unit-label" style="white-space: nowrap; font-size: 0.75rem;">{{label}}</span>
	</div>
	<div
		class="resize-handle-y"
		*ngIf="(viewConfiguration.tableAlignment == 0)"
		>
	</div>
	<div
		class="resize-handle-x"
		*ngIf="(viewConfiguration.tableAlignment == 1)"
		>
	</div>
</div>
