.planning-time-header {
	outline: 1px groove #DDDDDD;
	box-shadow: rgba(0, 0, 0, 0.15) 0px -50px 36px -28px inset;
	background-color: white;
	justify-content: center;
	z-index: 1;
	position: absolute;
	overflow: hidden;
}

.resize-handle-x {
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	width: 5px;
	height: 100%;
	z-index: 2;
	cursor: ew-resize;
}

.resize-handle-y {
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0;
	z-index: 2;
	cursor: ns-resize;
}

