.fileupload-container {
	border: none !important;
}

.fileupload-container[disabled] {
	border-style: none !important;
	background: none !important;
}

.fileupload-container.disabled {
	border-style: none !important;
	background: none !important;
}

.fa-lg {
	font-size: inherit;
	line-height: inherit;
	vertical-align: inherit;
}

img.image {
	height: 23px;
	padding-bottom: 2px;
}

