:host ::ng-deep .nav-tabs {
	overflow: unset !important;
}

:host ::ng-deep .tab-content {
	display: flex;
	overflow: auto;
}

:host ::ng-deep .tab-pane {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
