<nuc-tab-bar
	[values]="dashboards"
	[ngModel]="dashboard"
	(ngModelChange)="selectDashboard($event)"
	[canAdd]="!viewonly"
	[contentTemplate]="contentTemplate"
	[titleTemplate]="titleTemplate"
	[idForAdd]="'newDashboard'"
	(addValue)="createNew()"
></nuc-tab-bar>


<ng-template
	#titleTemplate
	let-dashboard="value"
	let-index="index"
>
	<div
		class="dashboard-tab-title"
		[attr.index]="index"
	>
		{{dashboard?.name || 'Dashboad ' + (index+1)}}
	</div>
</ng-template>

<ng-template
	#contentTemplate
	let-dashboard="value"
>
	<div class="p-1 d-flex">
		<div *ngIf="configMode">
			{{'webclient.dashboard.config.info' | i18n}}
		</div>

		<div *ngIf="!viewonly" class="ms-auto d-flex">
			<div *ngIf="dashboard.customized" class="ms-2">
				<a name="reset-dashboard" (click)="resetDashboard()">
					<i class="fa fa-undo" pTooltip="{{'webclient.dashboard.reset' | i18n}}" [tooltipOptions]="tooltipPositionLeft"></i>
				</a>
			</div>

			<div *ngIf="!configMode" class="ms-2">
				<a name="toggle-config" (click)="toggleConfig()">
					<i class="fa fa-cog" pTooltip="{{'webclient.dashboard.config' | i18n}}" [tooltipOptions]="tooltipPositionLeft"></i>
				</a>
			</div>

			<div *ngIf="configMode && !dashboard.shared" class="ms-2">
				<a name="delete-dashboard" (click)="deleteDashboard()">
					<i class="fa fa-trash" pTooltip="{{'webclient.dashboard.delete' | i18n}}" [tooltipOptions]="tooltipPositionLeft"></i>
				</a>
			</div>

			<div *ngIf="configMode" class="ms-2">
				<a name="toggle-config" (click)="toggleConfig()">
					<i class="fa fa-sign-out-alt ml-2" pTooltip="{{'webclient.dashboard.config.exit' | i18n}}" [tooltipOptions]="tooltipPositionLeft"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="row h-100 nopadding">
		<!--
	TODO: A Bootstrap grid should be used here, but Gridster is not usable from within it.
	Maybe an update to Angular 6 and a newer Gridster version can fix it.
	-->
		<div
			[ngClass]="configMode ? 'col-md-9' : 'col-md-12'"
			class="nopadding"
			style="min-height: 300px">
			<nuc-dashboard-grid
				[dashboard]="dashboard"
				[configMode]="configMode"
				(configurationChange)="saveDashboard()"
			></nuc-dashboard-grid>
		</div>
		<nuc-dashboard-config
			class="col-md-3"
			(configurationChange)="saveDashboard()"
			*ngIf="configMode"
			[dashboard]="dashboard"
			[itemsChanged]="itemsChanged"
		></nuc-dashboard-config>
	</div>
</ng-template>
