<nuc-modal-dialog
	[title]="titleLangKey | i18n"
	[footerTemplate]="footer"
>
	<div class="row">
		<div *ngIf="printouts && printouts.length == 1 && printouts[0].outputFormats.length == 1 && (!printouts[0].outputFormats[0].parameters || printouts[0].outputFormats[0].parameters.length == 0)" style="margin-bottom: 5px">{{'webclient.modal.printouts.popupsblocked' | i18n}}</div>
		<div *ngIf="!printoutExecuted">
			<div *ngFor="let printout of printouts" class="printout-item">
				<h6>{{printout.name}}</h6>
				<div *ngFor="let outputFormat of printout.outputFormats">
					<div *ngIf="!printoutExecuted">
						<input type="checkbox" [(ngModel)]="outputFormat.selected"
						       id="{{outputFormat.outputFormatId}}" class="output-format-checkbox" (click)="toggleOutputFormat(outputFormat)">
						<label for="{{outputFormat.outputFormatId}}" class="output-format-label">{{outputFormat.name}}</label>
						<ng-container *ngIf="outputFormat.selected">
							<div *ngFor="let param of outputFormat.parameters" class="form-inline output-format-parameter">
								<label for="{{outputFormat.outputFormatId + ':' + param.parameter}}" class="col-sm-5 form-label">{{param.name}}</label>
								<div [class]="!param.vlp ? 'col-sm-5' : 'col-sm-11'">
									<ng-container *ngIf="!param.vlp">
										<div [ngSwitch]="param.type" class="input-wrapper">
											<input
												*ngSwitchCase="'String'"
												type="text"
												[(ngModel)]="param.value"
												[ngClass]="!param.nullable && !param.value ? 'nuc-validation-missing' : ''"
												class="form-control form-control-sm"
												name='{{outputFormat.outputFormatId + ":" + param.parameter}}'
												id='{{outputFormat.outputFormatId + ":" + param.parameter}}'>

											<input
												*ngSwitchCase="'Boolean'"
												type="checkbox"
												[(ngModel)]="param.value"
												class="form-control-checkbox"
												name='{{outputFormat.outputFormatId + ":" + param.parameter}}'
												id='{{outputFormat.outputFormatId + ":" + param.parameter}}'>

											<input
												*ngIf="param.type=='Number' || param.type=='Decimal'"
												type="number"
												[(ngModel)]="param.value"
												[ngClass]="!param.nullable && !param.value ? 'nuc-validation-missing' : ''"
												class="form-control form-control-sm"
												name='{{outputFormat.outputFormatId + ":" + param.parameter}}'
												id='{{outputFormat.outputFormatId + ":" + param.parameter}}'
											>

											<nuc-printout-datechooser
												*ngSwitchCase="'Date'"
												[param]="param"
												[outoutFormatId]="outputFormat.outputFormatId"
											>
											</nuc-printout-datechooser>
										</div>
									</ng-container>

									<ng-container *ngIf="param.vlp">
										<div class="lov input-wrapper">
											<nuc-dropdown
												#autoComplete
												[(ngModel)]="param.value"
												[ngClass]="!param.nullable && !param.value ? 'nuc-validation-missing' : ''"
												[suggestions]="lovEntries"
												(completeMethod)="autocomplete(param, outputFormat, $event.query)"
												(onDropDownClick)="showAllEntries(param, outputFormat)"
												[dropdown]="true"
												field="name"
												id='{{outputFormat.outputFormatId + ":" + param.parameter}}'
											></nuc-dropdown>
										</div>

									</ng-container>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="printoutExecuted">
			<div *ngFor="let printout of printoutsExecuted" class="printout-item">
				<h6>{{printout.name}}</h6>
				<div *ngFor="let outputFormat of printout.outputFormats">
					<label class="output-format-label">{{outputFormat.name}}</label>
					<div *ngIf="outputFormat.fileName" style="margin-left: 5px">
						<span class="fa fa-file"></span>
						<a href="{{outputFormat.links.file.href}}" target="_blank" class="printout-downoload-link">
							{{outputFormat.fileName}}
						</a>
					</div>
					<div *ngIf="!outputFormat.fileName" style="margin-left: 5px">
						<span>{{'webclient.modal.printouts.printed' | i18n}}</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</nuc-modal-dialog>

<ng-template #footer>
	<button
		*ngIf="!printoutExecuted"
		id="execute-printout-button"
		class="btn btn-primary nuc-button"
		[disabled]="!executeButtonEnabled(printouts)"
		(click)="executePrintout()"
	>{{'webclient.button.printouts.execute' | i18n}}
	</button>
	<button *ngIf="!printoutExecuted" class="btn btn-warning" (click)="cancel()" id="button-cancel">
		{{'webclient.button.cancel' | i18n}}
	</button>
	<button *ngIf="printoutExecuted" class="btn btn-warning" (click)="ok()" id="button-ok">
		{{'webclient.button.ok' | i18n}}
	</button>
</ng-template>
