:host {
	font-size: 0.75rem;
}

/*.param-form {*/
/*	margin: 0.5rem;*/
/*}*/

.form-inline {
	margin-bottom: 1px;
	margin-top: 10px;
	width: 100%;
}

.form-inline .form-label {
	margin-left: 20px;
	justify-content: left;
	font-style: italic;
	margin-bottom: 6px;
}

.form-inline .form-control {
	width: 100%;
}

.output-format-checkbox {
	vertical-align: middle;
	margin-right: 0.3rem;
}

.output-format-label {
	vertical-align: middle;
	margin-bottom: unset;
	font-weight: 600;
}

.printout-item {
	width: 100%;
	padding-bottom: 15px;
}

:host ::ng-deep .ui-autocomplete {
	height: 21px;
}

.form-inline .form-control-checkbox {
	vertical-align: middle;
	height: 13px;
	width: auto;
}

input[type="checkbox"] {
	vertical-align: middle;
	height: 13px;
}

.input-wrapper {
	justify-content: left;
	height: 22px;
	margin-left: 20px;
}

input {
	height: 100%;
	padding-left: 0.5rem;
	padding-bottom: 1px;
	padding-top: unset;
	font-size: 0.6875rem;
}

p-autoComplete {
	height: 100%;
	border: 0px;
	margin-right: auto;
	width: 100%;
}

.lov {
	font-size: 0.6875rem;
	margin-left: 20px;
}

.btn-primary:disabled:hover {
	background-color: rgb(17, 144, 254);;
	border-color: rgb(193, 193, 193);
}

div.printout-item p-autocomplete {
	display: inline;
}
