:host, :host .form-control {
    font-size: 0.75rem;
    flex: 1;
}

#searchbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

#searchbar ::ng-deep #search-editor-button-container {
    flex-grow: 1;
}

#task-list-label {
	vertical-align: middle;
	line-height: 30px;
}

#searchfilter-favorites-container {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
}

.searchfilter-favorite-button-selected {
    color: black;
}

.searchfilter-favorite-button-selected i {
    color: black;
}

.searchfilter-favorite-button-unselected {
    color: darkgray;
}

.searchfilter-favorite-button-unselected i {
    color: dimgray;
}

.searchfilter-favorite-button {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 3px;
    font-size: .75rem;
}

.searchfilter-favorite-button:hover {
    color: #0275d8 !important;
    cursor: pointer;
}

.searchfilter-favorite-button i {
    font-size: 1rem;
    margin-right: 2px;
}

.searchfilter-favorite-button:hover i {
    color: inherit;
}

.red-triangle-topright {
    width: 0;
    height: 0;
    border-top: 6px solid indigo;
    border-left: 6px solid transparent;
    right: 4px;
    top: -5px;
    opacity: .5;
    position: relative;
}
