<div id="searchbar">

	<nuc-search-editor-button
	></nuc-search-editor-button>

	<nuc-text-search
			[eo]="eo"
			[meta]="meta"
	></nuc-text-search>

	<div *ngIf="taskListEntityMeta && getTaskListName()"
	     (mouseover)="mouseOverTaskListName = true"
	     (mouseleave)="mouseOverTaskListName = false"
		id="task-list-label">
		{{'webclient.search.taskList' | i18n}}{{getTaskListName()}}
		<button id="remove-task-list-filter"
		        class="btn btn-sm btn-link p-0"
		        [ngStyle]="{visibility: mouseOverTaskListName !== true ? 'hidden' : 'unset'}"
		        (click)="removeTaskListFilter()"
		>
			<i class="fa fa-fw fa-times-circle" aria-hidden="true"></i>
			<span class="fas sr-only">{{'common.button.delete' | i18n}}</span>
		</button>
	</div>

	<div *ngIf="hasFavoriteSearchfilters()"
		id="searchfilter-favorites-container">
		<span
				*ngFor="let searchfilter of getFavoriteSearchfilters()"
				class="searchfilter-favorite-button {{ getSearchfilterElementClass(searchfilter) }}"
				[ngClass]="{'searchfilter-favorite-button-selected': isSelectedSearchfilter(searchfilter),
							'searchfilter-favorite-button-unselected': !isSelectedSearchfilter(searchfilter)}"
				(click)="selectSearchfilter(searchfilter)">
			<i *ngIf="searchfilter.content.favoriteIcon"
		        class="material-icons" aria-hidden="true">{{ searchfilter.content.favoriteIcon }}</i>
			{{ searchfilter.name }}
			<span
					[ngStyle]="{visibility: searchfilter.dirty !== true ? 'hidden' : 'unset'}"
					class="red-triangle-topright"></span>
		</span>
	</div>

</div>
