<nuc-modal-dialog [title]="'Einstellungen'">
	<div>

		<label for="datechooser-From" style="margin-left: 0em; font-size: 13px;">{{'webclient.planningTable.time.from' | i18n}}: </label>
		<nuc-datechooser #chooserFrom style="width: 6em; margin-left: 0.5em;"
		                 id="datechooser-From"
		                 [model]="viewConfiguration.dateFrom"
		                 (keyup.enter)="onFromPickerLeft()"
		                 (onPickerClose)="onFromPickerLeft()"
		                 (focusout)="onFromPickerLeft()"></nuc-datechooser>

		<!--		Datechooser Until-->
		<label for="datechooser-Until" style="margin-left: 0em; font-size: 13px;">{{'webclient.planningTable.time.until' | i18n}}: </label>
		<nuc-datechooser #chooserUntil style="width: 6em; margin-left: 0.5em;"
		                 id="datechooser-Until"
		                 [model]="viewConfiguration.dateUntil"
		                 (keyup.enter)="onUntilPickerLeft()"
		                 (onPickerClose)="onUntilPickerLeft()"
		                 (focusout)="onUntilPickerLeft()"></nuc-datechooser>

		<label for="nuclosCurrentTimeMode" style="margin-left: 0em; font-size: 13px;">{{'webclient.planningTable.time.mode' | i18n}}: </label>
		<div class="dropdown" style="margin-left: 0.0em;">
			<button id="nuclosCurrentTimeMode" class="btn btn-secondary btn-sm dropdown-toggle"
			        style="background-color: white; color: black; width: 100%;"
			        data-bs-toggle="dropdown"
			        aria-haspopup="true"
			        aria-expanded="false"
			        pTooltip="{{'webclient.planningTable.time.mode.current' | i18n}}"
			        [tooltipOptions]="tooltipDefaults">
				<span>{{viewConfiguration.baseUnit.nameKey | i18n}}</span>
			</button>
			<div class="dropdown-menu">
				<div *ngFor="let timeMode of timeModes;">
					<a class="dropdown-item time-item"
					   id="{{timeMode.nameKey.replace('webclient.planningTable.time.mode.', '')}}"
					   style="color: black;"
					   tabindex="0"
					   aria-haspopup="true"
					   (click)="planningTableComponent.setBaseUnit(timeMode)"
					>
						<span>{{timeMode.nameKey | i18n}}</span>
					</a>
				</div>
			</div>
		</div>

		<label for="nuclosCurrentFilter" style="margin-left: 0em; font-size: 13px;">{{'webclient.planningTable.time.mode' | i18n}}: </label>
		<div class="dropdown" style="">
			<button id="nuclosCurrentFilter" class="btn btn-secondary btn-sm dropdown-toggle"
			        style="background-color: white; color: black; width: 100%;"
			        data-bs-toggle="dropdown"
			        aria-haspopup="true"
			        aria-expanded="false"
			        pTooltip="{{'webclient.planningTable.filter.current' | i18n}}"
			        [tooltipOptions]="tooltipDefaults">
				<span>
					{{currentFilter ? currentFilter.filterName : 'webclient.planningTable.filter.none' | i18n}}
				</span>
			</button>
			<div class="dropdown-menu">
				<div *ngFor="let filter of searchFilters;">
					<a class="dropdown-item"
					   style="color: black;"
					   tabindex="0"
					   aria-haspopup="true"
					   (click)="currentFilter = filter; planningTableComponent.setSearchFilter(filter)"
					>
						<span>{{filter ? filter.filterName : 'webclient.planningTable.filter.none' | i18n}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</nuc-modal-dialog>
