<label
	class="mb-0"
	[attr.name]="getNameForHtml()"
	[ngStyle]="getStyle()"
>
	<span class="pre" [innerHTML]="getText()"></span>
</label>
<nuc-toggletip [forId]="getId()" [textValue]="tooltip" *ngIf="!tooltipDisabled && !isHidden"></nuc-toggletip>
