<html>
<head>
    <title>Summary</title>
</head>
<body>
Nuclos will be installed in <b>${server\.home}</b><br/><br/>
<b>Database settings:</b><br/>
<#if .data_model["database.setup"] == "use">
	An existing database will be used.<br/>
	Database adapter: <b>${database\.adapter}</b><br/>
	Driver jar-file: <b>${database\.driverjar}</b><br/>
	Host: <b>${database\.server}</b><br/>
	Port: <b>${database\.port}</b><br/>
	Database name: <b>${database\.name}</b><br/>
</#if>

<#if .data_model["database.setup"] == "install">
	PostgreSQL will be installed and a new database will be set up.<br/>
	PostgreSQL installation path: <b>${postgres\.prefix}</b><br/>
	PostgreSQL data path: <b>${postgres\.datadir}</b><br/>
	Port: <b>${database\.port}</b><br/>
	Database name: <b>${database\.name}</b><br/>
</#if>

<#if .data_model["database.setup"] == "setup">
    A new database will be set up.<br/>
	Host: <b>${database\.server}</b><br/>
	Port: <b>${database\.port}</b><br/>
	Superuser: <b>${postgres\.superuser}</b><br/>
	Database name: <b>${database\.name}</b><br/>
</#if>

<#if .data_model["database.setup"] == "embedded">
    An embedded H2 database will be used. (beta)<br/>
</#if>

User name: <b>${database\.username}</b><br/>
Schema: <b>${database\.schema}</b><br/>

<#if (.data_model["database.setup"] == "install") || (.data_model["database.setup"] == "use") || (.data_model["database.setup"] == "setup") >
	Tablespace: <b>${database\.tablespace}</b><br/>
	Tablespace location: <b>${postgres\.tablespacepath!"(not set)"}</b><br/>
	Connection pool size: <b>${database\.connection\.pool\.size}</b><br/>
	Connection pool wait in seconds: <b>${database\.connection\.pool\.wait\.seconds}</b><br/>
	Connection init: <b>${database\.connection\.init}</b><br/>
</#if>

<#if .data_model["database.setup"] == "use">
	Index tablespace: <b>${database\.tablespace\.index}</b><br/>
	MSSQL transaction isolation: <b>${database\.mssql\.isolation}</b><br/>
</#if>

<br/>
<b>Server settings:</b><br/>
Java path: <b>${server\.java\.home}</b><br/>
Instance name: <b>${server\.name}</b><br/>
Http port: <b>${server\.http\.port}</b><br/>
Https port: <b>${server\.https\.port}</b><br/>
AJP port: <b>${server\.ajp\.port}</b><br/>
Shutdown port: <b>${server\.shutdown\.port}</b><br/>
Connection thread pool size: <b>${server\.connection\.thread\.pool\.size}</b><br/>
Heap size: <b>${server\.heap\.size}</b><br/>

<#if .data_model["database.setup"] == "embedded" || .data_model["database.setup"] == "use">
	Development environment: <b>${server\.development\.enabled}</b><br/>
	Debug port: <b>${server\.development\.debugport}</b><br/>
	JMX Port: <b>${server\.development\.jmxport}</b><br/>
</#if>

Launch on system start: <b>${server\.launch\.on\.startup}</b><br/><br/>

<#if (.data_model["server.cluster.mode"] == "true")>
	<b>Cluster settings:</b><br/>
	Node id: <b>${server\.cluster\.node\.id}</b><br/>
	Node type: <b>${server\.cluster\.node\.type}</b><br/>
	Node protocol: <b>${server\.cluster\.node\.protocol}</b><br/>
	Node hostname: <b>${server\.cluster\.node\.hostname}</b><br/>
	Node port: <b>${server\.cluster\.node\.port}</b><br/>
	Node context path: <b>${server\.cluster\.node\.context}</b><br/>
	Load balancer protocol: <b>${server\.cluster\.balancer\.protocol}</b><br/>
	Load balancer hostname: <b>${server\.cluster\.balancer\.hostname}</b><br/>
	Load balancer port: <b>${server\.cluster\.balancer\.port}</b><br/>
	Load balancer context path: <b>${server\.cluster\.balancer\.context}</b><br/><br/>
</#if>

<b>Client settings</b><br/>
Singleinstance: <b>${client\.singleinstance}</b><br/>
Webclient: <b>${client\.webclient}</b><br/>
Richclient: <b>${client\.richclient}</b><br/>
Launcher: <b>${client\.launcher}</b><br/>
Serverhost: <b>${client\.serverhost}</b><br/>
JRE: <b>${client\.jre}</b>
</body>
</html>
